@using UCosmic.Web.Mvc
@{
    ViewBag.Title = "Institutional Agreement";
}
@section bib
{
    @{
        var currentBib = ViewBag.Id == 0 ? "new" : "edit";
    }
    <nav class="bib hide" data-current-bib="@currentBib">
        @Html.Partial(MVC.Agreements.Views._Bib, new ViewDataDictionary { { "Edit", currentBib == "edit" ? true : (bool?)null } })
    </nav>
}
@*<script data-main="../scripts/main.js" src="~/scripts/require.js"></script>*@
@section scripts
{

    <script data-main="../../scripts/viewmodels/agreements/RequireAgreement.js" src="~/scripts/require/require.js"></script>

    @*     @Scripts.Render("~/bundles/agreements")
  @Scripts.Render("~/bundles/establishmentSearch")*@
}
<div class="content fixed to-top" data-current-module="agreements" id="LoadingPage">
    <div class="on-left from-top">
        <header>
            <h1>
                <p data-bind="visible: spinner.isVisible">
                    <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                    <strong>Loading page...</strong>
                </p>
            </h1>
        </header>
    </div>
</div>

<div class="content fixed to-top" data-current-module="agreements" id="allParticipants" style="visibility: hidden">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <section id="participants">
                <header>
                    <h2>
                        Participants
                    </h2>
                </header>
                <div data-bind="visible: isBound" style="display: none;">
                    <ul data-bind="foreach: participants">
                        <li data-bind="element: 'participantEl'">
                            <div class="typed-item">
                                <a title="Remove this participant" data-bind="click: $root.removeParticipant"><i class="red minus on-right"></i></a>
                                <div class="type">
                                    <span data-bind="visible: isOwner">Home</span>
                                    <span data-bind="visible: !isOwner()">Partner</span>
                                </div>
                                <div class="item">
                                    <div>
                                        <strong data-bind="text: establishmentTranslatedName"></strong>
                                        <span data-bind="visible: $root.officialNameDoesNotMatchTranslation">(<span data-bind="    text: establishmentOfficialName"></span>)</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <footer>
                    <a href="" data-bind="click: $root.addParticipant" class="button">
                        <i class="green plus"></i>
                        <span class="text">Add a participant</span>
                    </a>
                </footer>
            </section>

            <section id="basicInfo">
                <header>
                    <h2>
                        Basic Info
                    </h2>
                </header>
                <div class="field-table w690-l190-v500">
                    <div class="field-row">
                        <div class="field-label-top">
                            <label>Umbrella agreement</label><i>(optional, public visibility)</i>
                        </div>
                        <div class="field-input-label-top">
                            <select  data-bind="options: uAgreements(), 
							    optionsValue: 'id',
							    optionsText: 'name', value: uAgreementSelected">
                            </select>
                        </div>
                        <div class="field-label-description">Indicate whether this agreement falls under an umbrella or parent agreement..</div>
                    </div>
                    <div class="field-row">
                        <div class="field-label-top required">
                            <label>Agreement type</label><i>(required, public visibility)</i>
                        </div>
                        <div class="field-input-label-top" data-bind="visible: !isCustomTypeAllowed()">
                            
                            <select  data-bind="options: typeOptions(), 
							    optionsValue: 'id',
							    optionsText: 'name', value: typeOptionSelected">
                            </select>
                        </div>
                        <div class="field-input-label-top" data-bind=" visible: isCustomTypeAllowed">
                            <input id="typeOptions" type="text" placeholder="[None]" 
                                   data-bind="value: typeOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$typeOptions'" />
                        </div>
                        <div data-bind="visible: isCustomTypeAllowed" class="field-label-description">Select from the drop-down list of pre-existing agreement types or enter a custom one in the text box above.</div>
                        <div data-bind=" visible: !isCustomTypeAllowed()" class="field-label-description">Select from the drop-down list of pre-existing agreement types.</div>
                    </div> 
                    <div class="field-row">
                        <div class="field-label-top">
                            <label>Nickname</label><i>(optional, public visibility)</i>
                        </div>
                        <div>
                            <input type="text" data-bind="value: nickname" placeholder="[Nickname for this agreement]"  />
                        </div>
                        <div class="field-label-description">The nickname will help you locate and identify this agreement in other drop-down menus.</div>
                    </div>
                    <div class="field-row">
                        <div class="field-label-top">
                            <label>Content</label><i>(optional, public visibility)</i>
                        </div>
                        <div>
                            <input type="text" data-bind="value: nickname" placeholder="[Nickname for this agreement]" id="agreementContent"  />
                        </div>
                        <div class="field-label-description">Optionally enter a description of the content of this agreement.</div>
                    </div>
                    <div class="field-row">
                        <div class="field-label-top">
                            <label>Private Notes</label><i>(optional, private visibility)</i>
                        </div>
                        <div>
                            <textarea rows="3" class="no-resize" data-bind="value: privateNotes" data-autosize="true" placeholder="[Private notes for this agreement]" ></textarea>
                        </div>
                        <div class="field-label-description">Optionally enter private notes about this agreement.</div>
                    </div>
                </div>
            </section>

            <section id="effectiveDatesCurrentStatus">
                <header>
                    <h2>
                        Effective Dates & Current Status
                    </h2>
                </header>
                <div class="field-table w690-l190-v500">
                    <div class="field-row">
                        <div class="field-column-left">
                             <div class="field-label-top required">
                                <label>Start date</label>
                            </div>
                            <div class="field-input-label-top">
                                <input class="hasDate" type="text" data-bind="value: startDate" placeholder="[Select a start date]"  />
                            </div>
                            <div class="field-label-description">If there is no exact start or effective date for this agreement, enter an approximate date.
                                <br/><i>(required, public visibility)</i>
                            </div>
                        </div>
                        <div class="field-column-right">
                             <div class="field-label-top required">
                                <label>Expiration date</label>
                            </div>
                            <div class="field-input-label-top">
                                <input class="hasDate" type="text" data-bind="value: expDate" placeholder="[Select an expiration date]"  />
                            </div>
                            <div class="field-label-description">The expiration date may determine when you are notified to review this agreement.
                                <br/><i>(required, protected visibility)</i>
                            </div>
                            <div>
                                <input style="margin-top: 10px;"  type="checkbox" data-bind="value: isEstimated" />This expiration date is estimated (agreement should be reviewed by this date)
                            </div>
                        </div>
                    </div>
                    
                    <div class="field-row">
                        <div class="field-column-left">
                             <div class="field-label-top required">
                                <label>Auto renew</label>
                            </div>
                            <div>
                                <input name="autoRenew" type="radio" data-bind="value: autoRenew"/>This agreement is auto-renewable.<br/>
                                <input name="autoRenew" type="radio" data-bind="value: autoRenew"/>This agreement is not auto-renewable.<br/>
                                <input name="autoRenew" type="radio" data-bind="value: autoRenew"/>Auto renew is unknown or open ended. (protected visibility)
                            </div>
                        </div>
                        <div class="field-column-right">
                            <div class="field-label-top required">
                                <label>Current Status</label>
                            </div>
                            <div class="field-input-label-top" data-bind="visible: !isCustomStatusAllowed()">
                                <select  data-bind="options: statusOptions(), 
							        optionsValue: 'id',
							        optionsText: 'name', value: statusOptionSelected">
                                </select>
                            </div>
                            <div class="field-input-label-top" data-bind=" visible: isCustomStatusAllowed">
                                <input id="statusOptions" type="text" placeholder="[None]" 
                                       data-bind="value: statusOptionSelected, valueUpdate: 'afterkeydown', jqObservableElement: '$statusOptions'" />
                            </div>
                            <div data-bind="visible: isCustomStatusAllowed" class="field-label-description">
                                Select from the drop-down list of pre-existing agreement status or enter a custom one in the text box above.
                                <br/><i>(required, public visibility)</i>
                            </div>
                            <div data-bind=" visible: !isCustomStatusAllowed()" class="field-label-description">Select from the drop-down list of pre-existing agreement status.
                                <br/><i>(required, public visibility)</i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Shared.Views._SampleSidebarNav)
            </div>
        </aside>
    </form>
</div>

<div id="estSearch" class="content fixed to-top" style="visibility: hidden">
    <form class="group" data-bind="submit: requestResults">
        <div class="on-left from-top">
            <header>
                <h1 data-bind="text: header">
                    Choose a participant
                </h1>
                <div style="float: right">
                    <a href="#/" id="cancelAddParticipant" class="button">Cancel</a>
                </div>
            </header>
            @Html.Partial(MVC.Establishments.Views._SearchAndResults)
        </div>
        <aside id="asideRootSearch" class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Establishments.Views._SearchSideBar)
            </div>
        </aside>
        <aside id="asideParentSearch" class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Establishments.Views._ParentSearchSideBar)
            </div>
        </aside>
    </form>
</div>


<div id="addEstablishment" class="content fixed to-top" style="visibility: hidden">
    <div data-side-swiper="root" id="establishment_page">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div class="on-left from-top">
                        <header>
                            <h1>
                                Add an establishment
                            </h1>
                            <div style="float: right">
                                <a href="#/" id="cancelAddEstablishment" class="button">Cancel</a>
                            </div>
                        </header>
                        @Html.Partial(MVC.Establishments.Views._FormAndCards)
                    </div>
                    <aside class="on-right from-top" data-fixed-scroll="root">
                        <div data-fixed-scroll="anchor"></div>
                        <div data-fixed-scroll="content">
                            @Html.Partial(MVC.Establishments.Views._FormSideBar)
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

