@using UCosmic.Web.Mvc
@{
    ViewBag.Title = "Institutional Agreement";
}
@section bib
{
    <nav class="bib hide" data-current-bib="agreements">
        @Html.Partial(MVC.Agreements.Views._Bib)
    </nav>
}
@section scripts
{
      @Scripts.Render("~/bundles/agreements")
    @Scripts.Render("~/bundles/establishmentSearch")
}

<div class="content fixed to-top" data-current-module="agreements"  id="allParticipants" >
    <form class="group"  >
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <section id="participants">
                <header>
                    <h2>
                        Participants
                    </h2>
                </header>
                <div data-bind="visible: isBound" style="display: none;">
                    <ul data-bind="foreach: participants">
                        <li data-bind="element: 'participantEl'">
                            <div class="typed-item" >
                                <a title="Remove this participant" data-bind="click: $root.removeParticipant"><i class="red minus on-right"></i></a>
                                <div class="type">
                                    <span data-bind="visible: isOwner">Home</span>
                                    <span data-bind="visible: !isOwner()">Partner</span>
                                </div>
                                <div class="item">
                                    <div>
                                        <strong data-bind="text: establishmentTranslatedName"></strong>
                                        <span data-bind="visible: $root.officialNameDoesNotMatchTranslation">(<span data-bind="    text: establishmentOfficialName"></span>)</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <footer>
                    <a href="" data-bind="click: $root.addParticipant" class="button">
                        <i class="green plus"></i>
                        <span class="text">Add a participant</span>
                    </a>
                </footer>
            </section>
            @*@Html.Partial(MVC.Shared.Views._SampleVerticalContent)*@
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Shared.Views._SampleSidebarNav)
            </div>
        </aside>
    </form>
</div>
            
<div id="estSearch" class="content fixed to-top"  style="display: none">
    <form class="group" data-bind="submit: requestResults">
        <div class="on-left from-top">
            <header>
                <h1>
                    Choose parent establishment
                </h1>
                <div style="float: right">
                    <a href="#/" id="cancelAddParticipant" class="button">Cancel</a>
                </div>
            </header>
            @Html.Partial(MVC.Establishments.Views._SearchAndResults)
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Establishments.Views._SearchSideBar)
            </div>
        </aside>
    </form>
</div>

