@{
    ViewBag.Title = "Search Agreements";
}
@section bib
{
    <nav class="bib hide" data-current-bib="search">
        @Html.Partial(MVC.Agreements.Views._Bib)
    </nav>
}
@section scripts
{

         @Scripts.Render("~/bundles/agreementSearch")
    <script type="text/javascript">

        var agreementSearcdhViewModel = new Agreements.ViewModels.Search();
        ko.applyBindings(agreementSearcdhViewModel, $('#search')[0]);
        agreementSearcdhViewModel.sammy.run();
    </script>
}


<div class="content fixed to-top" data-current-module="agreements" id="publicView" style="display: none">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
           @Html.Partial(MVC.Agreements.Views._PublicViewContent)
        </div>
    </form>
</div>


<div class="content fixed to-top" data-current-module="agreements" id="search">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
           @Html.Partial(MVC.Agreements.Views._SearchAndResults)
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Agreements.Views._SearchSideBar)
            </div>
        </aside>
    </form>
</div>


@*<div class="content fixed to-top" data-current-module="agreements">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <section>
                <header>
                    <h2 data-bind="text: isWorking">Second heading</h2>
                </header>
            </section>
            <div id="google_map_canvas" style="height: 500px;">
            </div>
        </div>
    </form>
</div>*@
