@{
    ViewBag.Title = "Search Agreements";
}
@section bib
{
    <nav class="bib hide" data-current-bib="search">
        @Html.Partial(MVC.Agreements.Views._Bib)
    </nav>
}
@section scripts
{

         @Scripts.Render("~/bundles/agreementSearch")
    <script type="text/javascript">
        //ko.bindingHandlers.stopBinding = {
        //    init: function () {
        //        return { controlsDescendantBindings: true };
        //    }
        //};

        //ko.virtualElements.allowedBindings.stopBinding = true;

        var agreementSearcdhViewModel = new InstitutionalAgreementSearchModel();
        ko.applyBindings(agreementSearcdhViewModel, $('#search')[0]);
    </script>
}

<div class="content fixed to-top" data-current-module="agreements" id="LoadingPage">
    <div class="on-left from-top">
        <header>
            <h1>
                <p data-bind="visible: spinner.isVisible">
                    <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                    <strong>Loading page...</strong>
                </p>
            </h1>
        </header>
    </div>
</div>


<div class="content fixed to-top" data-current-module="agreements" id="search" style="visibility: hidden">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            //@Html.Partial(MVC.Agreements.Views._SearchAgreements)
        </div>
    </form>
</div>


<div class="content fixed to-top" data-current-module="agreements">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <section>
                <header>
                    <h2 data-bind="text: isWorking">Second heading</h2>
                </header>
            </section>
            <div id="google_map_canvas" style="height: 500px;">
            </div>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Agreements.Views._SearchSideBar)
            </div>
        </aside>
    </form>
</div>
