@{
    ViewBag.Title = "Agreement Module Settings";
}
@section bib
{
    <nav class="bib hide" data-current-bib="settings">
        @Html.Partial(MVC.Agreements.Views._Bib)
    </nav>
}
@section scripts
{
    @Scripts.Render("~/bundles/agreementSettings")
    <script type="text/javascript">
        var agreementSettings = new Agreements.ViewModels.Settings();
        ko.applyBindings(agreementSettings, $('[data-current-module=agreements]')[0]);
    </script>

}
<div class="content fixed to-top" data-current-module="agreements" style="margin-bottom: 548px">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <!-- ko stopBinding: true -->
            @Html.Partial(MVC.Agreements.Views._Settings)
            <!-- /ko -->
            <footer id="saveAgreement">
                @* TODO: render these as buttons instead of links with button styles *@
                <a data-bind="click: updateAgreementSettings" class="button">
                    <i class="green plus"></i>
                    <span class="text">Update Agreement Settings</span>
                </a>
                <div class="validationMessage" data-bind="text: deleteErrorMessage, visible: (deleteErrorMessage() != '')" style="display: none;">

                </div>
            </footer>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Agreements.Views._SettingsSidebarNav)
            </div>
        </aside>
    </form>
</div>
