@using UCosmic.Domain.Agreements
@{
    ViewBag.Title = "Search Agreements";
}
@section bib
{
    <nav class="bib hide" data-current-bib="search">
        @Html.Partial(MVC.Agreements.Views._Bib)
    </nav>
}
@section scripts
{

    <script src="~/scripts/oss/linq.js"></script>

    <script src="~/scripts/app/Pager.js"></script>

    <script src="~/scripts/viewmodels/agreements/TableSearch.js"></script>

    <script type="text/javascript">
        var viewModel = new Agreements.ViewModels.TableSearch({
            element: $('[data-current-module=agreements]')[0],
            domain: '@ViewBag.AgreementsDomain',
            visibility: '@ViewBag.AgreementsVisibility',
            route: 'table',
            detailUrl: '@ViewBag.DetailUrl'
        });
        ko.applyBindings(viewModel, viewModel.settings.element);
    </script>

}

<div class="content fixed to-top" data-current-module="agreements">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <div>
                @* KEYWORD TEXT BOX *@
                <div class="field" style="margin-bottom: 0;">
                    <input type="search" placeholder="Find an agreement by name, partner, country, or keyword" data-bind="value: keyword, valueUpdate: 'afterkeydown search'" />
                </div>

                @* ZERO RESULTS MESSAGE *@
                <p data-bind="visible: pager.output.hasNoItems() && !spinner.isVisible()" style="display: none;">
                    There are no results that match your search terms.
                </p>

                @* PAGER STATUS & LOADING SPINNER *@
                <div class="group" style="margin: 1em 0;">
                    <div class="on-left" data-bind="with: pager.output" style="height: 24px;">
                        <div data-bind="visible: hasItems" style="display: none;">
                            <strong>Showing <span data-bind="text: firstNumber"></span>
                                <span data-bind="visible: hasManyItems">- <span data-bind="    text: lastNumber"></span></span>
                                of <span data-bind="text: itemTotal"></span></strong>
                            <span data-bind="visible: hasManyPages">(page
                                @*<span data-bind="text: pageNumber"></span>*@
                                <select data-bind="value: $root.pager.input.pageNumberText, options: $root.pager.input.pages"
                                    style="padding: 0; margin: 0; line-height: 16px; height: auto;">
                                    <option>1</option>
                                </select>
                                of <span data-bind="text: pageCount"></span>)</span>
                        </div>
                    </div>
                    <div class="on-left" data-bind="visible: !pager.output.hasItems()">
                        <div data-bind="visible: spinner.isVisible">
                            <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                            <strong>Loading search results...</strong>
                        </div>
                    </div>
                    <div class="on-right" data-bind="visible: pager.output.hasItems">
                        <div data-bind="visible: spinner.isVisible" style="display: none;">
                            <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                            <strong>Loading search results...</strong>
                        </div>
                    </div>
                </div>

                @* RESULTS *@
                <div data-bind="visible: pager.output.hasItems" style="display: none;">

                    @* TABLE *@
                    <div data-bind="jQuery: '$results'" style="">
                        <table class="data">
                            <colgroup>
                                <col style="width: 75%;" />
                                <col style="width: 25%;" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        Agreement
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="searchResults" data-bind="foreach: pager.items">
                                <tr>
                                    <td>
                                        <a data-bind="attr: { href: detailHref }" title="View this agreement's details" style="display: block; text-decoration: inherit; color: inherit;">
                                            <span data-bind="visible: name" style="display: block;">
                                                <em data-bind="text: name, visible: name"></em>
                                            </span>
                                            <span style="display: block;">
                                                <span data-bind="foreach: partners">
                                                    <strong data-bind="text: establishmentTranslatedName, attr: { title: establishmentOfficialName }">&nbsp;</strong>
                                                    <span data-bind="visible: $index() < $parent.partners().length - 1" style="display: none;">|</span>
                                                </span>
                                            </span>
                                            @{
                                                var badgeMargin = ViewBag.AgreementsVisibility == AgreementVisibility.Private ? "2px 0 0;" : "0";
                                            }
                                            <span style="font-size: 14px; display: block; margin: @badgeMargin;">
                                                @if (ViewBag.AgreementsVisibility == AgreementVisibility.Private)
                                                {
                                                    <span style="font-size: 10px; margin: 0 4px 0 0;" class="badge light-transparent" data-bind="text: status"></span>
                                                }
                                                <span data-bind="text: type" style="vertical-align: middle;">&nbsp;</span>
                                            </span>
                                            <span style="font-size: 14px; display: block;">
                                                <span data-bind="text: startsOnFormatted" style="vertical-align: middle;">&nbsp;</span>
                                                @if (ViewBag.AgreementsVisibility != AgreementVisibility.Public)
                                                {
                                                    <span style="vertical-align: middle;">-</span>
                                                    <span data-bind="text: expiresOnFormatted" style="vertical-align: middle;"></span>
                                                }
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <span data-bind="visible: !hasCountries()">[Unknown]</span>
                                        <span data-bind="text: countryNames"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div data-xbind="visible: lens() === 'map'" style="display: none;">
                        <p>
                            This is a placeholder for the Map data lens. Map data will go here.
                        </p>
                    </div>
                    @*<div data-xbind="visible: lens() === 'tree'">
                        <p>
                            This is a placeholder for the Tree data lens. Tree data will go here.
                        </p>
                    </div>
                    <div data-xbind="visible: lens() === 'grid'">
                        <p>
                            This is a placeholder for the Grid data lens. Grid data will go here.
                        </p>
                    </div>*@
                </div>

            </div>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                <nav class="side">
                    <ul class="top">
                        @if (User.IsInAnyRole(RoleName.AgreementManagers))
                        {
                            <li>
                                <a href="@Url.Action(MVC.Agreements.New())" class="group">
                                    <div class="arrow"></div>
                                    <span class="text">
                                        <img src="~/images/icons/plus/plus-20-green-disc.png" alt="" />
                                        <span>Add New</span>
                                    </span>
                                </a>
                            </li>
                        }
                        <li class="static square-bottom">
                            @if (User.IsInAnyRole(RoleName.AgreementManagers))
                            {
                                <span class="text">Search options</span>
                            }
                            else
                            {
                                <div class="group no-link">
                                    <div class="arrow"></div>
                                    <span class="text">Search options</span>
                                </div>
                            }
                            <div class="content">
                                <div class="field">
                                    <select class="side" data-bind="value: countryCode, options: countryOptions, optionsText: 'name', optionsValue: 'code'">
                                        <option value="any">[Loading...]</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select class="side" data-bind="value: orderBy">
                                        <option value="start-desc">Sort by start date - newest first</option>
                                        <option value="start-asc">Sort by start date - oldest first</option>
                                        @if (@ViewBag.AgreementsVisibility != AgreementVisibility.Public)
                                        {
                                            <option value="expires-desc">Sort by expiration - newest first</option>
                                            <option value="expires-asc">Sort by expiration - oldest first</option>
                                        }
                                        <option value="type-asc">Sort by agreement type A-Z</option>
                                        <option value="type-desc">Sort by agreement type Z-A</option>
                                        @if (@ViewBag.AgreementsVisibility != AgreementVisibility.Public)
                                        {
                                            <option value="status-asc">Sort by agreement status A-Z</option>
                                            <option value="status-desc">Sort by agreement status Z-A</option>
                                        }
                                        <option value="country-asc">Sort by country A-Z</option>
                                        <option value="country-desc">Sort by country Z-A</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select class="side" data-bind="value: pager.input.pageSizeText">
                                        <option value="10">Show 10 results per page</option>
                                        <option value="20">Show 20 results per page</option>
                                        <option value="50">Show 50 results per page</option>
                                        <option value="100">Show 100 results per page</option>
                                        <option value="250">Show 250 results per page</option>
                                    </select>
                                </div>
                                <div class="field" style="display: none;">
                                    <select class="side" data-xbind="value: lens">
                                        <option value="table">Table</option>
                                        <option value="list">List</option>
                                    </select>
                                </div>
                                <div class="field" data-bind="with: pager.input">
                                    <button class="link" data-bind="click: prev, enable: prevAllowed">&lt;&lt; Previous</button>
                                    |
                                    <button class="link" data-bind="click: next, enable: nextAllowed">Next &gt;&gt;</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="bottom">
                        <li class="current">
                            <a href="#" class="group">
                                <div class="arrow"></div>
                                <span class="text">Table</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="group">
                                <div class="arrow"></div>
                                <span class="text">Map</span>
                            </a>
                        </li>
                        @*<li class="">
                            <a href="#" class="group">
                                <div class="arrow"></div>
                                <span class="text">Tree</span>
                            </a>
                        </li>*@
                    </ul>
                </nav>
            </div>
        </aside>
    </form>
</div>

