<div class="stats-sidebar" style="">
    <div class="stats" style="width: 100%">
        <div style="margin-top: 70px; margin-bottom: 16px">
            <div style="display: none; font-size: medium; margin-top: 20px; margin-bottom: 16px" data-bind="visible: selectedPlace() == null">
                <div data-bind="visible: searchType() == 'activities'">
                    <div class="total-count-header">Global Summary: Activities</div>
                </div>
                <div data-bind="visible: searchType() == 'people'">
                    <div class="total-count-header">Global Summary: People</div>
                </div>    
            </div> 
            <div style="display: none; font-size: medium; margin-top: 20px; margin-bottom: 16px" data-bind="visible: selectedPlace() != null">
                <div data-bind="visible: searchType() == 'activities'">
                    <div class="total-count-header" data-bind="text: selectedPlace() + ' Summary: Activities'"></div>
                </div>
                <div data-bind="visible: searchType() == 'people'">
                    <div class="total-count-header" data-bind="text: selectedPlace() + ' Summary: People'"></div>
                </div>  
            </div>
        </div>
        <div>
            <select id="establishmentDropList" style="width: 100%; margin-bottom: 20px"></select>
        </div> 
        
        <div class="statsSideBarTitle" style="margin-bottom: 8px">
            <span>Totals:</span>
        </div> 
        
        <div style="color: black; text-align: center">
            <div style="width: 33%; float: left" data-bind="visible: searchType() == 'activities'">
                <span>Activities</span>
            </div>
            <div style="width: 33%; float: left" data-bind="visible: searchType() == 'people'">
                <span>People</span>
            </div>
            <div style="width: 33%; float: left">
                <span>Degrees</span>
            </div>
            <div style="width: 33%; float: left" data-bind="visible: selectedPlace() == null">
                <span>Locations</span>
            </div>
            <div style="width: 33%; float: left" data-bind="visible: selectedPlace() != null">
                <span>&nbsp;</span>
            </div>
        </div>
        
        <div style="width: 100%; color: black; text-align: center; font-weight: bold">
            <div style="width: 33%; float: left; margin-top: 4px">
                <span data-bind="text: totalCount()"></span>
            </div>
            <div style="width: 33%; float: left; margin-top: 4px">
                <span data-bind="text: degreeCount()"></span>
            </div>
            <div style="width: 33%; float: left; margin-top: 4px" data-bind="visible: selectedPlace() == null">
                <span data-bind="text: totalPlaceCount()"></span>
            </div>
        </div>
        
        <div data-bind="visible: (activityTypes != null) && (activityTypes().length > 0)">         
            <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() == null">
                <div data-bind="visible: searchType() == 'activities'">
                    <span>Global Activity Types</span>
                </div>
                <div data-bind="visible: searchType() == 'people'">
                    <span>Global People by Activity Types</span>
                </div>            
            </div>
            <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() != null">
                <div data-bind="visible: searchType() == 'activities'">
                    <span>Activity Types</span>
                </div>
                <div data-bind="visible: searchType() == 'people'">
                    <span>People by Activity Types</span>
                </div>            
            </div>
        
            <div style="width: 270px">
                <div id="facultystaff-summary-barchart" style="width: 100%; height: 140px"></div>

                @*            <!-- Spinner -->
            <div class="spinnerBox" data-bind="visible: loadCountSpinner.isVisible()">
                <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 100px; height: 20px">
                    <span>
                        <img src="~/images/icons/spinner/spinner-20-blue.gif" alt=""/>
                        <strong>Loading...</strong>
                    </span>
                </div>
            </div>*@

                <div style="position: relative; top: -12px">
                    <div style="margin-left:16px; width: 40px; float: left">
                        <div style="width: 100%; text-align: center" title="Research or Creative Endeavor">
                            @*<img src="../../images/icons/nounproject/noun_project_762_idea.svg" width="32" height="32"/>*@
                            <img src='@Url.Content("~/api/my/employee-module-settings/icon/Research")' width="32" height="32" alt="Research or Creative Endeavor"/>
                        </div>
                    </div>   
                    <div style="margin-left:14px; width: 40px; float: left">
                        <div style="width: 100%; text-align: center" title="Teaching or Mentoring">
                            @*<img src="../../images/icons/nounproject/noun_project_14888_teacher.svg" width="32" height="32"/>*@
                            <img src='@Url.Content("~/api/my/employee-module-settings/icon/Teaching")' width="32" height="32" alt="Teaching or Mentoring"/>
                        </div>
                    </div>  
                    <div style="margin-left:8px; width: 40px; float: left">
                        <div style="width: 100%; text-align: center" title="Award or Honor">
                            @*<img src="../../images/icons/nounproject/noun_project_17372_medal.svg" width="32" height="32"/>*@
                            <img src='@Url.Content("~/api/my/employee-module-settings/icon/Award")' width="32" height="32" alt="Award or Honor"/>
                        </div>
                    </div>
                    <div style="margin-left:12px; width: 40px; float: left">
                        <div style="width: 100%; text-align: center" title="Conference Presentation or Proceeding">
                            @*<img src="../../images/icons/nounproject/noun_project_16986_podium.svg" width="32" height="32"/>*@
                            <img src='@Url.Content("~/api/my/employee-module-settings/icon/Conference")' width="32" height="32" alt="Conference Presentation or Proceeding"/>
                        </div>
                    </div>                       
                    <div style="margin-left:12px; width: 40px; float: left" title="Professional Development, Service or Consulting">
                        <div style="width: 100%; text-align: center">
                            @*<img src="../../images/icons/nounproject/noun_project_401_briefcase.svg" width="28" height="28"/>*@
                            <img src='@Url.Content("~/api/my/employee-module-settings/icon/Professional")' width="28" height="28" alt="Professional Development, Service or Consulting"/>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
      
        <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() == null">
            <div data-bind="visible: searchType() == 'activities'">
                <span>Global Activity Trend</span>
            </div>
            <div data-bind="visible: searchType() == 'people'">
                <span>Global People Trend</span>
            </div>            
        </div>
        <div class="statsSideBarTitle" style="margin-top: 60px" data-bind="visible: selectedPlace() != null">
            <div data-bind="visible: searchType() == 'activities'">
                <span>Activity Trend </span>
            </div>
            <div data-bind="visible: searchType() == 'people'">
                <span>People Trend</span>
            </div>            
        </div>

        <div style="width: 270px">
            <div id="facultystaff-summary-linechart" style="width: 100%; height: 140px"></div>

@*            <!-- Spinner -->
            <div class="spinnerBox" data-bind="visible: loadTrendSpinner.isVisible()">
                <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 100px; height: 20px">
                    <span>
                        <img src="~/images/icons/spinner/spinner-20-blue.gif" alt=""/>
                        <strong>Loading...</strong>
                    </span>
                </div>
            </div>   *@
        </div>

    </div>
</div>