 @model UCosmic.Web.Mvc.Models.FacultyStaffInstitutionInfoModel

@section bib
{
    <nav id="bib-faculty-staff" class="bib hide" data-current-bib="summary">
        @Html.Partial(MVC.FacultyStaff.Views._Bib)
    </nav>
}

@section styles
{
    <style>

        .field .data-items li {
            font-size: small; 
            padding-left: 5px;
        }

        .static .content .field ul.data-items li div span {
         padding-left: 5px;
        }

        input[type="button"]#activitiesButton,
        input[type="button"]#peopleButton {
            height: 20px;
            width: 70px;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            font-size: 12px;
            border-radius: 0 0 0 0;
            border-color: black;
            border-style: solid;
            border-width: 1px;
            color: black !important;
            background-color: white;
        }

        .geochartTooltip {
            line-height: 1;
            font-size: small;
            width: 120px;
            height: 40px;
            z-index: 3;
            padding: 6px !important;
        }

        .geochartTooltip span {
            font-weight: bold;
        }

        .customPlaceText {
            width: 100%;
            text-align: center;
            color: mediumblue;
            font-size: small;
        }

        .statsSideBarTitle {
            font-family: 'Arial';
            font-size: 14px;
            font-weight: bold;
            color: black;
        }

        .institutionSelectList {
            width: 680px;
            height: 600px;
            overflow-y: auto;
            font-size: large;
            border-radius: 0 0 0 0;
            border-color: black;
            border-style: solid;
            border-width: 1px;
        }

        .spinnerBox {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 120px;
            height: 30px;
            border-width: 1px;
            border-style: dotted;
            border-color: black;
            color: black;
            background-color: white;
            z-index: 10
        }

        .googleMarkerLabel {
            color: white;
            background-color: transparent;
            font-family: 'Lucida Grande', 'Arial', sans-serif;
            font-size: 10px;
            text-align: center;
            width: 10px;
            white-space: nowrap;
        }

        #antarctica:hover {
            background-image: url('../../images/icons/maps/antarcticaLabeledHover.png');
        }
        
        #pacificOcean:hover {
            background-image: url('../../images/icons/maps/pacificOceanHover.png');
        }
        
        #atlanticOcean:hover {
            background-image: url('../../images/icons/maps/atlanticOceanHover.png');
        }
        
        #indianOcean:hover {
            background-image: url('../../images/icons/maps/indianOceanHover.png');
        }
        
        #southernOcean:hover {
            background-image: url('../../images/icons/maps/southernOceanHover.png');
        }
        
        #gulfOfMexico:hover {
            background-image: url('../../images/icons/maps/gulfOfMexicoHover.png');
        }
        
        #caribbean:hover {
            background-image: url('../../images/icons/maps/caribbeanHover.png');
        }
        
        #arcticOcean:hover {
            background-image: url('../../images/icons/maps/arcticOceanHover.png');
        }

        /* Attempt top round corners.  Fail. 
        
        nav.side > ul > li:first-child > a > .text,
        nav.side > ul > li:first-child > .text,
        .navTopSeg  
        
        #searchSideTop {
            -webkit-border-radius: 8px 8px 0 0 !important;
            -moz-border-radius: 8px 8px 0 0 !important;
            border-radius: 8px 8px 0 0 !important;
        } */

        /* Begin Kendo UI widget theming */
        
        .kendoSideWidget .k-widget .k-multiselect-wrap {
            border-color: #999999;
            border-radius: 0 0 0 0;
            border-style: solid;
            border-width: 0;
            margin: 0; 
            height: 16px;
            -moz-box-sizing: border-box;
            font-size: 14px;
            padding: 0;
            width: 100%;
            color: #333333;
        }


        .kendoSideWidget .k-widget .k-picker-wrap input.kendoSideWidget,
        .kendoSideWidget .k-widget .k-dropdown-wrap .k-input,
        .kendoSideWidget .k-widget .k-multiselect-wrap .k-input,
        .kendoSideWidget  .k-widget .k-picker-wrap .k-input {
            border-color: #999999;
            border-radius: 0 0 0 0;
            border-style: solid;
            border-width: 1px;
            margin: 0; 
            height: 16px;
            min-height: 16px;
            -moz-box-sizing: border-box;
            font-size: 14px;
            line-height: 18px;
            padding: 1px;
            width: 100%;
            color: #333333;
        }

        .kendoSideWidget .k-widget .k-dropdown-wrap .k-input {
            border-color: #bbbbbb;
            border-radius: 0 4px 0 0;
            border-style: solid;
            border-width: 1px;
            margin-left: 1px;
            margin-top: 1px;
            height: 22px;
            min-height: 20px;
            -moz-box-sizing: border-box;
            font-size: 14px;
            line-height: 20px;
            padding: 1px;
            width: 100%;
            color: #333333;
        }

        .kendoSideWidget .k-widget .k-picker-wrap .k-select .k-icon,
        .kendoSideWidget .k-widget .k-dropdown-wrap .k-select .k-icon {
            vertical-align: top;
        }

        .kendoSideWidget .k-widget .k-picker-wrap .k-select .k-icon {
            padding-top: 2px;
        }

        .kendoSideWidget .kendoSideDate {
            border-color: #bbbbbb;
            height: 22px; 
            width: 120px;
        }
        
        .kendoSideWidget textarea#tagsTextbox {
            border-color: #999999;
            border-radius: 0 0 0 0;
            border-style: solid;
            border-width: 1px;
            margin: 0; 
            height: 24px;
            min-height: 24px;
            -moz-box-sizing: border-box;
            font-size: 14px;
            line-height: 23px;
            padding: 0 0 0 2px;
            width: 100%;
            color: #333333;
        }

        
        .kendoSideWidget .k-widget .k-dropdown-wrap {
            min-height: 24px;
            height: 24px;
        }
        
        .kendoSideWidget .k-widget .k-multiselect-wrap {
            min-height: 25px;
            height: 25px;
        }

        .kendoSideWidget .k-widget .k-multiselect-wrap .k-input {
            border-color: #bbbbbb;
            position: relative;
            top: 5px;
            left: 2px;
        }
        
        .kendoSideWidget .k-widget .k-multiselect-wrap li {
            float: left;
            line-height: 18px;
            margin: 1px 0 1px 1px;
            padding: 1px 2px 1px 2px;
        }
        
         #searchReset.content {
            display: inline !important;	
            float: right;
        }

        #searchResetButton.kendoSideWidget {
            font-size: 10px;
            width: auto;
            margin: 1px 5px 1px 5px;
            padding: 2px 3px;
            float: right;
            position: relative;
            top: -25px;
            display: inline !important;	
        }

    </style>
    
    <!--[if gte IE 8]>
    <style type="text/css">
        .kendoSideWidget .k-widget .k-multiselect-wrap .k-input {
            border-color: #bbbbbb;
            position: relative;
            top: 3px;
            left: 2px;
        }
    </style>
    <![endif]-->
    
}

@section scripts
{
    @Scripts.Render("~/bundles/employees")

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript' src="../../scripts/google/markerwithlabel.js"></script>
 
    <script type="text/javascript">

        /* ----- Google API needs to be called outside of JQuery ready(). ----- */
        google.load('visualization', '1', { 'packages': ['corechart', 'geochart'] });
        google.setOnLoadCallback(function() {
            $(document).ready(function() {

                $("#main").css("height", 760);

                var institutionInfo = @Html.Raw(Json.Encode(Model));

                if (institutionInfo.InstitutionId == 0) {
                    $("#faculty-staff-select").show();

                    var facultyAndStaffSelectViewModel = new ViewModels.Employees.FacultyAndStaffSelect();
                    facultyAndStaffSelectViewModel.load()
                        .done(function() {
                            var rootElement = $("#faculty-staff-select")[0];
                            ko.applyBindings(facultyAndStaffSelectViewModel, rootElement);
                        });

                    return;
                }

                $("#faculty-staff").show();

                var facultyAndStaffViewModel = new ViewModels.Employees.FacultyAndStaff(institutionInfo);
                facultyAndStaffViewModel.load()
                    .done(function() {
                        facultyAndStaffViewModel.google = google; //window["google"];

                        facultyAndStaffViewModel.loadSpinner.stop();

                        facultyAndStaffViewModel.setupWidgets("location", "fromDate", "toDate", "establishmentDropList",
                            "campusDropList", "collegeDropList", "departmentDropList");

                        var rootElement = $("#faculty-staff")[0];
                        ko.applyBindings(facultyAndStaffViewModel, rootElement);

                        var locationSelector = $("#location").data("kendoMultiSelect");
                        locationSelector.setDataSource(new kendo.data.DataSource({
                            serverFiltering: true,
                            transport: {
                                read: function(options) {
                                    $.ajax({
                                        url: App.Routes.WebApi.Places.get(),

                                        /*
                                                Bug - There's a bug in KendoUI Multiselect whereby the datasource.read()
                                                gets called as soon as the widget gets focus.  This is bad as the Place
                                                service will respond with all the Places in the DB since there is no 
                                                filter being provided.  Our workaround is to trap the empty filter
                                                and send a special character for the service to ignore.  Also,
                                                If options.success() is not actually call, the widget stops functioning
                                                altogether.
                                        */
                                        data: {
                                            keyword: ((options.data.filter != null) &&
                                                (options.data.filter.filters != null) &&
                                                (options.data.filter.filters.length > 0) &&
                                                (options.data.filter.filters[0].value != null)) ?
                                                options.data.filter.filters[0].value : "~"
                                        },
                                        success: function(results) {
                                            options.success(results);
                                        }
                                    });
                                }
                            }
                        }));

                        facultyAndStaffViewModel.setupValidation();
                        facultyAndStaffViewModel.setupSubscriptions();
                        facultyAndStaffViewModel.setupMaps();
                        facultyAndStaffViewModel.setupRouting();
                    })
                    .fail(function(jqXhr, textStatus, errorThrown) {
                        alert(textStatus + "|" + errorThrown);
                    });
            });
        });
    </script>    
}

<div id="faculty-staff-select" class="content fixed to-top" style="display: none" data-current-module="employees">
    <div class="on-left from-top">
        <header>
            <h1>select institution</h1>
        </header>
               
        <div class="institutionSelectList">
            <ul data-bind="template: { name: 'institutions-template', foreach: institutions.items }"></ul>
        </div>
    </div>
</div>

<script type="text/html" id="institutions-template">
    <li>
        <a href="#" data-bind="attr: { href: $parent.selectInstitutionUrl(id()) }">
            <span data-bind="text: officialName()"></span>
        </a>
    </li>
</script>

<div id="faculty-staff" class="content fixed to-top" style="display: none" data-current-module="employees"  data-fixed-scroll="root">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1 id="pageTitle">Professional Engagement Summary</h1>
            </header>
               
            <div style="width: 680px; height: 500px">
            
                <!-- H E A T M A P -->
                <div style="display: none" data-bind="visible: isHeatmapVisible()">
                    <div style="width: 100%; height: 30px; text-align: right">
                        <span style="float: left" data-bind="click: function(item,event) { expertClickHandler(item,event); }">
                            <span style="margin-right: 2px; margin-top: 2px">Find an Expert</span>
                            <img src='@Url.Content("~/api/my/employee-module-settings/icon/FindAnExpertIcon.svg")' width="28" height="28" alt="Find an Expert"/>
                        </span>                
                        <span style="float: right" data-bind="visible: selectedPlace() != null, click: function(item,event) { globalViewClickHandler(item,event); }">
                            <span style="margin-right: 2px; margin-top: 4px;">Return to Global View</span>
                            <img style="padding-top: 2px" src='@Url.Content("~/api/my/employee-module-settings/icon/GlobalViewIcon.png")' alt="Global View"/>
                        </span>
                    </div>
                    <div style="position: relative">
                    
                        <div style="background-color: #ACCCFD; width: 680px; height: 500px"></div>
                    
                        <div style="position: absolute; background-color: transparent; width: 680px; height: 500px; top: 0; left: 0; z-index: 1"
                             data-bind="visible: !loadSpinner.isVisible() && (mapRegion() === 'world')">
                        
                            <!-- Antarctica -->
                            <div style="position: absolute; left: 340px; bottom: 0;">                   
                                <img src="~/images/icons/maps/antarcticaLabeled.png"> 
                            </div>
                        
                            <!-- Pacific Ocean -->
                            <div style="position: absolute; left: 68px; top: 349px; width: 57px">
                                <div style="width: 100%; text-align: center">
                                    <img width="57" height="26" src="~/images/icons/maps/pacificOcean.png"> 
                                </div>
                            </div>
                        
                            <!-- Atlantic Ocean -->
                            <div style="position: absolute; left: 236px; top: 271px; width: 57px">
                                <div style="width: 100%; text-align: center">
                                    <img width="57" height="26" src="~/images/icons/maps/atlanticOcean.png"> 
                                </div>
                            </div>
                        
                            <!-- Indian Ocean -->
                            <div style="position: absolute; left: 456px; top: 381px; width: 57px">
                                <div style="width: 100%; text-align: center">
                                    <img width="57" height="26" src="~/images/icons/maps/indianOcean.png"> 
                                </div>
                            </div>

                         
                            <!-- Southern Ocean -->
                            <div style="position: absolute; left: 267px; top: 441px; width: 57px">
                                <div style="width: 100%; text-align: center">
                                    <img width="57" height="26" src="~/images/icons/maps/southernOcean.png"> 
                                </div>
                            </div>
                          
                            <!-- Gulf of Mexico -->
                            @*          <div data-bind="visible: !loadSpinner.isVisible()" style="position: absolute; left: 157px; top: 289px; width: 37px; z-index: 3;">
		                                    <div style="width: 100%; text-align: center">
			                                    <img width="37" height="18" src="../../images/buttonGraphics/gulfOfMexico.png"> 
		                                    </div>
	                                    </div> *@                     
                           
                            <!-- Caribbean -->
                            <div style="position: absolute; left: 188px; top: 309px; width: 51px">
                                <div style="width: 100%; text-align: center">
                                    <img width="72" height="9" src="~/images/icons/maps/caribbean.png" > 
                                </div>
                            </div>

                            <!-- Arctic Ocean -->
                            <div style="position: absolute; left: 319px; top: 23px; width: 57px">
                                <div style="width: 100%; text-align: center">
                                    <img width="57" height="26" src="~/images/icons/maps/arcticOcean.png"> 
                                </div>
                            </div>             
                        </div>

                        <!-- GeoChart -->
                        <div id="heatmap" style="position: absolute; top: 0; left: 0; z-index: 2"></div>
                    
                        <div data-bind="visible: mapRegion() === 'world'">
                            <!-- Antarctica Title Phantom -->
                            <div id="antarctica" style="position: absolute; left: 340px; top: 465px; width:285px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Antarctica'); }">
                                <img width="285" height="35" src="~/images/transparent.png">
                            </div>
                    
                            <!-- Pacific Ocean Title Phantom -->
                            <div id="pacificOcean" style="position: absolute; left: 68px; top: 349px; width: 57px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Pacific Ocean'); }">
                                <img src="../../images/transparent.png" width="57" height="26"> 
                            </div>
                    
                            <!-- Atlantic Ocean Title Phantom -->
                            <div id="atlanticOcean" style="position: absolute; left: 236px; top: 271px; width: 57px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'North Atlantic Ocean'); }">
                                <img src="../../images/transparent.png" width="57" height="26"/>
                            </div>
                       
                            <!-- Indian Ocean Title Phantom -->
                            <div id="indianOcean" style="position: absolute; left: 456px; top: 381px; width: 57px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Indian Ocean'); }">
                                <img src="../../images/transparent.png" width="57" height="26"/>
                            </div>
                  
                            <!-- Southern Ocean Title Phantom -->
                            <div id="southernOcean" style="position: absolute; left: 267px; top: 441px; width: 57px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Southern Ocean'); }">
                                <img src="../../images/transparent.png" width="57" height="26"/>
                            </div>

                            <!-- Gulf of Mexico-->
                            <div style="position: absolute; left: 157px; top: 289px; width: 37px; height: 18px; z-index: 3"
                                 data-bind="visible: !loadSpinner.isVisible()">
                                <div style="width: 100%; text-align: center">
                                    <img width="37" height="18" src="~/images/icons/maps/gulfOfMexico.png" > 
                                </div>
                            </div>
                    
                            <!-- Gulf of Mexico Title Phantom  -->
                            <div id="gulfOfMexico" style="position: absolute; left: 157px; top: 293px; width: 37px; height: 18px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Gulf of Mexico'); }" valign="top">
                                <img src="~/images/transparent.png" width="37" height="18"/>
                            </div>
                    
                            <!-- Caribbean Title Phantom -->
                            <div id="caribbean" style="position: absolute; left: 188px; top: 317px; width: 72px; height: 9px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Caribbean Sea'); }">
                                <img src="~/images/transparent.png" width="51" height="9"/>
                            </div>


                            <!-- Arctic Ocean Title Phantom -->
                            <div id="arcticOcean" style="position: absolute; left: 319px; top: 23px; width: 57px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Arctic Ocean'); }">
                                <img src="~/images/transparent.png" width="57" height="26"/>
                            </div>
                        </div>

                        <!-- Activities/People Buttons -->
                        <div id="" style="position: absolute; margin: 5px; right: 0; top: 0; z-index: 3">
                            <input type="button" id="activitiesButton" value="Activites" style="float: left" data-bind="click: function(data, event) { selectSearchType('activities'); }"/>
                            <input type="button" id="peopleButton" value="People" style="float: left; border-left-style: none" data-bind="click: function(data, event) { selectSearchType('people'); }"/>
                        </div>                     
                    
                        <!-- Spinner -->
                        <div class="spinnerBox" data-bind="visible: loadSpinner.isVisible() && isHeatmapVisible()">
                            <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 100px; height: 20px">
                                <span>
                                    <img src="~/images/icons/spinner/spinner-20-blue.gif" alt=""/>
                                    <strong>Loading...</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                       
                <!-- P O I N T M A P -->
                <div id="pointmapDiv" style="position: relative; display: none" data-bind="visible: isPointmapVisible() && (lens() == 'map')">
                    <div id="pointmap" style="position: absolute; top: 0; left: 0; width: 680px; height: 500px"></div>
                
                    <!-- Spinner -->
                    <div class="spinnerBox" style="position: absolute; top:400px; left: 0; width: 100px; height: 20px" data-bind="visible: loadSpinner.isVisible() && isPointmapVisible() && (lens() == 'map')">
                        <span>
                            <img src="~/images/icons/spinner/spinner-20-blue.gif" alt=""/>
                            <strong>Loading...</strong>
                        </span>
                    </div>
                
                    <!-- Hidden element to get map marker color from css -->
                    <div id="mapMarkerColor" class="mapMarkerColor" style="display: none"></div>
                </div>
          
                <!-- T A B L E S -->
                <div>
                    <!-- Activities Results -->
                    <div id="resultstable" style="display: none" data-bind="visible: isPointmapVisible() && (lens() == 'table') && (searchType() == 'activities')">                   
                        <div style="width: 665px">
                            <div class="activitySearchResultsColumnHeader" style="width: 11%" data-bind="click: function ( item, event ) { handleActivityTableColumnClick( event, 'location' ) }">Location</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 20%" data-bind="click: function ( item, event ) { handleActivityTableColumnClick( event, 'name' ) }">Last, First Name</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 48%" data-bind="click: function ( item, event ) { handleActivityTableColumnClick( event, 'title' ) }">Activity Title</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 7%"  data-bind="click: function ( item, event ) { handleActivityTableColumnClick( event, 'type' ) }">Type</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 11%" data-bind="click: function ( item, event ) { handleActivityTableColumnClick( event, 'date' ) }">Date</div>
                        </div>
                        <div style="height: 600px; overflow-y: scroll">
                            <ul data-bind="foreach: activityTableRows">
                                <li>
                                    <div style="width: 100%; padding-top: 4px; padding-bottom: 4px; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px;">
                                        <div class="activitySearchResultsRow" style="width: 11%" data-bind="text: placeOfficialName"></div>
                                        <div class="activitySearchResultsRow" style="width: 20%" data-bind="text: personName"></div>
                                        <div class="activitySearchResultsRow" style="width: 48%" data-bind="text: activityTitle, attr: { title: activityDescription }"></div>
                                        <div class="activitySearchResultsRow" style="width: 7.6%; text-align: center;" data-bind="template: { name: 'activities-types-template', foreach: activityTypeIds }"></div>
                                        <div class="activitySearchResultsRow" style="width: 10.4%" data-bind="text: activityDate"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            
                    <!-- People Results -->
                    <div id="people_resultstable" style="display: none" data-bind="visible: isPointmapVisible() && (lens() == 'table') && (searchType() == 'people')">                   
                        <div style="width: 665px">
                            <div class="activitySearchResultsColumnHeader" style="width: 20%" data-bind="click: function ( item, event ) { handlePeopleTableColumnClick( event, 'name' ) }">Name/Email</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 15%" data-bind="click: function ( item, event ) { handlePeopleTableColumnClick( event, 'department' ) }">Department</div>                   
                            <div class="activitySearchResultsColumnHeader" style="width: 11%" data-bind="click: function ( item, event ) { handlePeopleTableColumnClick( event, 'location' ) }">Location</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 43.4%" data-bind="click: function ( item, event ) { handlePeopleTableColumnClick( event, 'activity' ) }">Activity</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 7.6%" data-bind="click: function ( item, event ) { handlePeopleTableColumnClick( event, 'type' ) }">Type</div>
                        </div>
                        <div style="height: 600px; overflow-y: scroll">
                            <ul data-bind="foreach: peopleTableRows">
                                <li>
                                    <div style="width: 100%; padding-top: 4px; padding-bottom: 4px; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px;">
                                        <div class="activitySearchResultsRow" style="width: 20%" data-bind="text: personName + ' ' + personEmail"></div>
                                        <div class="activitySearchResultsRow" style="width: 15%" data-bind="text: personDepartment"></div>
                                        <div class="activitySearchResultsRow" style="width: 11%" data-bind="text: placeOfficialName"></div>
                                        <div class="activitySearchResultsRow" style="width: 43.4%" data-bind="text: activityTitle, attr: { title: activityDescription }"></div>
                                        <div class="activitySearchResultsRow" style="width: 7.6%; text-align: center;" data-bind="template: { name: 'activities-types-template', foreach: activityTypeIds }"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                      
                    <!-- Spinners -->
                    <div class="spinnerBox" data-bind="visible: loadSpinner.isVisible() && isPointmapVisible() && (lens() == 'table')">
                        <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 100px; height: 20px">
                            <span>
                                <img src="~/images/icons/spinner/spinner-20-blue.gif" alt=""/>
                                <strong>Loading...</strong>
                            </span>
                        </div>
                    </div>
                    <div class="spinnerBox" data-bind="visible: sortSpinner.isVisible() && isPointmapVisible() && (lens() == 'table')">
                        <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 100px; height: 20px; z-index: 10">
                            <span>
                                <img src="~/images/icons/spinner/spinner-20-blue.gif" alt=""/>
                                <strong>Sorting...</strong>
                            </span>
                        </div>
                    </div>
                </div>
                      
                <!-- E X P E R T -->
                <div style="display: none" data-bind="visible: isExpertVisible()">
                    <div id="expert" style="width: 680px; height: 500px">
                        <img src="~/images/placeholders/ExpertiseMock.png" width="680" height="500" alt=""/>
                    </div>
                
                    <!-- Language Expert Results -->
                    <div id="languageexpert_resultstable" style="display: none" data-bind="">                   
                        <div style="width: 665px">
                            <div class="activitySearchResultsColumnHeader" style="width: 20%">Language</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 10%">Last, First Name, Email</div>                   
                            <div class="activitySearchResultsColumnHeader" style="width: 20%">Department</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 30%">Proficiencies</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 5%">Speaking</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 5%">Listening</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 5%">Reading</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 5%">Writing</div>
                        </div>
                        <div style="height: 600px; overflow-y: scroll">
                            <ul data-bind="foreach: activityResults.placeResults">
                                <li>
                                    <ul data-bind="foreach: results">
                                        <li>
                                            <div style="width: 100%; padding-top: 4px; padding-bottom: 4px; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px;">
                                                <div class="activitySearchResultsRow" style="width: 20%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 10%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 20%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 30%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 5%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 5%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 5%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 5%" data-bind=""></div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                    <!-- Geographic Expert Results -->
                    <div id="geographicexpert_resultstable" style="display: none" data-bind="">                   
                        <div style="width: 665px">
                            <div class="activitySearchResultsColumnHeader" style="width: 20%">Country/Location</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 20%">Last, First Name, Email</div>                   
                            <div class="activitySearchResultsColumnHeader" style="width: 20%">Department</div>
                            <div class="activitySearchResultsColumnHeader" style="width: 40%">Expertise Summary</div>
                        </div>
                        <div style="height: 600px; overflow-y: scroll">
                            <ul data-bind="foreach: activityResults.placeResults">
                                <li>
                                    <ul data-bind="foreach: results">
                                        <li>
                                            <div style="width: 100%; padding-top: 4px; padding-bottom: 4px; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px;">
                                                <div class="activitySearchResultsRow" style="width: 20%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 20%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 20%" data-bind=""></div>
                                                <div class="activitySearchResultsRow" style="width: 40%" data-bind=""></div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root" >
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content" style="display: none" data-bind="visible: isPointmapVisible">
                @Html.Partial(MVC.FacultyStaff.Views._SearchSideBar)
            </div>
            <div data-fixed-scroll="content" style="display: none" data-bind="visible: isHeatmapVisible">
                @Html.Partial(MVC.FacultyStaff.Views._StatsSideBar)
            </div>
        </aside>
    </form>
    <div style='clear:both'></div>
</div>

<div id="tooltipWindow" style="width: 100px; height: 40px"></div>

<!-- Knockout Templates -->

<script type="text/html" id="activities-types-template">
    <img img data-bind="attr: { src: '/api/my/employee-module-settings/icon/' + $root.getActivityTypeIconName( $data ), title: $root.getActivityTypeToolTip( $data ) }"
        src="" title="" width="24" height="24"/>
</script>


<!-- JQUERY DIALOGS -->
<div id="noResults" class="dialog" title="No Results">
    The current search criteria returned no results.
</div>