 @model UCosmic.Web.Mvc.Models.FacultyStaffInstitutionInfoModel

@{
    ViewBag.Title = "Professional Engagement Summary";
}

@section bib
{
    <nav id="bib-faculty-staff" class="bib hide" data-current-bib="summary">
        @Html.Partial(MVC.FacultyStaff.Views._Bib)
    </nav>
}

@section styles
{
    <style>
        .k-autocomplete, .k-autocomplete.k-state-focused {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: solid 1px #aaa;
            border-right-color: #ddd;
            border-bottom-color: #ddd;
        }

        .k-autocomplete .k-input, .k-autocomplete.k-state-focused .k-input {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            padding: 8px;
            font-size: 12px;
            line-height: 10px;
            height: auto;
        }

        .k-list-container, .k-list-container.k-state-border-up, .k-list-container.k-state-border-down {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .k-multiselect {
            border: solid 1px #aaa;
            border-right-color: #ddd;
            border-bottom-color: #ddd;
            background-image: none;
            background-color: transparent;
        }

        .k-multiselect .k-input {
            font-family: Arial;
            color: #000;
            height: 28px;
            line-height: 13px;
            font-size: 12px;
        }

        .k-multiselect ul .k-button {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            line-height: 18px;
            font-size: 16px;
            vertical-align: middle;
            color: #000;
            background-color: #eee;
            background-image: none;
            border-color: #ddd;
        }

        .k-multiselect, .k-multiselect.k-state-border-down, .k-multiselect.k-state-border-up, .k-multiselect .k-multiselect-wrap {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            min-height: 34px;
        }

        .k-multiselect .k-input.k-readonly {
            color: #666;
        }

        .k-multiselect.k-state-hover, .xk-multiselect.k-state-hover:hover {
            background-image: none;
            background-color: transparent;
        }

        .k-animation-container .k-calendar-container {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .k-dropdown .k-dropdown-wrap .k-input,
        .k-dropdown .k-state-default.k-dropdown-wrap .k-input,
        .k-dropdown .k-state-border-down.k-dropdown-wrap .k-input,
        .k-dropdown .k-state-hover.k-dropdown-wrap .k-input,
        .k-dropdown .k-state-focused.k-dropdown-wrap .k-input {
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .k-picker-wrap .k-select,
        .k-numeric-wrap .k-select,
        .k-dropdown-wrap .k-select {
            padding-top: 0;
            padding-bottom: 0;
        }

        .k-dropdown .k-dropdown-wrap .k-icon,
        .k-dropdown .k-state-default.k-dropdown-wrap .k-icon,
        .k-dropdown .k-state-border-down.k-dropdown-wrap .k-icon,
        .k-dropdown .k-state-hover.k-dropdown-wrap .k-icon,
        .k-dropdown .k-state-focused.k-dropdown-wrap .k-icon {
            margin-top: 0;
            margin-bottom: 0;
        }

        .k-picker-wrap .k-select,
        .k-numeric-wrap .k-select,
        .k-dropdown-wrap .k-select {
            line-height: 1em;
        }

        input[type="button"] {
            height: 20px;
            width: 70px;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            font-size: 12px;
            border-radius: 0 0 0 0;
            border-color: black;
            border-style: solid;
            border-width: 1px;
            color: black !important;
            background-color: white;
        }

        .geochartTooltip {
            line-height: 1;
            font-size: small;
            width: 120px;
            height: 48px;
            z-index: 3;
        }

        .customPlaceText {
            width: 100%;
            text-align: center;
            color: mediumblue;
            font-size: small;
        }

        .statsSideBarTitle {
            font-family: 'Arial';
            font-size: 14px;
            font-weight: bold;
            color: black;
        }

    </style>
}

@section scripts
{
    @Scripts.Render("~/bundles/employees")

    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.0','packages':['corechart','geochart'],'language':'en'}]}"></script>
 
    <script type="text/javascript">

        $(document).ready(function() {

            $("#main").css("height", 760);
            
            var institutionInfo = @Html.Raw(Json.Encode(Model));

            var facultyAndStaffViewModel = new ViewModels.Employees.FacultyAndStaff(institutionInfo);
            facultyAndStaffViewModel.load()
                .done(function() {
                    
                    facultyAndStaffViewModel.loadSpinner.stop();

                    facultyAndStaffViewModel.setupWidgets("location", "fromDate", "toDate", "establishmentDropList",
                        "campusDropList", "collegeDropList", "departmentDropList");

                    var rootElement = $("#faculty-staff")[0];
                    ko.applyBindings(facultyAndStaffViewModel, rootElement);

                    var locationSelector = $("#location").data("kendoMultiSelect");
                    locationSelector.setDataSource(new kendo.data.DataSource({
                        serverFiltering: true,
                        transport: {
                            read: function(options) {
                                $.ajax({
                                    url: App.Routes.WebApi.Places.get(),

                                    /*
                                            Bug - There's a bug in KendoUI Multiselect whereby the datasource.read()
                                            gets called as soon as the widget gets focus.  This is bad as the Place
                                            service will respond with all the Places in the DB since there is no 
                                            filter being provided.  Our workaround is to trap the empty filter
                                            and send a special character for the service to ignore.  Also,
                                            If options.success() is not actually call, the widget stops functioning
                                            altogether.
                                    */
                                    data: {
                                        keyword: ((options.data.filter != null) &&
                                            (options.data.filter.filters != null) &&
                                            (options.data.filter.filters.length > 0) &&
                                            (options.data.filter.filters[0].value != null)) ?
                                            options.data.filter.filters[0].value : "~"
                                    },
                                    success: function(results) {
                                        options.success(results);
                                    }
                                });
                            }
                        }
                    }));

                    facultyAndStaffViewModel.setupValidation();
                    facultyAndStaffViewModel.setupSubscriptions();
                    facultyAndStaffViewModel.setupMaps();
                    facultyAndStaffViewModel.setupRouting();
                })
                .fail(function(jqXhr, textStatus, errorThrown) {
                    alert(textStatus + "|" + errorThrown);
                });
        });
    </script>    
}

<div id="faculty-staff" class="content fixed to-top" data-current-module="employees">
    <div class="on-left from-top">
        <header>
            <h1 id="pageTitle">@ViewBag.Title</h1>
        </header>
               
        <div style="width: 680px; height: 500px">
            <div style="width: 200px; height: 30px; background-color: white; z-index: 5" data-bind="visible: loadSpinner.isVisible()">
                <span>
                    <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                    <strong>Loading...</strong>
                </span>
            </div>

            <div style="display: none" data-bind="visible: isHeatmapVisible()">
                <div style="width: 100%; height: 28px; text-align: right" data-bind="click: function(item,event) { globalViewClickHandler(item,event); }">
                    <span style="margin-right: 4px">Global View</span><img src="../../images/icons/global/global_24_black.png" alt="Global View"/>
                </div>
                <div style="position: relative">
                    
                    <div style="background-color: #ACCCFD; width: 680px; height: 500px"></div>
                    
                    <div style="position: absolute; background-color: transparent; width: 680px; height: 500px; top: 0; left: 0; z-index: 1">
                        
                        <!-- Antarctica -->
                        <div style="position: absolute; left: 340px; bottom: 0;">                   
                            <img src="../../images/antarctica_283x35.png"/>
                        </div>
                        
                        <!-- Pacific Ocean -->
                        <div style="position: absolute; left: 70px; top: 320px; width: 50px">
                            <div style="width: 100%; text-align: center">
                                <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="24" height="24"/>
                            </div>
                            <div class="customPlaceText">
                                <span>Pacific Ocean</span>
                            </div>
                        </div>
                        
                        <!-- Atlantic Ocean -->
                        <div style="position: absolute; left: 240px; top: 250px; width: 50px">
                            <div style="width: 100%; text-align: center">
                                <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="24" height="24"/>
                            </div>
                            <div class="customPlaceText">
                                <span>Atlantic Ocean</span>
                            </div>
                        </div>
                        
                        <!-- Indian Ocean -->
                        <div style="position: absolute; left: 460px; top: 360px; width: 50px">
                            <div style="width: 100%; text-align: center">
                                <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="24" height="24"/>
                            </div>
                            <div class="customPlaceText">
                                <span>Indian Ocean</span>
                            </div>
                        </div>
                         
                        <!-- Southern Ocean -->
                        <div style="position: absolute; left: 270px; top: 420px; width: 50px">
                            <div style="width: 100%; text-align: center">
                                <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="24" height="24"/>
                            </div>
                            <div class="customPlaceText">
                                <span>Southern Ocean</span>
                            </div>
                        </div>
                          
                        <!-- Gulf of Mexico -->
                        @*                        <div style="position: absolute; left: 150px; top: 270px; width: 50px; z-index: 3">
                            <div style="width: 100%; text-align: center">
                                <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="12" height="12"/>
                            </div>
                            <div style="width: 100%; text-align: center; line-height: 0.5">
                                <span style="font-size: x-small">Gulf of Mexico</span>
                            </div>
                        </div>  *@                     
                           
                        <!-- Caribbean -->
                        <div style="position: absolute; left: 200px; top: 300px; width: 50px">
                            <div style="width: 100%; text-align: center">
                                <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="12" height="12"/>
                            </div>
                            <div class="customPlaceText" style="line-height: 0.5">
                                <span style="font-size: x-small">Caribbean</span>
                            </div>
                        </div>

                        <!-- Arctic Ocean -->
                        <div style="position: absolute; left: 370px; top: 5px; width: 50px">
                            <div style="width: 100%; text-align: center">
                                <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="12" height="12"/>
                            </div>
                            <div class="customPlaceText" style="line-height: 0.5">
                                <span style="font-size: x-small">Arctic Ocean</span>
                            </div>
                        </div>                       

                    </div>

                    <!-- GeoChart -->
                    <div id="heatmap" style="position: absolute; top: 0; left: 0; z-index: 2"></div>
                    
                    <!-- Antarctica Title Phantom -->
                    <div id="antarctica" style="position: absolute; left: 330px; bottom: 0; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Antarctica'); }">
                        <img src="../../images/transparent.png" width="300" height="50"/>
                    </div>
                    
                    <!-- Pacific Ocean Title Phantom -->
                    <div id="pacificOcean" style="position: absolute; left: 70px; top: 320px; width: 50px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Pacific Ocean'); }">
                        <img src="../../images/transparent.png" width="50" height="50"/>
                    </div>
                    
                    <!-- Atlantic Ocean Title Phantom -->
                    <div id="atlanticOcean" style="position: absolute; left: 240px; top: 250px; width: 50px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'North Atlantic Ocean'); }">
                        <img src="../../images/transparent.png" width="50" height="50"/>
                    </div>
                       
                    <!-- Indian Ocean Title Phantom -->
                    <div id="indianOcean" style="position: absolute; left: 460px; top: 360px; width: 50px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Indian Ocean'); }">
                        <img src="../../images/transparent.png" width="50" height="50"/>
                    </div>
                  
                    <!-- Southern Ocean Title Phantom -->
                    <div id="southernOcean" style="position: absolute; left: 270px; top: 420px; width: 50px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Southern Ocean'); }">
                        <img src="../../images/transparent.png" width="50" height="50"/>
                    </div>

                    <!-- Gulf of Mexico-->
                    <div style="position: absolute; left: 150px; top: 270px; width: 50px; z-index: 3">
                        <div style="width: 100%; text-align: center">
                            <img src="../../images/icons/glyphs/glyphicons_261_buoy_blue.png" width="12" height="12"/>
                        </div>
                        <div class="customPlaceText" style="line-height: 0.5">
                            <span style="font-size: x-small">Gulf of Mexico</span>
                        </div>
                    </div>
                    
                    <!-- Gulf of Mexico Title Phantom  -->
                    <div id="gulfOfMexico" style="position: absolute; left: 150px; top: 270px; width: 50px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Gulf of Mexico'); }">
                        <img src="../../images/transparent.png" width="25" height="25"/>
                    </div>
                    
                    <!-- Caribbean Title Phantom -->
                    <div id="caribbean" style="position: absolute; left: 200px; top: 300px; width: 50px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Caribbean Sea'); }">
                        <img src="../../images/transparent.png" width="25" height="25"/>
                    </div>

                    <!-- Arctic Ocean Title Phantom -->
                    <div id="arcticOcean" style="position: absolute; left: 370px; top: 5px; width: 50px; z-index: 4" data-bind="click: function(event,item) { customPlaceClick(event,item,'Arctic Ocean'); }">
                        <img src="../../images/transparent.png" width="25" height="25"/>
                    </div>

                    <!-- Activities/People Buttons -->
                    <div id="" style="position: absolute; margin: 5px; right: 0; top: 0; z-index: 3">
                        <input type="button" id="activitiesButton" value="Activites" style="float: left" data-bind="click: function(data, event) { selectSearchType('activities'); }"/>
                        <input type="button" id="peopleButton" value="People" style="float: left; border-left-style: none" data-bind="click: function(data, event) { selectSearchType('people'); }"/>
                    </div>                     

                </div>
            </div>
            <div style="display: none" data-bind="visible: isPointmapVisible()">
                <div id="pointmap" style="width: 680px; height: 500px"></div>
            </div>
            <div id="resultstable" style="display: none" data-bind="visible: isTableVisible()">
                    
                <table class="data">
                    <colgroup>
                        <col style="width: 40%;" />
                        <col style="width: 30%;" />
                        <col style="width: 30%;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Faculty</th>
                            <th>Activity</th>
                            <th>Locations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>                  
            </div>
        </div>
    </div>



    <div class="on-right from-top" style="display: none" data-bind="visible: isPointmapVisible() || isTableVisible()">
        @Html.Partial(MVC.FacultyStaff.Views._SearchSideBar)
    </div>
    <div class="on-right from-top" style="display: none" data-bind="visible: isHeatmapVisible">
        @Html.Partial(MVC.FacultyStaff.Views._StatsSideBar)
    </div>
</div>

<div id="tooltipWindow" style="width: 100px; height: 40px"></div>
