@using UCosmic.Web.Mvc.Models
@model EmployeesBibNavModel
@{
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain) && !"default".Equals(styleDomain, StringComparison.OrdinalIgnoreCase);
}
@*<ul class="group">
        <li class="summary @ViewBag.Summary">
            <a href="@Url.Action(hasStyleDomain ? MVC.Employees.TenantIndex(styleDomain) : MVC.Employees.Index())">Summary</a>
        </li>
        <li class="search @ViewBag.Search">
            <a href="@Url.Action(hasStyleDomain ? MVC.Employees.Table(styleDomain, null) : MVC.Employees.Index())">Search</a>
        </li>
        @if (ViewBag.isActivity != null)
        {
        <li class="search @ViewBag.Faculty">
            <a href="@Url.Action(hasStyleDomain ? MVC.Employees.Table(styleDomain, null) : MVC.Employees.Index())">Activity Detail</a>
        </li>
        }
        <li class="expert">
            <a href="/facultystaff/#/expert">Find an Expert</a>
        </li>
    </ul>*@
<ul class="group">
    <li class="@(Model.Activities ? "current" : null)">
        <a href="@Url.Action(hasStyleDomain ? MVC.Employees.TenantIndex(styleDomain) : MVC.Employees.Index())">Activities</a>
    </li>
    <li class="expert">
        <a href="/facultystaff/#/expert">Find an Expert</a>
    </li>
    <li class="@(Model.Degrees ? "current" : null)">
        <a href="@Url.Action(hasStyleDomain ? MVC.Employees.DegreesTable(styleDomain, null) : MVC.Employees.Index())">Formal Education</a>
    </li>
    @if (Model.GeographicExpertise)
    {
        <li class="current">
            <a>Global Expertise</a>
        </li>
    }
    @if (Model.LanguageExpertise)
    {
        <li class="current">
            <a>Language Expertise</a>
        </li>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Custom))
    {
        <li class="current">
            <a>@Model.Custom</a>
        </li>
    }
</ul>