@{
    var tenancy = Request.Tenancy();
    var styleDomain = tenancy != null ? tenancy.StyleDomain : "default";
    var hasStyleDomain = !string.IsNullOrWhiteSpace(styleDomain) && !"default".Equals(styleDomain, StringComparison.OrdinalIgnoreCase);
}
<ul class="group">
    <li class="summary @ViewBag.Summary">
        <a href="@Url.Action(hasStyleDomain ? MVC.Employees.TenantIndex(styleDomain) : MVC.Employees.Index())">Summary</a>
    </li>
    <li class="search @ViewBag.Search">
        <a href="@Url.Action(hasStyleDomain ? MVC.Employees.Table(styleDomain, null) : MVC.Employees.Index())">Search</a>
    </li>
    @if (ViewBag.isActivity != null)
    {
    <li class="search @ViewBag.Faculty">
        <a href="@Url.Action(hasStyleDomain ? MVC.Employees.Table(styleDomain, null) : MVC.Employees.Index())">Activity Detail</a>
    </li>
    }
    @*<li class="expert">
        <a href="/facultystaff/#/expert">Find an Expert</a>
    </li>*@
</ul>
