@{
    ViewBag.Title = "Professional Engagement Summary";
}

@section bib
{
    <nav class="bib hide" data-current-bib="summary">
        @Html.Partial(MVC.Employees.Views._Bib)
    </nav>
}

@section styles
{
    @* BASELINE POSITIONS FOR HEIGHT=500 AND keepAspectRadio=FALSE *@
    <style>
        .google-geogchart-overlays .pacific-ocean {
            width: 44px;
            height: 26px;
            position: absolute;
            left: 68px;
            top: 349px;
        }

        .google-geogchart-overlays .gulf-of-mexico {
            width: 39px;
            height: 21px;
            position: absolute;
            left: 160px;
            top: 287px;
        }

        .google-geogchart-overlays .caribbean-sea {
            width: 74px;
            height: 11px;
            position: absolute;
            left: 205px;
            top: 311px;
        }

        .google-geogchart-overlays .for-svg .caribbean-sea {
            top: 316px;
        }

        .google-geogchart-overlays .atlantic-ocean {
            width: 51px;
            height: 26px;
            position: absolute;
            left: 240px;
            top: 265px;
        }

        .google-geogchart-overlays .southern-ocean {
            width: 58px;
            height: 26px;
            position: absolute;
            left: 280px;
            top: 441px;
        }

        .google-geogchart-overlays .arctic-ocean {
            width: 41px;
            height: 26px;
            position: absolute;
            left: 330px;
            top: 23px;
        }

        .google-geogchart-overlays .indian-ocean {
            width: 41px;
            height: 26px;
            position: absolute;
            left: 469px;
            top: 390px;
        }

        #google_geochart_datasource_overlay {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 20px;
            background-color: #fff;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: solid 1px #000;
            font-family: Arial;
            font-size: 12px;
        }

            #google_geochart_datasource_overlay [type=button].active {
                font-weight: bold;
            }

            #google_geochart_datasource_overlay [type=button] {
                border-radius: 0;
                border: 0;
                margin: 0;
                padding: 0;
                background-color: transparent;
                color: #000 !important;
                height: 18px;
                width: 70px;
                cursor: pointer;
                text-align: center;
            }

                #google_geochart_datasource_overlay [type=button]:first-child {
                    border-right: solid 1px #000;
                }

        .ui-tooltip.geochart {
            max-width: 300px;
            font-family: Arial;
            font-size: 13px;
            background-color: transparent;
            background-image: none;
            border-radius: 0;
            border: 0;
        }

            .ui-tooltip.geochart .ui-tooltip-content {
                display: inline-block;
                border-radius: 0;
                border: solid 1px #ccc;
                padding: 7px;
                background-color: #fff;
                box-shadow: 1px 1px 1px 0 #999;
            }

                .ui-tooltip.geochart .ui-tooltip-content .total {
                    margin-top: 4px;
                    padding-bottom: 1px;
                }
    </style>

    @* POSITIONS FOR HEIGHT=480 AND keepAspectRadio=TRUE *@
    <style>
        .google-geogchart-overlays .keep-aspect-ratio-480 .gulf-of-mexico {
            top: 270px;
        }

        .google-geogchart-overlays .keep-aspect-ratio-480 .caribbean-sea {
            top: 291px;
        }

        .google-geogchart-overlays .keep-aspect-ratio-480.for-svg .caribbean-sea {
            top: 296px;
        }

        .google-geogchart-overlays .keep-aspect-ratio-480 .atlantic-ocean {
            left: 248px;
            top: 245px;
        }

        .google-geogchart-overlays .keep-aspect-ratio-480 .southern-ocean {
            left: 280px;
            top: 401px;
        }

        .google-geogchart-overlays .keep-aspect-ratio-480 .indian-ocean {
            left: 475px;
            top: 350px;
        }
    </style>
}
@section scripts
{

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!--[if !IE | gt IE 8]><!-->

    <script type="text/javascript" src="~/scripts/oss/d3.v3.js"></script>

    <!--<![endif]-->

    <script src="~/scripts/history/history.js"></script>

    <script src="~/scripts/history/history.html4.js"></script>

    <script src="~/scripts/history/history.adapter.jquery.js"></script>

    <script src="~/scripts/app/HistoryJS.js"></script>

    <script type="text/javascript" src="~/scripts/oss/linq.js"></script>

    <script type="text/javascript" src="@Url.Action(MVC.JavaScriptRoutes.Employees())"></script>

    @*@{ Html.RenderPartial(MVC.JavaScriptRoutes.Views.Employees); }*@

    <script type="text/javascript" src="~/scripts/google/GeoChart.js"></script>

    <script type="text/javascript" src="~/scripts/viewmodels/employees/Server.js"></script>

    <script type="text/javascript" src="~/scripts/viewmodels/employees/Summary.js"></script>

    <script type="text/javascript">
        // Google API needs to be called outside of JQuery ready()
        Employees.ViewModels.Summary.loadGoogleVisualization().done(function () {
            var viewModel = new Employees.ViewModels.Summary({
                element: $('[data-current-module=employees]')[0],
                geoChartElementId: 'google_geochart',
                geoChartWaterOverlaysElementId: 'google_geochart_water_overlays',
                geoChartAntarcticaOverlayElementId: 'google_geochart_antarctica_overlay',
                geoChartOverlayPhantomsElementId: 'google_geochart_phantoms',
                tenantDomain: '@ViewBag.EmployeesDomain',
                geoChartKeepAspectRatio: true,
            });
            viewModel.applyBindings();
        });
    </script>

}

<div class="content fixed to-top" data-current-module="employees">
    <form class="group">
        @* LEFT *@
        <div class="on-left from-top">

            @* HEADER *@
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>

            @* TOTALS SUMMARY *@
            <div data-bind="with: activitiesSummary" style="margin: 16px 0; height: 30px; font-size: 20px;">
                <strong data-bind="text: personCount" style="font-size: 24px;">?</strong>
                <span data-bind="visible: personCount() == 1" style="display: none;">person</span>
                <span data-bind="visible: personCount() != 1">people</span>
                <span data-bind="visible: personCount() > 0" style="display: none;">with
                    @*<span data-bind="visible: personCount() == 1" style="display: none;">has</span>
                    <span data-bind="visible: personCount() != 1">have</span>*@
                    <strong data-bind="text: activityCount" style="font-size: 24px;">?</strong>
                    <span data-bind="visible: activityCount() == 1" style="display: none;">activity</span>
                    <span data-bind="visible: activityCount() != 1">activities</span>
                    in
                    <strong data-bind="text: locationCount" style="font-size: 24px;">?</strong>
                    <span data-bind="visible: locationCount() == 1" style="display: none;">location.</span>
                    <span data-bind="visible: locationCount() != 1">locations.</span>
                </span>
            </div>

            @* CHART INSTRUCTIONS & SPINNER *@
            <div style="margin: 1em 0; height: 28px;">
                <div class="group">
                    <div class="on-left">
                        <div data-bind="visible: !geoChartSpinner.isVisible()" style="display: none; line-height: 28px;">
                            <img src="@Url.HttpRouteUrl(null, new { controller = "Employees", action = "GetSettingsIcon", domain = @ViewBag.EmployeesDomain, name = "global-view" })"
                                alt="Global view" width="24" height="24" style="" />
                            @*<img src="~/images/icons/globe/shiny-24.png" alt="Global view" style="" />
                            <img src="~/images/icons/globe/shiny-24-disabled.png" alt="Return to Global view" style="display: none;opacity: 0.5;" />*@
                            <strong>Global View:</strong>
                            <span>double click a region for more information.</span>
                        </div>
                    </div>
                    <div class="on-right">
                        <div data-bind="visible: geoChartSpinner.isVisible">
                            <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                            <strong>Loading summary data...</strong>
                        </div>
                    </div>
                </div>
            </div>

            @* GOOGLE CHART *@
            <div style="position: relative;">

                <div style="position: absolute; width: 100%; height: 480px; background-color: #acccfd;" data-bind="style: { height: settings.geoChartKeepAspectRatio ? '480px' : '500px' }"></div>

                @* GEOCHART *@
                <div id="google_geochart" style="width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
                </div>

                @* CUSTOM OVERLAYS *@
                <div id="google_geochart_overlays" data-bind="visible: isGeoChartReady" class="google-geogchart-overlays" style="display: none;">

                    @* BODY OF WATER DATA VISUALIZERS *@
                    <ul id="google_geochart_water_overlays" data-bind="visible: isD3Undefined, css: { 'keep-aspect-ratio-480': settings.geoChartKeepAspectRatio, 'for-svg': isD3Defined }">
                        <li data-bind="with: pacificOceanSwapper" class="pacific-ocean">
                            <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/pacific-ocean.png" alt="Pacific Ocean" />
                            <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/pacific-ocean.png" alt="Pacific Ocean" style="display: none;" />
                        </li>
                        <li data-bind="with: gulfOfMexicoSwapper" class="gulf-of-mexico">
                            <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/gulf-of-mexico.png" alt="Gulf of Mexico" />
                            <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/gulf-of-mexico.png" alt="Gulf of Mexico" style="display: none;" />
                        </li>
                        <li data-bind="with: caribbeanSeaSwapper" class="caribbean-sea">
                            <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/caribbean-sea.png" alt="Caribbean Sea" />
                            <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/caribbean-sea.png" alt="Caribbean Sea" style="display: none;" />
                        </li>
                        <li data-bind="with: atlanticOceanSwapper" class="atlantic-ocean">
                            <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/atlantic-ocean.png" alt="Atlantic Ocean" />
                            <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/atlantic-ocean.png" alt="Atlantic Ocean" style="display: none;" />
                        </li>
                        <li data-bind="with: southernOceanSwapper" class="southern-ocean">
                            <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/southern-ocean.png" alt="Southern Ocean" />
                            <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/southern-ocean.png" alt="Southern Ocean" style="display: none;" />
                        </li>
                        <li data-bind="with: arcticOceanSwapper" class="arctic-ocean">
                            <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/arctic-ocean.png" alt="Arctic Ocean" />
                            <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/arctic-ocean.png" alt="Arctic Ocean" style="display: none;" />
                        </li>
                        <li data-bind="with: indianOceanSwapper" class="indian-ocean">
                            <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/indian-ocean.png" alt="Indian Ocean" />
                            <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/indian-ocean.png" alt="Indian Ocean" style="display: none;" />
                        </li>
                    </ul>

                    @* ANTARCTICA VISUALIZER *@
                    <div id="google_geochart_antarctica_overlay" data-bind="with: antarcticaSwapper" style="position: absolute; bottom: 0; left: 340px;">
                        <img data-bind="visible: isUp, event: { mouseenter: onMouseEnter }" src="~/images/geochart/up/antarctica.png" alt="Antarctica" />
                        <img data-bind="visible: isHover, event: { mouseleave: onMouseLeave }" src="~/images/geochart/hot/antarctica.png" alt="Antarctica" style="display: none;" />
                        <div class="tooltip" style="display: none;">
                            <div class="title">
                                <strong>Antarctica</strong>
                            </div>
                            <div class="total">
                                <span data-bind="visible: $parent.isPivotPeople()">Total People:</span>
                                <span data-bind="visible: $parent.isPivotActivities()">Total Activities:</span>
                                    <strong data-bind="text: $parent.antarcticaTotal()">0</strong>
                            </div>
                        </div>
                    </div>

                    @* ACTIVITIES | PEOPLE BUTTONS OVERLAY *@
                    <div id="google_geochart_datasource_overlay" class="group">
                        <input type="button" value="Activities" class="on-left" data-bind="click: pivotActivities, css: { active: isPivotActivities }" />
                        <input type="button" value="People" class="on-left" data-bind="click: pivotPeople, css: { active: isPivotPeople }" />
                    </div>
                </div>

                @* PHANTOM OVERLAYS *@
                <div id="google_geochart_phantoms" class="google-geogchart-overlays">

                    @* BODY OF WATER DATA VISUALIZERS *@
                    <ul id="google_geochart_water_phantoms" data-bind="css: { 'keep-aspect-ratio-480': settings.geoChartKeepAspectRatio, 'for-svg': isD3Defined }">
                        <li class="pacific-ocean">
                            <img data-bind="" src="~/images/transparent.png" alt="" />
                            <div class="tooltip" style="display: none;">
                                <div class="title">
                                    <strong>Pacific Ocean</strong>
                                </div>
                                <div class="total">
                                    <span data-bind="visible: isPivotPeople">Total People:</span>
                                    <span data-bind="visible: isPivotActivities">Total Activities:</span>
                                    <strong data-bind="text: pacificOceanTotal">0</strong>
                                </div>
                            </div>
                        </li>
                        <li class="gulf-of-mexico">
                            <img src="~/images/transparent.png" alt="" />
                            <div class="tooltip" style="display: none;">
                                <div class="title">
                                    <strong>Gulf of Mexico</strong>
                                </div>
                                <div class="total">
                                    <span data-bind="visible: isPivotPeople">Total People:</span>
                                    <span data-bind="visible: isPivotActivities">Total Activities:</span>
                                    <strong data-bind="text: gulfOfMexicoTotal">0</strong>
                                </div>
                            </div>
                        </li>
                        <li class="caribbean-sea">
                            <img src="~/images/transparent.png" alt="" />
                            <div class="tooltip" style="display: none;">
                                <div class="title">
                                    <strong>Caribbean Sea</strong>
                                </div>
                                <div class="total">
                                    <span data-bind="visible: isPivotPeople">Total People:</span>
                                    <span data-bind="visible: isPivotActivities">Total Activities:</span>
                                    <strong data-bind="text: caribbeanSeaTotal">0</strong>
                                </div>
                            </div>
                        </li>
                        <li class="atlantic-ocean">
                            <img src="~/images/transparent.png" alt="" />
                            <div class="tooltip" style="display: none;">
                                <div class="title">
                                    <strong>Atlantic Ocean</strong>
                                </div>
                                <div class="total">
                                    <span data-bind="visible: isPivotPeople">Total People:</span>
                                    <span data-bind="visible: isPivotActivities">Total Activities:</span>
                                    <strong data-bind="text: atlanticOceanTotal">0</strong>
                                </div>
                            </div>
                        </li>
                        <li class="southern-ocean">
                            <img src="~/images/transparent.png" alt="" />
                            <div class="tooltip" style="display: none;">
                                <div class="title">
                                    <strong>Southern Ocean</strong>
                                </div>
                                <div class="total">
                                    <span data-bind="visible: isPivotPeople">Total People:</span>
                                    <span data-bind="visible: isPivotActivities">Total Activities:</span>
                                    <strong data-bind="text: southernOceanTotal">0</strong>
                                </div>
                            </div>
                        </li>
                        <li class="arctic-ocean">
                            <img src="~/images/transparent.png" alt="" />
                            <div class="tooltip" style="display: none;">
                                <div class="title">
                                    <strong>Arctic Ocean</strong>
                                </div>
                                <div class="total">
                                    <span data-bind="visible: isPivotPeople">Total People:</span>
                                    <span data-bind="visible: isPivotActivities">Total Activities:</span>
                                    <strong data-bind="text: arcticOceanTotal">0</strong>
                                </div>
                            </div>
                        </li>
                        <li class="indian-ocean">
                            <img src="~/images/transparent.png" alt="" />
                            <div class="tooltip" style="display: none;">
                                <div class="title">
                                    <strong>Indian Ocean</strong>
                                </div>
                                <div class="total">
                                    <span data-bind="visible: isPivotPeople">Total People:</span>
                                    <span data-bind="visible: isPivotActivities">Total Activities:</span>
                                    <strong data-bind="text: indianOceanTotal">0</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @* RIGHT *@
        <aside class="on-right from-top">
        </aside>
    </form>
</div>
