@{
    ViewBag.Title = "_DeprecatedLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - UCosmic</title>
    <link href="@Url.Content(Links.content.themes.@base.jquery_ui_all_css)" rel="stylesheet" />
    @*@Html.Action(MVC.Common.Skins.Apply())*@
    <link href="@Url.Content(Links.styles._deprecated.screen_css)" type="text/css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link href="@Url.Content(Links.styles._deprecated.screen_ie8_css)" type="text/css" rel="stylesheet" />
    <![endif]-->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles")
    }

    <script type="text/javascript" src="@Url.Content(Links.scripts.modernizr.modernizr_2_6_2_js)"></script>

</head>
<body>
    <div id="ucosmic" class="ucosmic">
        @RenderBody()
    </div>
</body>
</html>
<script src="@Links.scripts.jquery.jquery_1_8_3_js" type="text/javascript"></script>
<script src="@Links.scripts.jquery.jquery_ui_1_9_2_js" type="text/javascript"></script>
<script src="@Links.scripts._deprecated.jquery_validate_js" type="text/javascript"></script>
<script src="@Links.scripts._deprecated.jquery_validate_unobtrusive_js" type="text/javascript"></script>

<script src="@Links.scripts.ko.knockout_2_2_0_js" type="text/javascript"></script>

<script src="@Links.scripts.ko.knockout_mapping_latest_js" type="text/javascript"></script>

@*<script src="@Links.scripts.T4MvcJs.T4MvcJs_js" type="text/javascript"></script>*@

@*@Html.Partial(MVC.Shared.Views.google_maps_api_script)*@

<script src="@Links.scripts._deprecated.ucosmic_js" type="text/javascript"></script>
@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts")
}
