<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - UCosmic</title>
    <link href="@Url.Content(Links.content.themes.@base.jquery_ui_all_css)" rel="stylesheet" />
    @*@Html.Action(MVC.Common.Skins.Apply())*@
    <link href="@Url.Content(Links.styles._deprecated.screen_css)" type="text/css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link href="@Url.Content(Links.styles._deprecated.screen_ie8_css)" type="text/css" rel="stylesheet" />
    <![endif]-->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles")
    }

    <script type="text/javascript" src="@Url.Content(Links.scripts.modernizr.modernizr_2_6_2_js)"></script>

</head>
<body>
    <div id="ucosmic" class="ucosmic">
        <div class="head row">
            <div class="left col">
                @if (IsSectionDefined("HeadLeft"))
                {
                    @RenderSection("HeadLeft", false)
                }
            </div>
            <div class="center col">
                @*@Html.Partial(MVC.Identity.Shared.Views._layout_identity_nav)*@
                @if (!IsSectionDefined("HeadCenter"))
                {
                    <h1>@ViewBag.Title</h1>
                }
                else
                {
                    @RenderSection("HeadCenter", false)
                }
            </div>
            <div class="right col">
                @*@Html.Action(MVC.Common.Skins.Logo())*@
            </div>
        </div>
        <div class="torso row">
            <div class="left col">
                <div class="scroll-y col">
                    Here is my column. <a href="#">Hide it now</a>.
                </div>
            </div>
            <div class="center col">
                <div class="stretch scroll-y scroll-x">
                    <div id="body" class="body stretch">
                        @RenderBody()

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="@Links.scripts.jquery.jquery_1_8_3_js" type="text/javascript"></script>

<script src="@Links.scripts.jquery.jquery_ui_1_9_2_js" type="text/javascript"></script>

<script src="@Links.scripts._deprecated.jquery_validate_js" type="text/javascript"></script>

<script src="@Links.scripts._deprecated.jquery_validate_unobtrusive_js" type="text/javascript"></script>

<script src="@Links.scripts.ko.knockout_2_2_0_js" type="text/javascript"></script>

<script src="@Links.scripts.ko.knockout_mapping_latest_js" type="text/javascript"></script>

@*<script src="@Links.scripts.T4MvcJs.T4MvcJs_js" type="text/javascript"></script>*@

@*@Html.Partial(MVC.Shared.Views.google_maps_api_script)*@

<script src="@Links.scripts._deprecated.ucosmic_js" type="text/javascript"></script>

@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts")
}
