@using UCosmic.Web.Mvc.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/themes/base/css")
    @*@Styles.Render("~/content/kendo/2012.3.1114/uniform-css")*@
    @Styles.Render("~/content/kendo/2013.1.226/uniform-css")
    @Html.Action(MVC.Tenancy.Css())
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="my">
        <div class="content group">
            <div class="left">
                <div class="group">
                    @if (Request.IsAuthenticated)
                    {
                        <a href="#/me" class="email">@User.Identity.Name</a>

                        var tenancy = Request.Tenancy();
                        var customProfileTitle = (tenancy != null && !string.IsNullOrWhiteSpace(tenancy.CustomProfileTitle))
                            ? tenancy.CustomProfileTitle : "My UCosmic Profile";
                        <a href="@Url.Action(MVC.MyProfile.Index())">@customProfileTitle</a>

                        var userImpersonating = Session.UserImpersonating();
                        if (userImpersonating != null)
                        {
                            <a href="@Url.Action(MVC.Identity.UndoSignOver())" title="Sign back on as @userImpersonating.Identity.Name">Sign back</a>
                        }
                        else
                        {
                            <a href="@Url.Action(MVC.Identity.SignOut(Request.RawUrl))">Sign out</a>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action(MVC.Identity.SignIn(Request.RawUrl))">Sign in</a>
                    }
                </div>
            </div>
            <div class="right">
                <div class="group">
                    @Html.Partial(MVC.Shared.Views._UserVoiceLink, new UserVoiceLinkModel(Request, ViewData) { CssClass = "user-voice" })
                    <a href="http://ucosmic.wordpress.com" target="_blank">Blog</a>
                    <a href="http://www.ucosmic.org" target="_blank">Consortium</a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="modules">
        <ul class="group">
            <li class="home">
                <a href="@Url.Action(MVC.Home.Index())">Home</a>
            </li>
            <li class="agreements">
                <a href="@Url.Action(MVC.Agreements.Index())">Agreements</a>
            </li>
            <li class="employees">
                <a href="@Url.Action(MVC.Home.Employees())">Faculty & Staff</a>
            </li>
            <li class="alumni">
                <a href="@Url.Action(MVC.Home.Alumni())">Alumni</a>
            </li>
            <li class="students">
                <a href="@Url.Action(MVC.Home.Students())">Students</a>
            </li>
            <li class="reps">
                <a href="@Url.Action(MVC.Home.Representatives())">Representatives</a>
            </li>
            <li class="travel">
                <a href="@Url.Action(MVC.Home.Travel())">Travel</a>
            </li>
            <li class="corporate">
                <a href="@Url.Action(MVC.Home.CorporateEngagement())">Corporate Engagement</a>
            </li>
            <li class="press">
                <a href="@Url.Action(MVC.Home.GlobalPress())">Global Press</a>
            </li>
            <li class="admin">
                <a href="@Url.Action(MVC.Admin.Index())">Admin</a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="content">
            <div class="flasher hide" data-bind="jqElement: '$element'">
                <a data-bind="click: dismiss">
                    <div class="group">
                        <p>
                            <span class="content" data-bind="text: text"></span>
                            <span class="dismissal">Click to dismiss (<span data-bind="text: tickCount"></span>)</span>
                        </p>
                        <i class="on-right closer"></i>
                    </div>
                </a>
            </div>
        </div>
    </header>
    @if (IsSectionDefined("bib"))
    {
        @RenderSection("bib")
    }
    else
    {
        @Html.Partial(MVC.Shared.Views._SampleStylingBib)
    }
    <div id="main" class="group">
        @RenderBody()
    </div>
    <footer>
        <div>
            <nav class="modules">
                <ul class="group">
                    <li class="home">
                        <a href="@Url.Action(MVC.Home.Index())">Home
                        </a>
                    </li>
                    <li class="agreements">
                        <a href="@Url.Action(MVC.Agreements.Index())">Agreements
                        </a>
                    </li>
                    <li class="employees">
                        <a href="@Url.Action(MVC.Home.Employees())">Faculty & Staff
                        </a>
                    </li>
                    <li class="alumni">
                        <a href="@Url.Action(MVC.Home.Alumni())">Alumni
                        </a>
                    </li>
                    <li class="students">
                        <a href="@Url.Action(MVC.Home.Students())">Students
                        </a>
                    </li>
                    <li class="reps">
                        <a href="@Url.Action(MVC.Home.Representatives())">Representatives
                        </a>
                    </li>
                    <li class="travel">
                        <a href="@Url.Action(MVC.Home.Travel())">Travel
                        </a>
                    </li>
                    <li class="corporate">
                        <a href="@Url.Action(MVC.Home.CorporateEngagement())">Corporate Engagement
                        </a>
                    </li>
                    <li class="press">
                        <a href="@Url.Action(MVC.Home.GlobalPress())">Global Press
                        </a>
                    </li>
                </ul>
            </nav>
            <small class="powered-by">
                <a href="http://www.github.com/ucosmic" target="_blank" title="Source code version @ViewBag.Version">Powered by UCosmic</a> | Copyright &copy; 2011-@DateTime.UtcNow.Year
            </small>
        </div>
    </footer>
    <input id="scroll_top_tracker" type="hidden" />

    @*
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js"></script>
    *@

    @*
        for some reason, kendo web ui does not work when jQuery is minified & bundled like this.
        current solution is to get jQuery separately from google's CDN and exclude it from the layout bundle.
    *@
    @if (Html.IsOffline())
    {
        @Scripts.Render("~/bundles/jquery")
    }
    else
    {
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>*@
    }

    @Html.Partial(MVC.Shared.Views._GoogleMapsScript)
    @Scripts.Render("~/bundles/layout")

    <script type="text/javascript">
        ko.applyBindings(App.flasher, $('.flasher')[0]);
        App.flasher.text('@Html.Raw(TempData.Flash().Replace("'", "\\'"))');
        App.Routes.applicationPath = '@Request.ApplicationPath';
        App.Routes.WebApi.urlPrefix = 'api';

        $('a[href="#/flashlong"]').on('click', function () {
            App.flasher.flash('Here is your feedback message. What happens when this gets longer, much l on g e r, so long t h a t it wraps?');
        });

        $('a[href="#/flashshort"]').on('click', function () {
            App.flasher.flash('Here is a short feedback message.');
        });
    </script>
    <script data-main="../../scripts/main.js"  src="~/scripts/require.js"></script>

    @Html.Partial(MVC.Shared.Views._UserVoiceScript)
    @RenderSection("scripts", required: false)
    
    
</body>
</html>
