<nav class="bib">
    <ul class="group">
        <li>
            <a href="@Url.Action(MVC.Tenancy.Tenant(null, Request.RawUrl))">Default style</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Tenancy.Tenant("suny.edu", Request.RawUrl))">SUNY style</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Tenancy.Tenant("uc.edu", Request.RawUrl))">UC style</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Tenancy.Tenant("uwi.edu", Request.RawUrl))">UWI style</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Tenancy.Tenant("lehigh.edu", Request.RawUrl))">Lehigh style</a>
        </li>
        <li>
            <a href="@Url.Action(MVC.Tenancy.Tenant("usf.edu", Request.RawUrl))">USF style</a>
        </li>
        <li>
            <a href="#/flashlong">Long flash</a>
        </li>
        <li>
            <a href="#/flashshort">Short flash</a>
        </li>
        <li class="current">
            <a href="#/flashshort">Current tab</a>
        </li>
    </ul>
</nav>
