@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.ActivityPublicViewModel

<aside id="publicView">

    <div style="font-size: 14px;">
        @* Person *@
        <div style="float: right; height: 48px; padding-top: 6px;">
            <div>@Model.Person.DisplayName</div>
            <div>@Model.Person.JobTitle</div>
            <div>@Model.Person.EmailAddress</div>
        </div>
        <div style="float: left; margin-bottom: .5em;">
            <img src="@Url.HttpRouteUrl(null, new { controller = "People", action = "GetPhoto", Id = Model.Person.PersonId })" height="48" width="48"/>
        </div>

        @* MAP *@
        <div style="height: 200px; width: 280px; margin: 1em 0;" id="map-canvas"></div>

        @* PLACES *@
        <div style="margin: 1em 0;">
            <ul style="display: inline-block;">
                @foreach (var place in Model.Places)
                {
                    <li class="same-line">
                        <a href='~/facultystaff/#/search/country/@place.PlaceName' style="text-decoration: none; color: inherit;">
                            <span class="badge light-transparent">
                                @place.PlaceName
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</aside>
