@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.ActivityPublicViewModel

<section id="publicView">

    <div style="font-size: 18px;">

        @* DATES *@
        <div style="margin: 1em 0;">
            <span>@Model.StartsOn.ToString(Model.StartsFormat)</span>
            <span style="padding: 0 4px 0 4px;">-</span>
            @if (Model.OnGoing == false)
            {
                <span>@Model.EndsOn.ToString(Model.EndsFormat)</span>
            }
            else
            {
                <span>On Going</span>
            }
        </div>

        @* DESCRIPTION *@
        <div style="margin: 1em 0; line-height: 24px;">
            @Model.Content
        </div>

        @* PLACES *@
        <div style="margin: 1em 0;">
            <ul class="add-comma">
                @foreach (var place in Model.Places)
                {
                    <li class="same-line">@place.PlaceName</li>
                }
            </ul>
        </div>

        @* TYPES *@
        @if (Model.Types != null && Model.Types.Any())
        {
            <div style="margin: 1em 0;">
                <ul>
                    @foreach (var type in Model.Types)
                    {
                        <li style="margin-bottom: .5em;">
                            <span style="display: inline-block; width: 32px; text-align: center;">
                                <img height="20" src="@Url.HttpRouteUrl(null, new { controller = "EmployeeModuleSettings", action = "GetIcon", typeId = type.TypeId })" alt="" />
                            </span>
                            <span>@type.Text</span></li> 
                    }
                </ul>
            </div> 
        }

@* FUNDING *@
        @if (Model.IsExternallyFunded == true && Model.IsInternallyFunded == true)
        {
            <div style="margin: 1em 0;" data-bind="visible: IsExternallyFunded && IsInternallyFunded">
                This activity is externally and internally funded.
            </div>
        }
        else if (Model.IsExternallyFunded != true && Model.IsInternallyFunded == true)
        {
            <div style="margin: 1em 0;" data-bind="visible: !IsExternallyFunded() && IsInternallyFunded">
                This activity is internally funded.
            </div>
        }
        else if (Model.IsExternallyFunded == true && Model.IsInternallyFunded != true)
        {
            <div style="margin: 1em 0;" data-bind="visible: IsExternallyFunded && !IsInternallyFunded()">
                This activity is externally funded.
            </div>
        }
        
@* TAGS *@
        <div style="margin: 1em 0;">
            <ul class="tag-list add-comma">
                @foreach (var tag in Model.Tags)
                {
                    <li class="same-line">@tag.Text</li>
                }
            </ul>
        </div>

        @* DOCUMENTS *@
        <div style="margin: 1em 0;">
            <ul data-bind="foreach: Documents">
                @foreach (var document in Model.Documents)
                {
@*<li class="same-line">
                        <a href="/api/activities/@document.DocumentId/documents" title="@document.Title">@document.FileName</a></li>*@
                    <li style="margin-bottom: .5em;">
                        <span style="display: inline-block; width: 32px; text-align: center;">
                            <img height="20" src="@Url.HttpRouteUrl(null, new { controller = "ActivityDocuments", action = "GetThumbnail", documentId = document.DocumentId, model = new UCosmic.Web.Mvc.Models.ImageResizeRequestModel() { MaxHeight = 20, MaxWidth = 30 } })" alt="" />
                        </span>
                        <a href="/api/activities/@document.DocumentId/documents" title="@document.Title">@document.Title</a></li> 
                }
            </ul>
        </div>
    </div>

    <div style="display: none">
        @*<span id="agreementPartners_api">@ViewBag.AgreementPartnersApi</span>  for map *@
    </div>
</section>
