@model UCosmic.Web.Mvc.Models.ActivityPublicViewModel
<section id="publicView">

    @* ACTIVITY TYPE AS H2 *@
    <header>
        <h2>@Model.Title</h2>
    </header>
    <div style="font-size: 18px;">
        @* PLACES *@
        <ul style="margin: 1em 0;">
            @foreach (var place in Model.Places)
            {
                <li>@place.PlaceName</li>
            }
        </ul>

        @* TYPES *@
        @if (Model.Types != null && Model.Types.Any())
        {
            <ul style="margin: 1em 0;" data-bind="foreach: Types">
                @foreach (var type in Model.Types)
                {
                    <li>

                        <img src="@Url.HttpRouteUrl(null, new { controller = "EmployeeModuleSettings", action = "GetIcon", typeId = type.TypeId })" alt="" />
                        <span>@type.Text</span>
                    </li> 
                }
            </ul> 
        }

@* DATES *@
        <div style="margin: 1em 0;">
            <span>@Model.StartsOn.ToString(Model.StartsFormat)</span>
            <span style="padding: 0 4px 0 4px;">-</span>
            @if (Model.OnGoing == false)
            {
                <span>@Model.EndsOn.ToString(Model.EndsFormat)</span>
            }
            else
            {
                <span>On Going</span>
            }
        </div>

        @* FUNDING *@
        @if (Model.IsExternallyFunded == true && Model.IsInternallyFunded == true)
        {
            <div style="margin: 1em 0;" data-bind="visible: IsExternallyFunded && IsInternallyFunded">
                This activity is externally and internally funded.
            </div>
        }
        else if (Model.IsExternallyFunded != true && Model.IsInternallyFunded == true)
        {
            <div style="margin: 1em 0;" data-bind="visible: !IsExternallyFunded() && IsInternallyFunded">
                This activity is internally funded.
            </div>
        }
        else if (Model.IsExternallyFunded == true && Model.IsInternallyFunded != true)
        {
            <div style="margin: 1em 0;" data-bind="visible: IsExternallyFunded && !IsInternallyFunded()">
                This activity is externally funded.
            </div>
        }

@* DESCRIPTION *@
        <div style="margin: 1em 0;">
            @Model.Content
        </div>

        @* TAGS *@
        <ul class="tag-list" style="display: inline-block;">
            @foreach (var tag in Model.Tags)
            {
                <li style="width: auto; float: left; list-style: none; margin-right: 8px">@tag.Text</li>
            }
        </ul>

        @* DOCUMENTS *@
        <ul style="margin: 1em 0; display: block;" data-bind="foreach: Documents">
            @foreach (var document in Model.Documents)
            {
                <li>
                    <a href="/api/activities/@document.DocumentId/documents" title="@document.Title">@document.FileName</a>
                </li>
            }
        </ul>

    </div>
    <div style="display: none">
        @*<span id="agreementPartners_api">@ViewBag.AgreementPartnersApi</span>  for map *@
    </div>
</section>
