<!--@{
    ViewBag.Title = "Students";
}
    
<div class="fixed content" data-current-module="students">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <p>
        This alpha placeholder page has no content. This page is being called by the Student controller.
    </p>
</div>-->

@using UCosmic.Web.Mvc.Models
@{
    ViewBag.Title = "Students";
}


@*NAVIGATION - GETTING ERROR*@
@section bib
        {
    <nav class="bib">
        @Html.Partial(MVC.Students.Views._Bib, new EmployeesBibNavModel { FindAnExpert = true })
    </nav>
}



@section styles
    {
    <link rel="stylesheet" type="text/css" href="~/styles/sass/sheets/employees/summary.css" />
}
@section scripts
    {
    @* need this for the google visualization packages *@
    <script src="https://www.google.com/jsapi"></script>

    @* IE8 cannot handle D3 or SVG's in general *@
    <!--[if !IE | gt IE 8]><!-->
    <script src="~/scripts/oss/d3.v3.js"></script>
    <!--<![endif]-->
    @* API routes come from CSHTML files *@
    <script>
        @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.Establishments);}
        @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.Employees);}
    </script>

    @* load historyjs, linqjs, viewmodel, & other supporting scripts *@
    @Scripts.Render("~/bundles/employees/summary")

    @* Google API needs to be called outside of JQuery ready() *@
    <script>
        Employees.ViewModels.Summary.loadGoogleVisualization().done(function () {
            var viewModel = new Employees.ViewModels.Summary({
                tenantId: parseInt('@ViewBag.EmployeesEstablishmentId'),
                tenantDomain: '@ViewBag.EmployeesDomain',
                element: $('[data-current-module=employees]')[0],
                geoChart: {
                    boxElementId: 'geochart_box',
                    googleElementId: 'google_geochart',
                    keepAspectRatio: true,
                },
                activityTypesChart: {
                    boxElementId: 'activity_type_chart_box',
                    googleElementId: 'google_activity_type_chart',
                },
                activityYearsChart: {
                    boxElementId: 'activity_year_chart_box',
                    googleElementId: 'google_activity_year_chart',
                },
            });
            viewModel.applyBindings();
        });
    </script>

}

<div class="content fixed to-top" data-current-module="students">
    <table>
        @foreach (var item in Model)
        { <tr>
            <td>@item.studentId</td>
              <td>@item.status</td>
        </tr>}

        <tbody class="searchResults">
            <tr>
                <td>Status ID</td>
                <td>Local Establishment ID</td>
                <td>Foreign Establishment ID</td>

            </tr>
            @foreach (var activity in Model)
            {
                <tr>
                    @* Status *@
                    <td class="locations-column">
                        <ul>
                            <li class="comma-list"><span>@activity.status</span></li>
                        </ul>
                    </td>

                    <td class="locations-column">
                        @activity.establishmentId
                    </td>

                    <td class="locations-column">
                        @activity.foreignEstablishmentId
                    </td>

                </tr>
            }
        </tbody>


            
    </table>
</div>

    