@using UCosmic.Web.Mvc.Models
@{
    ViewBag.Title = "Student Mobility Snapshot";   
}

@section bib
{
    <nav class="bib">
        @Html.Partial(MVC.Students.Views._Bib, new StudentsBibNavModel { })
    </nav>
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/styles/sass/sheets/employees/summary.css" />

}

<link rel="import" href="~/components/Polymer/bower_components/core-ajax/core-ajax.html" />

<div class="content fixed to-top" data-current-module="students">
    <form class="group" method="GET">
        <div class="on-left from-top">
            <div class="group" style="height:30px;">
                <div class="on-left">
                    <header style=" margin-bottom:0px;">
                        <h1>
                           Student Mobility
                        </h1>
                    </header>
                </div>
                
                <div class="on-right">
                    <a href="/@ViewBag.StudentsDomain/students/table/" class="restore-underline">Reset search</a>
                </div>
            </div>

            <polymer-element name="activity-table" attributes="pager resp url table-headers domain">
                <template>
                    <style>
                        table {
                            display: table;
                            border-collapse: collapse;
                            border-spacing: 0px;
                            border-color: gray;
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font-size: 100%;
                            font: inherit;
                            vertical-align: baseline;
                            cursor: default;
                        }
                        th {
                            border: solid 1px #fff;
                            padding: 4px 8px;
                            vertical-align: text-top;
                            text-align: left;
                            background-color: black;
                            color: white;
                            font-weight: bold;
                        }
                        ul {
                            list-style: none;
                        }

                        table.data tbody tr:nth-child(odd) td {
                            background-color: #dddddd;
                        }

                       table.data td {
                            border: solid 1px #fff;
                            padding: 4px;
                            vertical-align: top;
                        }

                        table.data th {
                            border: solid 1px #fff;
                            padding: 4px 8px;
                            vertical-align: text-top;
                            text-align: left;
                            background-color: black;
                            color: white;
                            font-weight: bold;
                        }

                        table.data .searchResults tr:hover td {
                            background-color: #ffffaa;
                        }

                        .align-top > col {
                            vertical-align: top;
                        }


                    </style>

                    <link href="~/styles/reset.css" rel="stylesheet" />
                    <link rel="stylesheet" type="text/css" href="~/styles/sass/sheets/employees/summary.css" />

                    <core-ajax id="cajax" url="{{url}}" params='{{urlParams}}' loading='{{loading}}' auto on-core-response="{{resp}}"
                               attributes="urlParams"></core-ajax>

                    <table style="width:100%">
                        <tr>
                            <td align="left">
                                <div style="height: 24px; ">
                                    <strong>Showing {{pager.pageStart}} - {{pager.pageEnd}} of {{pager.numStudents}}</strong>
                                    <!--(page
                                    <select id="pageNumber" on-change="{{changePage}}" data-sel="this">

                                        <option value="{{i}}" template repeat="{{i in pageRange}}">
                                            {{i}}
                                        </option>
                                    </select>
                                    of <span>{{pager.pageMax}}</span>)-->
                                </div>

                                <div>
                                    <button class="link" id="prev_button" on-click="{{prevPage}}">&lt;&lt; Previous</button>                                  
                                    <button class="link" id="next_button" on-click="{{nextPage}}">Next &gt;&gt;</button>
                                </div>

                                <template if="{{loading}}">
                                    <div>
                                        <img src="/images/icons/spinner/spinner-20-blue.gif" alt="" />
                                        <strong>Loading...</strong>
                                    </div>
                                </template>
                            </td>
                            <td align="right">
                                <div class="field"
                                     style=" margin: 10px 0 0 0;">
                                    <select style="width:100%" name="orderBy" class="side" id="orderBy" on-change="{{changeorderBy}}" data-sel="this">
                                        <option selected="selected" value="term-desc">Sort by term most recent at top</option>
                                        <option value="term-asc">Sort with term most recent at bottom</option>
                                        <option value="status-asc">Sort by status inbound at top</option>
                                        <option value="status-desc">Sort by status inbound at bottom</option>
                                        <option value="country-asc">Sort by country A-Z</option>
                                        <option value="country-desc">Sort by country Z-A</option>
                                        <option value="level-desc">Sort by level highest at top</option>
                                        <option value="level-asc">Sort by level highest at bottom</option>
                                        <option value="program-asc">Sort by degree program A-Z</option>
                                        <option value="program-desc">Sort by degree program Z-A</option>
                                        
                                    </select>
                                </div>

                                <div class="field"
                                     style="margin:4px 0;">

                                    <select style="width:100%"  name="pageSize" class="side" id="Input_PageSize" on-change="{{changePageSize}}" data-size="this">
                                        <option selected="selected" value="10">Show 10 results per page</option>
                                        <option value="20">Show 20 results per page</option>
                                        <option value="50">Show 50 results per page</option>
                                        <option value="100">Show 100 results per page</option>
                                        <option value="250">Show 250 results per page</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="data" style="width:100%">     
                        <thead>
                            <tr>
                                <th>Term</th>
                                <th>Status</th>
                                <template if="{{!pager.tracksForeign}}">
                                    <th>Campus</th>
                                </template>
                                <th>Country</th>
                                <th>Level</th>
                                <th>Degree Program</th>
                                <template if="{{pager.tracksForeign}}">
                                    <th>Feeder Institution</th>
                                    <th>Host Institution</th>
                                </template>
                            </tr>
                        </thead>

                        <tbody class="searchResults">
                            <template repeat="{{student in pager.students}}" >
                                <tr>
                                    <td>{{student.term}}</td>
                                    <td class="statusData">{{student.status}}</td>
                                    <template if="{{!pager.tracksForeign}}">
                                        <td>{{student.campus}}</td>
                                    </template>
                                    <td>{{student.country}}</td>
                                    <td>{{student.level}}</td>
                                    <td>{{student.program}}</td>
                                    <template if="{{pager.tracksForeign}}">
                                        <td>{{student.localEstablishmentName}}</td>
                                        <td>{{student.foreignEstablishmentName}}</td>
                                    </template>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </template>
                <script>
                    Polymer('activity-table',
                    {
                        
                        pageRange: [],

                        pager: {
                            page: 0,
                            pageSize: 0,
                            pageMax: 0,
                            pageEnd: 0,
                            numStudents: 0,
                            order: '',
                            orderDirection: '',
                            students: [],
                            tracksForeign:false
                        },

                        changePage: function (sel) {
                            this.urlParams.page = parseInt(sel.target.value);
                            this.refresh();
                        },

                        changePageSize: function (sel) {
                            this.urlParams.pageSize = parseInt(sel.target.value);
                            this.refresh();
                        },

                        filterBy: function (field, sel) {
                            switch (field) {
                                case "Campus":
                                    if (sel.value == 'All Campuses') {
                                        this.urlParams.campus = "%%"
                                    } else {
                                        this.urlParams.campus = sel.value;
                                    }
                                    break;
                                case "Continent":
                                    if (sel.value == 'All Continents') {
                                        this.urlParams.FContinent = "%%"
                                    } else {
                                        this.urlParams.FContinent = sel.value;
                                    }
                                    break;
                                case "Country":
                                    if (sel.value == 'All Countries') {
                                        this.urlParams.FCountry = "%%"
                                    } else {
                                        this.urlParams.FCountry = sel.value;
                                    }
                                    break;
                                case "Level":
                                    if (sel.value == 'All Levels') {
                                        this.urlParams.FLevel = "%%"
                                    } else {
                                        this.urlParams.FLevel = sel.value;
                                    }
                                    break;
                                case "Program":
                                    this.urlParams.FDegree = sel.value;
                                    break;

                                case "Status":
                                    this.urlParams.FStatus = sel.value;
                                    break;
                                case "StartDate":
                                    this.urlParams.FStartDate = sel.value;
                                    break;
                                case "EndDate":
                                    this.urlParams.FEndDate = sel.value;
                                    break;
                            }
                            this.refresh();
                        },
                        
                        changeorderBy: function (sel) {
                            //Select orderBy and direction for url parameters
                            switch(sel.target.value){
                                case "term-desc"  : 
                                    this.urlParams.orderBy          = "termStart"; 
                                    this.urlParams.orderDirection   = "DESC"; 
                                    break;
                                case "term-asc"   :
                                    this.urlParams.orderBy          = "termStart"; 
                                    this.urlParams.orderDirection   = "ASC"; 
                                    break;
                                case "status-asc" :
                                    this.urlParams.orderBy          = "status"; 
                                    this.urlParams.orderDirection   = "ASC"; 
                                    break;
                                case "status-desc":
                                    this.urlParams.orderBy          = "status"; 
                                    this.urlParams.orderDirection   = "DESC"; 
                                    break;
                                case "country-asc":
                                    this.urlParams.orderBy          = "country"; 
                                    this.urlParams.orderDirection   = "ASC"; 
                                    break;
                                case "country-desc":
                                    this.urlParams.orderBy          = "country"; 
                                    this.urlParams.orderDirection   = "DESC"; 
                                    break;
                                case "level-desc":
                                    //rank is the numerical version of level
                                    this.urlParams.orderBy          = "rank";
                                    this.urlParams.orderDirection   = "DESC";
                                    break;
                                case "level-asc":
                                    this.urlParams.orderBy          = "rank";
                                    this.urlParams.orderDirection   = "ASC";
                                    break;
                                case "program-asc":
                                    this.urlParams.orderBy          = "program";
                                    this.urlParams.orderDirection   = "ASC";
                                    break;
                                case "program-desc":
                                    this.urlParams.orderBy          = "program";
                                    this.urlParams.orderDirection   = "DESC";
                                    break;

                                //whew!
                            }
                            this.refresh();

                        },

                        changeLevelBy: function (sel) {
                            //Select orderBy and direction for url parameters
                            switch (sel.target.value) {
                                case "UG":
                                    this.urlParams.FLevel = "Undergraduate";
                                    break;
                                case "GR":
                                    this.urlParams.FLevel = "Graduate";
                                    break;
                            }
                            this.refresh();

                        },

                        isselected: function (sel) {
                            if (parseInt(sel.target.value) == this.pager.page) return true;
                            else return false;
                        },

                        loading: false,

                        nextPage:function(){this.urlParams.page+=1; this.refresh();},

                        prevPage:function(){this.urlParams.page-=1; this.refresh();},

                        range: function (s, l) {
                            var o = []
                            for (var i = 0; i < l; i++) {
                                o.push(s + i);
                            }
                            return o;
                        },

                        refresh: function () {
                            this.$.cajax.go();
                        },

                        resp: function (response) {
                            this.pager = JSON.parse(response.detail.response);
                            this.pageRange = this.range(1, this.pager.pageMax);

              
                            //disable buttons on first/last page
                            this.$.prev_button.disabled = (this.pager.page == 1) ? true : false;
                            this.$.next_button.disabled = (this.pager.page == this.pager.pageMax) ? true : false;
                        },

                        urlParams: {
                            domain: "",
                            campus: "%%",
                            page: 1,
                            pageSize: 10,
                            orderBy: "termStart",
                            orderDirection: "DESC",
                            FCountry: "%%",
                            FStartDate: "1/1/1753 12:00:00 AM", //January 1st, 1900 by default (show activities after 1900)
                            FEndDate: "12/31/9999 11:59:59 PM", //January 1st, 9999 by default (show activities before 9999)
                            FContinent: "%%",
                            FDegree: "%%",
                            FLevel: "%%",
                            FInstitution: "%%",
                            FStatus:"%%"
                        },
       
                    });
                </script>
            </polymer-element>



            <activity-table id="activity-table" url="~/api/students/"></activity-table>

    </div>
    <aside class="on-right from-top" data-fixed-scroll="root">
        <div data-fixed-scroll="anchor"></div>
        <div data-fixed-scroll="content">
            <nav class="side">

                <ul class="top">
                    <li class="static square-bottom" style="margin-bottom: 0;">
                        <div class="group">
                            <div class="on-left"></div>
                        </div>
                        <div class="group no-link" style="margin-left: 15px;">
                            <span class="text">
                            </span>
                        </div>
                    </li>
                    <li class="static square-bottom">
                        <div class="content">
                            <div class="field">
                                <div>
                                    <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Campus',this)">
                                        <option>All Campuses</option>
                                        @{foreach (var o in ViewBag.campus)
                                          {
                                              <option>@o.OfficialName</option>
                                          }     
                                         }
                                    </select>
                                    
                                    <input type="hidden" data-bind="value: selectedEstablishment" name="ancestorid" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="middle">
                    <li class="static square-bottom " style="margin-bottom: 0;">
                        <div class="group">
                            <div class="on-left"></div>
                        </div>
                        <div class="group no-link">
                            <span class="arrow"></span>
                            <span class="text" style="border-radius: 0;">
                                Filter options
                                <img src="/images/icons/spinner/spinner-20-blue-on-ddd.gif" alt=""
                                     style="margin-left: 4px; display: none;" data-bind="visible: loadingSpinner.isVisible" />
                            </span>
                        </div>
                    </li>
                    <li class="static square-bottom">
                        <div class="content">

                            <div class="location combobox field">
                                <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Continent',this)">
                                    <option>All Continents</option>
                                    @{foreach (var o in ViewBag.continents)
                                    {
                                        <option>@o</option>
                                    }
                                    }
                                </select>

                            </div>

                            <div class="location combobox field">
                                <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Country',this)">
                                    <option>All Countries</option>
                                    @{foreach (var o in ViewBag.countries)
                                    {
                                        <option>@o</option>
                                    }
                                    }
                                </select>
                            </div>

                            <div class="location combobox field">
                                <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Program',this)">
                                    <option value="%%">All Programs</option>
                                    @{foreach (var o in ViewBag.programs)
                                    {
                                        <option value="@o.name">@o.name</option>
                                    }
                                    }
                                </select>
                            </div>

                            <div class="field">
                                <select name="levelby" class="side" id="levelby" onchange="document.querySelector('#activity-table').filterBy('Level',this)">
                                    <option selected="selected" value="%%">All Levels</option>
                                    <option value="GR">Graduate</option>
                                    <option value="UG">Undergraduate</option>
                                </select>
                            </div>

                            <div class="field">
                                <select name="levelby" class="side" id="levelby" onchange="document.querySelector('#activity-table').filterBy('Status',this)">
                                    <option selected="selected" value="%%">Inbound & Outbound</option>
                                    <option value="IN">Inbound Only</option>
                                    <option value="OUT">Outbound Only</option>
                                </select>
                            </div>

                            <div class="dates picker field" style="margin-top: 12px;">
                                <strong>Filter by date(s)</strong>
                            </div>

                            <div class="field">
                                <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('StartDate',this)">
                                    <option value="1/1/1753 12:00:00 AM">Any Start Term</option>
                                    @{foreach (var o in ViewBag.terms)
                                    {
                                        <option value="@o.startDate">@o.name</option>
                                    }
                                    }
                                </select>
                            </div>
                          
                            <div class="field">
                                <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('EndDate',this)">
                                    <option value="12/31/9999 11:59:59 PM">Any End Term</option>
                                    @{foreach (var o in ViewBag.terms)
                                    {
                                        <option value="@o.startDate">@o.name</option>
                                    }
                                    }
                                </select>
                            </div>
             

                        </div>
                    </li>
                </ul>
                <ul class="bottom">
  
                    <li class="current">
                        <a href="/@ViewBag.StudentsDomain/students/table/" class="group">
                            <span class="arrow"></span>
                            <span class="text">Table</span>
                        </a>
                    </li>
                    <li>
                        <a href="/@ViewBag.StudentsDomain/students/map/" class="group">
                            <span class="arrow"></span>
                            <span class="text">Map</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

        <filter-box id="filter-box" url="~/api/students/filters" style_domain="usf.edu"></filter-box>

        <polymer-element name="filter-box" attributes="style_domain pager resp url table-headers domain">
            <template>

                <link href="~/styles/reset.css" rel="stylesheet" />
                <link rel="stylesheet" type="text/css" href="~/styles/sass/sheets/employees/summary.css" />
                <link rel="stylesheet" type="text/css" href="~/styles/tenants/{{style_domain}}/layout.css" />
                <core-ajax id="cajax" url="{{url}}" params='{{urlParams}}' loading='{{loading}}' auto on-core-response="{{resp}}"
                           attributes="urlParams"></core-ajax>
                
                    <div id="main" class="group">
                        <div class="content fixed to-top">
                            <aside class="on-right from-top" data-fixed-scroll="root">
                                <div data-fixed-scroll="anchor"></div>
                                <div data-fixed-scroll="content">
                                    <nav class="side">

                                        <ul class="top">
                                            <li class="static square-bottom" style="margin-bottom: 0;">
                                                <div class="group">
                                                    <div class="on-left"></div>
                                                </div>
                                                <div class="group no-link" style="margin-left: 15px;">
                                                    <span class="text">
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="static square-bottom">
                                                <div class="content">
                                                    <div class="field">
                                                        <div>
                                                            <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Campus',this)">
                                                                <option>All Campuses</option>
                                                                @{foreach (var o in ViewBag.campus)
                                                                {
                                                                    <option>@o.OfficialName</option>
                                                                }
                                                                }
                                                            </select>

                                                            <input type="hidden" data-bind="value: selectedEstablishment" name="ancestorid" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="middle">
                                            <li class="static square-bottom " style="margin-bottom: 0;">
                                                <div class="group">
                                                    <div class="on-left"></div>
                                                </div>
                                                <div class="group no-link">
                                                    <span class="arrow"></span>
                                                    <span class="text" style="border-radius: 0;">
                                                        Filter by location
                                                        <img src="/images/icons/spinner/spinner-20-blue-on-ddd.gif" alt=""
                                                             style="margin-left: 4px; display: none;" data-bind="visible: loadingSpinner.isVisible" />
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="static square-bottom">
                                                <div class="content">

                                                    <div class="location combobox field">
                                                        <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Continent',this)">
                                                            <option>All Continents</option>
                                                            @{foreach (var o in ViewBag.continents)
                                                            {
                                                                <option>@o</option>
                                                            }
                                                            }
                                                        </select>

                                                    </div>

                                                    <div class="location combobox field">
                                                        <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Country',this)">
                                                            <option>All Countries</option>
                                                            @{foreach (var o in ViewBag.countries)
                                                            {
                                                                <option>@o</option>
                                                            }
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="location combobox field">
                                                        <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('Program',this)">
                                                            <option value="%%">All Programs</option>
                                                            @{foreach (var o in ViewBag.programs)
                                                            {
                                                                <option value="@o.name">@o.name</option>
                                                            }
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="field">
                                                        <select name="levelby" class="side" id="levelby" onchange="document.querySelector('#activity-table').filterBy('Level',this)">
                                                            <option selected="selected" value="%%">All Levels</option>
                                                            <option value="GR">Graduate</option>
                                                            <option value="UG">Undergraduate</option>
                                                        </select>
                                                    </div>

                                                    <div class="field">
                                                        <select name="levelby" class="side" id="levelby" onchange="document.querySelector('#activity-table').filterBy('Status',this)">
                                                            <option selected="selected" value="%%">Inbound & Outbound</option>
                                                            <option value="IN">Inbound Only</option>
                                                            <option value="OUT">Outbound Only</option>
                                                        </select>
                                                    </div>

                                                    <div class="dates picker field" style="margin-top: 12px;">
                                                        <strong>Filter by date(s)</strong>
                                                    </div>

                                                    <div class="field">
                                                        <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('StartDate',this)">
                                                            <option value="1/1/1753 12:00:00 AM">Any Start Term</option>
                                                            @{foreach (var o in ViewBag.terms)
                                                            {
                                                                <option value="@o.startDate">@o.name</option>
                                                            }
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="field">
                                                        <select class="campusSelect" style="padding: 1px; margin: initial; height: auto; width: 100%; font-size: 14px;" onchange="document.querySelector('#activity-table').filterBy('EndDate',this)">
                                                            <option value="12/31/9999 11:59:59 PM">Any End Term</option>
                                                            @{foreach (var o in ViewBag.terms)
                                                            {
                                                                <option value="@o.startDate">@o.name</option>
                                                            }
                                                            }
                                                        </select>
                                                    </div>


                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="bottom">

                                            <li class="current">
                                                <a href="/@ViewBag.StudentsDomain/students/table/" class="group">
                                                    <span class="arrow"></span>
                                                    <span class="text">Table</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@ViewBag.StudentsDomain/students/map/" class="group">
                                                    <span class="arrow"></span>
                                                    <span class="text">Map</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </aside>
                        </div>
                    </div>
                

            </template>
            <script>
                Polymer('filter-box',
                {
                    filterVals: {
                        campusList: [],
                        continents: [],
                        countries: [],
                        programs: [],
                        terms: {}
                    },

                    style_domain:'usf.edu',

                    filterBy: function (field, sel) {
                        switch (field) {
                            case "Campus":
                                if (sel.value == 'All Campuses') {
                                    this.urlParams.campus = "%%"
                                } else {
                                    this.urlParams.campus = sel.value;
                                }
                                break;
                            case "Continent":
                                if (sel.value == 'All Continents') {
                                    this.urlParams.FContinent = "%%"
                                } else {
                                    this.urlParams.FContinent = sel.value;
                                }
                                break;
                            case "Country":
                                if (sel.value == 'All Countries') {
                                    this.urlParams.FCountry = "%%"
                                } else {
                                    this.urlParams.FCountry = sel.value;
                                }
                                break;
                            case "Level":
                                if (sel.value == 'All Levels') {
                                    this.urlParams.FLevel = "%%"
                                } else {
                                    this.urlParams.FLevel = sel.value;
                                }
                                break;
                            case "Program":
                                this.urlParams.FDegree = sel.value;
                                break;

                            case "Status":
                                this.urlParams.FStatus = sel.value;
                                break;
                            case "StartDate":
                                this.urlParams.FStartDate = sel.value;
                                break;
                            case "EndDate":
                                this.urlParams.FEndDate = sel.value;
                                break;
                        }
                        this.urlParams.page = 1;
                        this.refresh();
                    },

                    changeLevelBy: function (sel) {
                        //Select orderBy and direction for url parameters
                        switch (sel.target.value) {
                            case "UG":
                                this.urlParams.FLevel = "UG";
                                break;
                            case "GR":
                                this.urlParams.FLevel = "GR";
                                break;
                        }
                        this.refresh();

                    },

                    loading: false,

                    refresh: function () {
                        this.$.cajax.go();
                    },

                    resp: function (response) {
                        this.filterVals = JSON.parse(response.detail.response)
                    },

                    urlParams: {
                        domain: "",
                        campus: "%%",
                        page: 1,
                        pageSize: 10,
                        orderBy: "termStart",
                        orderDirection: "DESC",
                        FCountry: "%%",
                        FStartDate: "1/1/1753 12:00:00 AM", //January 1st, 1900 by default (show activities after 1900)
                        FEndDate: "12/31/9999 11:59:59 PM", //January 1st, 9999 by default (show activities before 9999)
                        FContinent: "%%",
                        FDegree: "%%",
                        FLevel: "%%",
                        FInstitution: "%%",
                        FStatus: "%%"
                    },

                });
            </script>
        </polymer-element>
</form>
</div>
