@model UCosmic.Web.Mvc.Models.ActivityModel

@{
    ViewBag.Title = "My International Activity";
}

@section styles
{
    <style>
        .k-upload-button {
            max-width: 500px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .k-autocomplete, .k-autocomplete.k-state-focused {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: solid 1px #aaa;
            border-right-color: #ddd;
            border-bottom-color: #ddd;
        }

            .k-autocomplete .k-input, .k-autocomplete.k-state-focused .k-input {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                padding: 8px;
                font-size: 16px;
                line-height: 20px;
                height: auto;
            }

        .k-list-container, .k-list-container.k-state-border-up, .k-list-container.k-state-border-down {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .k-multiselect {
            border: solid 1px #aaa;
            border-right-color: #ddd;
            border-bottom-color: #ddd;
            background-image: none;
            background-color: transparent;
        }

            .k-multiselect .k-input {
                padding: 8px 0 8px 4px;
                font-size: 16px;
                line-height: 20px;
                height: 18px;
                margin: 0;
                font-family: Arial;
                color: #000;
            }

                .k-multiselect .k-input.k-readonly {
                    color: #666;
                }

            .k-multiselect.k-state-hover, .xk-multiselect.k-state-hover:hover {
                background-image: none;
                background-color: transparent;
            }

            .k-multiselect, .k-multiselect.k-state-border-down, .k-multiselect.k-state-border-up, .k-multiselect .k-multiselect-wrap {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                min-height: 36px;
            }

                .k-multiselect ul .k-button {
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    margin: 2px 0 0 2px;
                    padding: 5px 6px 5px 8px;
                    line-height: 16px;
                    font-size: 16px;
                    vertical-align: middle;
                    color: #000;
                    background-color: #eee;
                    background-image: none;
                    border-color: #ddd;
                }

                    .k-multiselect ul .k-button .k-delete.k-icon {
                        background-position: top left;
                        background-image: url('/images/icons/minus/minus-20-red.png');
                        width: 20px;
                        height: 20px;
                        margin-left: 8px;
                        cursor: pointer;
                    }
    </style>
}

@section scripts
{
    @* include tinymce unbundled so it can find its plugins and other scripts internally when bundles are optimized *@
    @if (BundleTable.EnableOptimizations)
    {
        <script type="text/javascript" src="~/scripts/tinymce/tiny_mce.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/scripts/tinymce/tiny_mce_src.js"></script>
    }

    @Scripts.Render("~/bundles/activity")

    <script type="text/javascript">
        $(function() {
            var activityId = @Model.ActivityId;
            var activityViewModel = new ViewModels.Activities.Activity(activityId);
            activityViewModel.load()
                .done(function() {
                    activityViewModel.setupWidgets("fromDatePicker", "toDatePicker", "countrySelector", "uploadFile", "newTag");

                    activityViewModel.setupValidation();

                    ko.applyBindings(activityViewModel, $("#activity-edit")[0]);

                    /* KendoUI Bug? - Can't seem to preload values unless I do this. */
                    var countrySelector = $("#countrySelector").data("kendoMultiSelect");
                    countrySelector.value(activityViewModel.selectedLocations());

                    var datePicker = $("#fromDatePicker").data("kendoDatePicker");
                    datePicker.options.format = activityViewModel.values.dateFormat();
                    datePicker.value(activityViewModel.values.startsOn());

                    datePicker = $("#toDatePicker").data("kendoDatePicker");
                    datePicker.options.format = activityViewModel.values.dateFormat();
                    datePicker.value(activityViewModel.values.endsOn());

                    /* NOTE: Using TinyMCE autosave plugin will disable window.onbeforeunload. */
                    window.onbeforeunload = function() {
                        activityViewModel.autoSave(activityViewModel, null);
                    };

                    activityViewModel.setupSubscriptions();
                })
                .fail(function(jqXhr, textStatus, errorThrown) {
                    alert(textStatus + "|" + errorThrown);
                });
        });

    </script>

}

@section bib
{
    <nav class="bib hide" data-current-bib="my">
        @Html.Partial(MVC.Home.Views._Bib)
    </nav>
}

<div class="content fixed to-top" data-current-module="home">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div id="activity-edit" class="on-left from-top" style="width: 100%;">

                        <!-- BUTTONS -->
                        <div style="margin-bottom: 32px" data-bind="template: { name: 'buttons-template'}"></div>

                        <header>
                            <h1>@ViewBag.Title</h1>
                            <span class="red badge" style="vertical-align: middle;" data-bind="visible: modeText().toLowerCase() == 'draft'">Draft</span>
                        </header>

                        <div style="margin-bottom: 38px">
                            <table class="activity">
                                <tbody>
                                    <tr>
                                        <!-- TITLE -->
                                        <td class="label"><span class="container required"><span class="text">Title</span></span></td>
                                        <td>
                                            <textarea rows="1" placeholder="[Enter Title]" data-bind="value: values.title"></textarea>
                                        </td>
                                    </tr>
                                    <!-- COUNTRY -->
                                    <tr>
                                        <td class="label"><span class="container required"><span class="text">Countries / Locations</span></span></td>
                                        <td>
                                            <select id="countrySelector" style="overflow-y: auto" data-bind="selectedOptions: selectedLocations"></select>
                                            <span data-bind="validationMessage: values.locations" class="validationMessage"></span>
                                        </td>
                                    </tr>
                                    <!-- TYPE -->
                                    <tr>
                                        <!-- TODO: activity types / categories are not always required -->
                                        <td class="label" style="padding-top: 0;"><span class="container required"><span class="text">Type(s)</span></span></td>
                                        <td>
                                            <!-- Need this div for the validation message to display. -->
                                            <div>
                                                <ul class="data-items" data-bind="template: { name: 'activity-types-template', foreach: activityTypes() }" />
                                            </div>
                                            <span data-bind="validationMessage: values.types" class="validationMessage"></span>
                                        </td>
                                    </tr>
                                    <!-- FROM and TO DATES -->
                                    <tr>
                                        <td class="label"><span class="container required"><span class="text">On / From</span></span></td>
                                        <td>
                                            <div data-bind='validationOptions: { insertMessages: false }'>
                                                <input id="fromDatePicker" style="height: 30px; vertical-align: middle" data-bind="value: values.startsOn" />
                                                <span>&emsp;
                                                    <label>
                                                        <input id="ongoingCheckbox" type="checkbox" data-bind="checked: values.onGoing" />
                                                        <span>&nbsp;On-going&nbsp;</span>
                                                    </label>
                                                </span>
                                                <span data-bind="visible: !values.onGoing()">
                                                    <span>&nbsp;&nbsp;To&nbsp;</span>
                                                    <input id="toDatePicker" style="height: 30px; vertical-align: middle" data-bind="value: values.endsOn" />
                                                    <!-- <img src="~/images/icons/help/question-mark-24-blue.png" alt="Help" class="help-icon" data-bind="click: function (data, event) { help(data, event, null); }"/> -->
                                                </span>
                                            </div>
                                            <!--<span data-bind="validationMessage: values.endsOn" class="validationMessage"></span>-->
                                            <div class="example" style="margin-top: 8px">
                                                <span>Enter dates as yyyy, mm/yyyy or use date picker.</span>
                                                <div>
                                                    <span data-bind="validationMessage: values.startsOn" class="validationMessage"></span>
                                                    <span data-bind="validationMessage: values.endsOn" class="validationMessage"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- FUNDING -->
                                    <tr>
                                        <td class="label" style="padding-top: 0;"><span class="container"><span class="text">Funding</span></span></td>
                                        <td>
                                            <div style="margin-bottom: 4px;">
                                                <label>
                                                    <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="checked: values.wasExternallyFunded" />
                                                    <span>This activity received <strong>external</strong> funding</span>
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="checked: values.wasInternallyFunded" />
                                                    <span>This activity received <strong>internal</strong> funding</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- DESCRIPTION -->
                            <div style="margin-bottom: inherit">
                                <header style="margin-bottom: 4px">
                                    <h2 style="font-weight: normal">Description</h2>
                                    <!-- <img src="~/images/icons/help/question-mark-24-blue.png" alt="Help" style="width: 16px; height: 16px; float: right; margin-bottom: 3px"/> -->
                                </header>
                                <textarea data-bind="tinymce: values.content, valueUpdate: ['afterkeydown','keyup'], tinymceOptions:
                                    {
                                        content_css: App.Routes.Content.styles('tinymce.css'),
                                        convert_urls: false,
                                        theme: 'advanced',
                                        gecko_spellcheck : true,
                                        mode: 'exact',
                                        height: '300',
                                        width: '100%',
                                        verify_html: true,
                                        plugins: 'paste,searchreplace,table,nonbreaking,inlinepopups',
                                        theme_advanced_buttons1: 'undo,redo,restoredraft,|,formatselect,fontsizeselect ,bold,italic,underline,|,link,unlink,|,bullist,numlist,|,outdent,indent,blockquote,|,sub,sup,charmap,code',
                                        theme_advanced_buttons2: 'cut,copy,paste,pastetext,pasteword,|,search,replace,|,image,hr,nonbreaking,tablecontrols',
                                        theme_advanced_buttons3: '',
                                        theme_advanced_font_sizes: '10px,12px,14px,16px,24px',
                                        theme_advanced_toolbar_location: 'top',
                                        theme_advanced_toolbar_align: 'left',
                                        theme_advanced_statusbar_location: 'bottom',
                                        theme_advanced_resizing: true,
                                        theme_advanced_resizing_max_height: '580',
                                        theme_advanced_resize_horizontal: false,
                                        theme_advanced_blockformats: 'h2,h3,p,blockquote',
                                        save_enablewhendirty: true,
                                        gecko_spellcheck : true,
                                        theme_advanced_path : false
                                    }">
                                </textarea>
                                <!--<textarea id="description" rows="8" data-bind="value: values.content"></textarea>-->
                            </div>
                            <!-- TAGS -->
                            <div style="margin-bottom: 32px">
                                <header style="margin-bottom: 10px">
                                    <h2 style="font-weight: normal">
                                        <span>Tags or Keywords</span>
                                    </h2>
                                </header>
                                <div style="width: 100%; margin-bottom: 16px">
                                    <input id="newTag" style="width: 600px; white-space: nowrap; overflow: hidden" data-bind="value: newTag" />
                                    &nbsp;
                                    <a href="/#" data-bind="click: function (item, event) { this.addTag(item, event); }" title="Add tag">
                                        <img src="~/images/icons/plus/plus-24-green.png" alt="Add new tag" />
                                    </a>
                                </div>
                                <div data-bind="visible: !values.tags().length">
                                    <p style="padding-bottom: 10px;">
                                        There are currently no tags or keywords associated with this activity.
                                    </p>
                                </div>
                                <ul data-bind="template: { name: 'tags-template', foreach: values.tags, visible: values.tags().length }"></ul>
                                <div style="clear: left;"></div>
                            </div>

                            <!-- DOCUMENTS -->
                            <div style="width: 100%; margin-bottom: inherit">
                                <header>
                                    <h2>
                                        <span style="font-weight: normal">Shared Documents</span>
                                    </h2>
                                </header>
                                <div data-bind="visible: !values.documents().length">
                                    <p>
                                        There are currently no shared documents associated with this activity.
                                    </p>
                                </div>
                                <div style="margin-bottom: 16px">
                                    <input type="file" name="uploadFile" id="uploadFile" />
                                </div>
                                <div data-bind="visible: fileUploadErrors().length" style="display: none;">
                                    <ul data-bind="foreach: fileUploadErrors">
                                        <li style="margin-bottom: 0.5em;">
                                            <div>
                                                <span class="validationMessage" data-bind="text: message" style="display: inline; line-height: 1.2em;"></span>
                                                <a href="#" data-bind="click: function() { $root.dismissFileUploadError($index()); }">OK</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div data-bind="visible: values.documents().length">
                                    <table class="data">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%; text-align: center">Preview</th>
                                                <th style="width: 65%">Title</th>
                                                <th style="width: 10%; text-align: center">Type</th>
                                                <th style="width: 10%; text-align: center">Size</th>
                                                <!--<th style="width: 5%; text-align: center">Hide</th>-->
                                                <th style="width: 5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template: { name: 'activity-document-template', foreach: values.documents }"></tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- BUTTONS -->
                            <div style="margin-bottom: 32px" data-bind="template: { name: 'buttons-template'}"></div>

                            <!-- LAST UPDATED -->
                            <div style="width: 50%; height: 1.5em; border-top: 1px; border-style: solid">
                                <span style="font-size: smaller; color: slategray">
                                    <span>Last updated</span>
                                    <label id="last-updated-date" data-bind="text: (whenLastUpdated() != null) ? moment(whenLastUpdated()).format('MM/DD/YYYY') : ''"></label>
                                    <span>by </span>
                                    <label id="last-updated-name" data-bind="text: whoLastUpdated()"></label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JQUERY DIALOGS -->
<div id="documentRenameErrorDialog" class="dialog" title="Error Renaming Document">
    <span id="message" style="float: left"></span>
</div>

<div id="cancelConfirmDialog" class="dialog" title="Confirm Cancel">
    <span style="font-weight: bold">Are you sure you want to Cancel editing this Activity?</span>
</div>

<div id="activityBeingEditedDialog" class="dialog" title="Error Renaming Document">
    <span style="font-weight: bold">The activity cannot be edited at this time because it is in use by:</span>
    <div id="editingUserName" style="text-align: center"></div>
    <a id="editingUserEmail" style="text-align: center"></a>
</div>


<!-- KNOCKOUT TEMPLATES -->

<script type="text/html" id="activity-types-template">
    <li>
        <label>
            <input type="checkbox" style="margin-right: 4px; margin-left: 4px" data-bind="checked: checked" /><span data-bind="    text: type()"></span></label>
    </li>
</script>

<script type="text/html" id="tags-template">
    <li style="float: left; margin: 0 2px 2px 0;">
        <div style="display: inline-block; padding: 5px 6px 5px 8px; background-color: #eee; border: solid 1px #ddd;">
            <span>
                <span data-bind="text: text()"></span>
                <a href="/#" data-bind="click: function (item, event) { $parent.removeTag(item, event, null); }" title="Remove tag" style="margin-left: 8px;">
                    <img src="@Links.images.icons.minus.minus_20_red_png" alt="Remove tag" style="vertical-align: middle;" /></a>
            </span>
        </div>
    </li>
</script>

<script type="text/html" id="activity-document-template">
    <tr class="hover-hilite" style="white-space: normal">
        <!-- Preview -->
        <td style="text-align: center">
            <img alt="thumbnail" data-bind="attr: { src: proxyImageSource }">
        </td>
        <!-- Title -->
        <td>
            <span style="display: inline"
                id="documentTitle"
                data-bind="text: title, click: function (item, event) { $parent.startDocumentTitleEdit(item, event); }"></span>
            <input type="text"
                id="documentTitleInput"
                style="display: none"
                data-bind="value: title" />
        </td>
        <!-- Type -->
        <td style="text-align: center">
            <span data-bind="text: extension"></span>
        </td>
        <!-- Size -->
        <td style="text-align: center">
            <span data-bind="text: size"></span>
        </td>
        <!-- Visible -->
        <!--<td style="text-align: center">
                <input type="checkbox" data-bind="checked: !visible"/>
            </td>-->
        <!-- Remove Button -->
        <td style="text-align: center; vertical-align: middle">
            <a href="#" title="Remove document" data-bind="click: function (item, event) { $parent.deleteDocument(item, event, 0); }, clickBubble: false">
                <img src="@Links.images.icons.minus.minus_24_red_png" alt="Remove document" />
            </a>
        </td>
    </tr>
</script>

<script type="text/html" id="buttons-template">
    <span>
        <input type="button" value="Save as Draft" data-bind="click: function (item, event) { save(item, event, 'Draft'); }, clickBubble: false" />
        <input type="button" value="Publish" data-bind="click: function (item, event) { save(item, event, 'Public'); }, clickBubble: false" />
        <input type="button" value="Guide Me" style="margin-left: 50px" />
        <input type="button" value="Cancel" style="float: right" data-bind="click: function (item, event) { cancel(item, event); }, clickBubble: false" />
    </span>
</script>

