@using UCosmic.Web.Mvc.Models
@{
    ViewBag.Title = "My Formal Education";
}

@section bib
{
    <nav class="bib">
        @Html.Partial(MVC.Employees.Views._Bib, new EmployeesBibNavModel
        {
            Other = new KeyValuePair<string, string>("My Formal Education &raquo;", Url.Action(MVC.People.Degrees((int)ViewBag.PersonId, null))),
            Custom = ViewBag.DegreeId == 0 ? "New" : "Edit",
        })
    </nav>
}

@section styles
{
    <style>
        .non-required-field {
            width: 120px;
            display: inline-block;
            text-align: right;
        }

        .required-field {
            width: 120px;
            display: inline-block;
            text-align: right;
        }

            .required-field::after {
                content: "*";
                font-size: large;
                vertical-align: text-top;
                color: red;
            }
    </style>
}

@section scripts
{
    <script>
        @{ Html.RenderPartial(MVC.JavaScriptRoutes.Views.Employees); }
    </script>

    @Scripts.Render("~/bundles/degree")

    <script type="text/javascript">
        $(function () {
            var degreeViewModel = new ViewModels.Degrees.Degree('@ViewBag.DegreeId', '@ViewBag.PersonId');
            degreeViewModel.load()
                .done(function () {
                    degreeViewModel.setupWidgets("institution");
                    degreeViewModel.setupValidation();
                    ko.applyBindings(degreeViewModel, $("#degree-edit")[0]);
                    degreeViewModel.setupSubscriptions();
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    alert(textStatus + "|" + errorThrown);
                });
        });

    </script>
}

<div class="content fixed to-top" id="degree_editor">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div id="degree-edit" class="on-left from-top" style="width: 100%;">
                        <header>
                            <h1>@ViewBag.Title</h1>
                        </header>
                        <div style="margin-bottom: 38px">
                            <!-- TITLE -->
                            <div style="margin-bottom: 8px">
                                <span>
                                    <label for="title" class="required-field">Degree</label>
                                    <input type="text" id="title" style="width: 400px; margin-right: 8px" data-bind="value: title" />
                                </span>
                            </div>

                            <!-- FIELD OF STUDY -->
                            <div style="margin-bottom: 8px">
                                <span>
                                    <label for="fieldOfStudy" class="non-required-field">Field of Study</label>
                                    <input type="text" id="fieldOfStudy" style="width: 400px; margin-right: 8px" data-bind="value: fieldOfStudy" />
                                </span>
                            </div>

                            <!-- YEAR AWARDED -->
                            <div style="margin-bottom: 8px">
                                <span>
                                    <label for="yearAwarded" class="non-required-field">Year Awarded</label>
                                    <input type="text" id="yearAwarded" style="width: 60px; margin-right: 8px" data-bind="value: yearAwarded" />
                                </span>
                            </div>

                            <!-- ALMA MATER -->
                            <table>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <label style="margin-top: 4px;" class="required-field">Alma Mater</label>
                                    </td>
                                    <td>
                                        <div style="width: 400px; margin-left: 4px; display: inline-block;">
                                            <div style="margin-bottom: 8px; display: none;" data-bind="visible: (institutionTranslatedName() || institutionOfficialName())">
                                                <a title="Remove this participant" data-bind="click: removeParticipant"><i class="red minus on-right" style="margin:0;"></i></a>
                                                <div class="item" style="width: 350px;">
                                                    <div>
                                                        <strong data-bind="text: institutionTranslatedName"></strong>
                                                        <span data-bind="visible: institutionOfficialNameDoesNotMatchTranslation">(<span data-bind="    text: institutionOfficialName"></span>)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="validationMessage" style="display: none; margin-bottom: 8px;" data-bind="text: almaMaterErrorMsg, visible: almaMaterErrorMsg().length > 0"></span>
                                            <div style="margin-top: 4px">
                                                <a data-bind="click: addParticipant" class="button">
                                                    <i class="green plus"></i>
                                                    <span class="text" data-bind="text: almaMaterButtonText">Choose my alma mater</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- BUTTONS -->
                        <div style="margin-bottom: 32px" data-bind="template: { name: 'buttons-template'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="establishment_search" class="content fixed to-top" style="display: none;">
    <form class="group" data-bind="submit: requestResults">
        <div class="on-left from-top">
            <header>
                <h1 data-bind="text: header">
                    Choose a participant
                </h1>
                <div style="float: right">
                    <a href="#/" id="cancelAddParticipant" class="button">Cancel</a>
                </div>
            </header>
            @Html.Partial(MVC.Establishments.Views._SearchAndResults)
        </div>
        <aside id="asideRootSearch" class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Establishments.Views._SearchSideBar)
            </div>
        </aside>
        <aside id="asideParentSearch" class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Establishments.Views._ParentSearchSideBar)
            </div>
        </aside>
    </form>
</div>
<div id="add_establishment" class="content fixed to-top" style="visibility: hidden">
    <div data-side-swiper="root" id="establishment_page">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div class="on-left from-top">
                        <header>
                            <h1>
                                Add an establishment
                            </h1>
                            <div style="float: right">
                                <a href="#/" id="cancelAddEstablishment" class="button">Cancel</a>
                            </div>
                        </header>
                        @Html.Partial(MVC.Establishments.Views._FormAndCards)
                    </div>
                    <aside class="on-right from-top" data-fixed-scroll="root">
                        <div data-fixed-scroll="anchor"></div>
                        <div data-fixed-scroll="content">
                            @Html.Partial(MVC.Establishments.Views._FormSideBar)
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JQUERY DIALOGS -->
<div id="cancelConfirmDialog" class="dialog" title="Confirm Cancel">
    <div>By cancelling, you will lose all changes.</div>
    <div style="font-weight: bold">Are you sure you want to cancel editing this degree?</div>
</div>

<div id="degreeBeingEditedDialog" class="dialog" title="Error Renaming Document">
    <div>The degree cannot be edited at this time because it is in use by:</div>
    <div id="editingUserName" style="text-align: center"></div>
    <a id="editingUserEmail" style="text-align: center"></a>
</div>


<!-- KNOCKOUT TEMPLATES -->
<script type="text/html" id="buttons-template">
    <span style="width: 540px; display: block;">
        <input type="button" value="Save" data-bind="click: function (item, event) { save(item, event, 'Save'); }, clickBubble: false" />
        @*<input type="button" value="Guide Me" style="margin-left: 50px" />*@
        <input type="button" value="Cancel" style="float: right" data-bind="click: function (item, event) { cancel(item, event); }, clickBubble: false" />
    </span>
</script>