@using UCosmic.Domain.People

@{
    var customProfileTitle = "My UCosmic Profile";
    var tenancy = Request.Tenancy();
    if (tenancy != null && !string.IsNullOrWhiteSpace(tenancy.CustomProfileTitle))
    {
        customProfileTitle = tenancy.CustomProfileTitle;
    }
    ViewBag.Title = customProfileTitle;
}

@section styles
{
}

@section scripts
{
    @Scripts.Render("~/bundles/my/profile")

    <script type="text/javascript">

        $(function() {
            var viewModel = new ViewModels.My.Profile();
            $(viewModel).on('ready', function () {
                ko.applyBindings(viewModel, $('#my_profile')[0]);
            });
            $("#accordion").accordion();
            $("#accordion").removeClass("ui-widget");
        });

    </script>

}


@section bib
{
    <nav class="bib hide" data-current-bib="people">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}

<div id="my_profile" class="content fixed to-top" data-current-module="home">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div class="on-left from-top" style="width: 100%;">
                        <header>
                            <h1>@ViewBag.Title</h1>
                        </header>
                        <div class="person-profile clickable">
                            <div class="card">
                                <div class="group">
                                    <div class="on-left photo">
                                        <img src="~/images/icons/user/unisex-a-128.png" alt="" data-bind="attr: { src: photoSrc }" />
                                    </div>
                                    <div class="on-left name-and-title">
                                        <div class="display-name" data-bind="text: displayName"></div>
                                        <div class="titles" data-bind="multilineText: jobTitles"></div>
                                        @if (User.IsInRole(RoleName.EmployeeProfileManager))
                                        {
                                            <div class="admin-only">
                                                <em>Male, Inactive</em>
                                            </div>
                                        }
                                    </div>
                                    <div class="on-left faculty">
                                        <span class="branded-dark1 badge">Distinguished Professor</span>
                                        <div class="appointments">
                                            Senior Advisor on Academic Affairs, United Nations Global Compact (UNGC)
                                            <br/>
                                            Vice President & Treasurer, American International Recruitment Council (AIRC)
                                            <br/>
                                            Executive Director, UCosmic Consortium
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action">
                                Click to edit
                            </div>
                        </div>
                        <div id="accordion" style="">
                            <h2>My Information</h2>
                            <div class="fieldset">
                                <form enctype="multipart/form-data" data-bind="submit: saveInfo, validationOptions: { decorateElement: true, errorClass: 'error' }">
                                    <div class="field-table w690-l250-v440">
                                        <div class="field-row">
                                            <div class="field-label" style="padding-top: 0;">
                                                <img src="~/images/icons/user/unisex-a-128.png" alt="" data-bind="attr: { src: photoSrc }" />
                                            </div>
                                            <div class="field-input">
                                                <input type="file" name="photo" data-bind="jqObservableElement: '$photo'" />
                                            </div>
                                        </div>
                                        <div class="field-row above-unlabeled-row">
                                            <div class="field-label">
                                                <label>Display name</label>
                                            </div>
                                            <div class="field-input">
                                                <input type="text" data-bind="value: displayName, valueUpdate: 'afterkeydown', attr: { disabled: isDisplayNameDerived }" />
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-unlabeled-input">
                                                <label>
                                                    <input type="checkbox" data-bind="checked: isDisplayNameDerived" />
                                                    Automatically generate my display name based on the fields below.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-label">
                                                <label>Salutation</label>
                                            </div>
                                            <div class="field-input">
                                                <input type="text" data-bind="value: salutation, valueUpdate: 'afterkeydown', jqObservableElement: '$nameSalutation'" />
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-label">
                                                <label>First name</label>
                                            </div>
                                            <div class="field-input">
                                                <input type="text" data-bind="value: firstName, valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-label">
                                                <label>Middle name</label>
                                            </div>
                                            <div class="field-input">
                                                <input type="text" data-bind="value: middleName, valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-label">
                                                <label>Last name</label>
                                            </div>
                                            <div class="field-input">
                                                <input type="text" data-bind="value: lastName, valueUpdate: 'afterkeydown'" />
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-label">
                                                <label>Suffix</label>
                                            </div>
                                            <div class="field-input">
                                                <input type="text" data-bind="value: suffix, valueUpdate: 'afterkeydown', jqObservableElement: '$nameSuffix'" />
                                            </div>
                                        </div>
                                        <div class="field-row" data-bind="visible: isFacultyRanksVisible">
                                            <div class="field-label">
                                                <label>Faculty rank</label>
                                            </div>
                                            <div class="field-input">
                                                <select data-bind="options: facultyRanks, optionsText: 'rank', optionsValue: 'id', value: facultyRankId, optionsCaption: '[Unknown]', jqObservableElement: '$facultyRanks'">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-label">
                                                <label>My Preferred Title is</label>
                                            </div>
                                            <div class="field-input">
                                                <textarea rows="2" data-bind="value: jobTitles"></textarea>
                                            </div>
                                        </div>
                                        <div class="field-row">
                                            <div class="field-label">
                                                <label>Administrative Appointments</label>
                                            </div>
                                            <div class="field-input">
                                                <textarea rows="2" data-bind="value: administrativeAppointments"></textarea>
                                            </div>
                                        </div>
                                        @if (User.IsInRole(RoleName.EmployeeProfileManager))
                                        {
                                            <div class="field-row">
                                                <div class="field-label">
                                                    <label>Gender</label>
                                                </div>
                                                <div class="field-input for-checkables">
                                                    <label>
                                                        <input type="radio" name="genderGroup" value="@PersonGender.Male" data-bind="checked: gender" />
                                                        <span>Male</span>
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <label>
                                                        <input type="radio" name="genderGroup" value="@PersonGender.Female" data-bind="checked: gender" />
                                                        <span>Female</span>
                                                    </label>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <label>
                                                        <input type="radio" name="genderGroup" value="@PersonGender.NonDisclosed" data-bind="checked: gender" />
                                                        <span>Undisclosed</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="field-row">
                                                <div class="field-unlabeled-input">
                                                    <label>
                                                        <input type="checkbox" data-bind="checked: isActive" />
                                                        This profile is currently active.
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                        <div class="field-row">
                                            <div class="field-unlabeled-input">
                                                <input type="submit" value="Save" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <h2>My Email Addresses</h2>
                            <div class="fieldset">
                                <form data-xbind="submit: saveEmails">
                                    <div>
                                        <input type="submit" value="Save" />
                                    </div>
                                </form>
                            </div>

                            <h2>My Affiliations</h2>
                            <div class="fieldset">
                                <form data-xbind="submit: saveAffiliations">
                                    <div>
                                        <input type="submit" value="Save" />
                                    </div>
                                </form>
                            </div>

                            <h2>My Picture</h2>
                            <div class="fieldset">
                                <form data-xbind="submit: savePicture">
                                    <div>
                                        <input type="submit" value="Save" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


