@{
    var customProfileTitle = "My UCosmic Profile";
    var tenancy = Request.Tenancy();
    if (tenancy != null && !string.IsNullOrWhiteSpace(tenancy.CustomProfileTitle))
    {
        customProfileTitle = tenancy.CustomProfileTitle;
    }
    ViewBag.Title = customProfileTitle;
    var viewingUser = Session.UserImpersonating() ?? User;
}

@section styles
{
}

@section scripts
{
    @Scripts.Render("~/bundles/my/profile")
    @Scripts.Render("~/bundles/activities")
    @Scripts.Render("~/bundles/geographicExpertises")
    @Scripts.Render("~/bundles/languageExpertises")
    @Scripts.Render("~/bundles/degrees")
    @Scripts.Render("~/bundles/affiliations")

    <script type="text/javascript">

        $( function () {        
            var profileViewModel = new ViewModels.My.Profile();
            $(profileViewModel).on('ready', function () {
                ko.applyBindings( profileViewModel, $( '#my_profile' )[0] );
                profileViewModel.startTab("Activities");
            } );
            
            $( '#tabstrip' ).kendoTabStrip( {
                activate: function ( e ) { profileViewModel.tabClickHandler( e ); },
                animation: false
            } ).show();
        });

    </script>

}

@section bib
{
    <nav class="bib hide" data-current-bib="my">
        @Html.Partial(MVC.Home.Views._Bib)
    </nav>
}

<div class="content fixed to-top" data-current-module="home">
    <div data-side-swiper="root">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div class="on-left from-top" style="width: 100%;">
                        <header>
                            <h1>@ViewBag.Title</h1>
                        </header>
                        <div id="my_profile">
                            <section class="person-profile" data-bind="click: startEditing, css: { clickable: !editMode() }">
                                <div class="card">
                                    <div class="group">
                                        <div class="on-left photo">
                                            @* ReSharper disable Html.PathError *@
                                            <img src="~/api/my/profile/photo?maxSide=128" alt="" data-bind="attr: { src: photoSrc }" />
                                            @* ReSharper restore Html.PathError *@
                                        </div>
                                        <div class="on-left name-and-title">
                                            <div class="display-name" data-bind="text: displayName"></div>
                                            <div class="titles" data-bind="multilineText: jobTitles"></div>
                                            @if (viewingUser.IsInRole(RoleName.EmployeeProfileManager))
                                            {
                                                <div class="admin-only">
                                                    <em><span data-bind="text: genderText"></span>, <span data-bind="    text: isActiveText"></span></em>
                                                </div>
                                            }
                                        </div>
                                        <div class="on-left faculty">
                                            <span class="branded-dark1 badge" style="display: none;" data-bind="text: facultyRankText, visible: isFacultyRankVisible"></span>
                                            <div class="appointments" data-bind="multilineText: administrativeAppointments">
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="action">
                                    Click to edit
                                </div>
                            </section>
                            <section class="fieldset" style="display: none;" data-bind="jqElement: '$editSection'">
                                <fieldset class="no-sidebar">
                                    <legend>Edit @customProfileTitle</legend>
                                    @Html.Partial(MVC.MyProfile.Views._PersonalInfo)
                                </fieldset>
                            </section>
                        </div>
                        <div id="tabstrip" class="profile-tabs" style="display: none;" data-bind="click: tabClickHandler(item,event)">
                            <ul>
                                <li class="k-state-active">Activities</li>
                                <li>Geographic Expertise</li>
                                <li>Language Expertise</li>
                                <li>Formal Education</li>
                                <li>Affiliations</li>
                                <li>Email Addresses</li>
                            </ul>
                            <div>
                                @Html.Partial(MVC.MyProfile.Views._Activities)
                            </div>
                            <div>
                                @Html.Partial(MVC.MyProfile.Views._GeographicExpertises)
                            </div>
                            <div>
                                @Html.Partial(MVC.MyProfile.Views._LanguageExpertises)
                            </div>
                            <div>
                                @Html.Partial(MVC.MyProfile.Views._Degrees)
                            </div>
                            <div>
                                @Html.Partial(MVC.MyProfile.Views._Affiliations)
                            </div>
                            <div>
                                My Email Addresses
                                @Html.Partial(MVC.MyProfile.Views._EmailAddresses)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


