@{
    ViewBag.Title = "Users";
}

@section bib
{
    <nav class="bib hide" data-current-bib="users">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}

@section scripts
{

    @Scripts.Render("~/bundles/users")

    <script type="text/javascript">
        $(function() {
            var viewModel = new ViewModels.Users.Search();
            ko.applyBindings(viewModel, $('[data-current-module=admin]')[0]);
            viewModel.sammy.run();
        });
    </script>

}

<div class="content fixed to-top" data-current-module="admin">
    <form class="group">
        <input type="hidden" data-bind="jqObservableElement: '$historyJson'" />
        <div class="on-left from-top">
            <header>
                <h1>
                    @ViewBag.Title
                </h1>
            </header>
            <div class="field">
                <input type="hidden" data-bind="value: keyword" />
                <input type="search" placeholder="Enter a user name, email address, or access grant" data-bind="value: keyword, valueUpdate: 'afterkeydown search'" />
            </div>
            <p data-bind="visible: hasNoItems" style="display: none;">
                There are no results that match your search terms.
            </p>
            <p data-bind="visible: spinner.isVisible">
                <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                <strong>Loading search results...</strong>
            </p>
            <p data-bind="visible: showStatus" style="display: none;">
                <strong>Showing <span data-bind="text: firstNumber"></span>
                    <span data-bind="visible: hasManyItems">- <span data-bind="    text: lastNumber"></span></span>
                    of <span data-bind="text: itemTotal"></span></strong>
                <span data-bind="visible: hasManyPages">(page
                    @*<select class="inline" data-bind="options: pageNumberOptions, value: selectedPageNumber">
                    </select>*@
                    <span data-bind="text: transitionedPageNumber"></span>
                    of <span data-bind="text: pageCount"></span>)</span>
            </p>
            <hr />
            <ol data-bind="foreach: items, visible: hasItems" style="display: none;">
                <li class="user-item">
                    <div class="group">
                        <div class="on-left">
                            <img src="~/images/icons/user/unisex-a-128.png" alt="" data-bind="attr: { src: photoSrc }" width="100" />
                        </div>
                        <div class="on-left">
                            <div class="text-data">
                                <div class="group">
                                    <div class="on-left">
                                        <span data-bind="text: name" class="user-name"></span>
                                        <span data-bind="visible: hasUniqueDisplayName">-
                                            <span data-bind="text: personDisplayName" class="display-name"></span>
                                        </span>
                                    </div>
                                    <div class="on-right menu-box">
                                        <ul data-bind="jqObservableElement: '$menu'">
                                            <li>
                                                <span style="display: none;">Action</span>
                                                <ul>
                                                    @if (User.IsInAnyRole(RoleName.UserImpersonators))
                                                    {
                                                        <li data-bind="click: impersonate">Impersonate</li>
                                                    }
                                                    @if (User.IsInAnyRole(RoleName.RoleGrantors))
                                                    {
                                                        <li data-bind="click: showRoleEditor, visible: !isEditingRoles()">Manage Access Grants</li>
                                                    }
                                                    @if (User.IsInAnyRole(RoleName.EmployeeProfileManager))
                                                    {
                                                        <li data-bind="click: deleteUser, visible: !isEditingRoles()">Delete</li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @if (User.IsInAnyRole(RoleName.RoleGrantors))
                                {
                                    <div class="roles">
                                        <span class="branded-dark1 badge" data-bind="visible: hasNoGrants" style="display: none;">[No access grants]</span>
                                        <div data-bind="visible: hasGrants, foreach: roles">
                                            <span class="branded-dark1 badge"><span data-bind="text: name"></span>
                                                <img data-bind="visible: $parent.isEditingRoles(), click: revokeRole" title="Revoke this access grant"
                                                    src="~/images/icons/minus/minus-16-red-on-white.png" alt="Revoke this access grant" class="revoke-button" />
                                            </span>
                                            <div data-bind="jqElement: '$confirmPurgeDialog'" title="Please confirm your intent" style="display: none;">
                                                <div>
                                                    <p>
                                                        Are you sure you want to revoke this access grant from <strong><span data-bind="text: $parent.name"></span></strong>?
                                                    </p>
                                                    <div>
                                                        <span class="branded-dark1 badge"><span data-bind="text: name"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (User.IsInAnyRole(RoleName.RoleGrantors))
                            {
                                <div class="editor" data-bind="slideDownVisible: isEditingRoles" style="display: none;">
                                    <div style="display: none;" data-bind="visible: isRevokeError">
                                        <span class="field-validation-error" data-bind="text: revokeErrorText"></span>
                                        <a href="#" data-bind="click: dismissError">OK</a>
                                    </div>
                                    <div class="row">
                                        <select data-bind="value: selectedRoleOption, options: roleOptions, optionsText: 'name', optionsValue: 'id', optionsCaption: roleOptionsCaption, jqObservableElement: '$roleSelect'">
                                            <option>[Loading...]</option>
                                        </select>
                                    </div>
                                    <div style="display: none;" data-bind="visible: isGrantError">
                                        <span class="field-validation-error" data-bind="text: grantErrorText"></span>
                                        <a href="#" data-bind="click: dismissError">OK</a>
                                    </div>
                                    <div class="row">
                                        <input type="button" value="Grant Access" data-bind="click: grantRole, disable: isRoleGrantDisabled" />
                                        <input type="button" value="I'm Finished" class="link" data-bind="click: hideRoleEditor" />
                                        &nbsp;&nbsp;&nbsp;
                                        <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" data-bind="visible: roleSpinner.isVisible" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <hr />
                </li>
            </ol>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.Users.Views._SearchSideBar)
            </div>
        </aside>
    </form>
    <form action="@Url.Action(MVC.Identity.SignOver())" method="POST" data-bind="element: 'impersonateForm'">
        <input type="hidden" name="userName" data-bind="value: impersonateUserName" />
    </form>
</div>

<!-- JQUERY DIALOGS -->
<div id="confirmUserDeleteDialog" class="dialog" title="Confirm Delete">
    <span style="font-weight: bold">Are you sure you want to delete this user?</span>
</div>