@{
    ViewBag.Title = (ViewBag.Id == 0) ? "Create Establishment" : "Establishment Details";
}
@section bib
{
    <nav class="bib hide" data-current-bib="establishments">
        @Html.Partial(MVC.Admin.Views._Bib)
    </nav>
}
@section scripts {

    @Scripts.Render("~/bundles/establishments/item")

    <script type="text/javascript">
        var establishmentItemViewModel = new ViewModels.Establishments.Item(@ViewBag.Id);
        ko.applyBindings(establishmentItemViewModel, $('[data-current-module=admin]')[0]);
        establishmentItemViewModel.sammy.run();
    </script>

}

<div class="content fixed to-top" data-current-module="admin">
    <div data-side-swiper="root" id="establishment_page">
        <div data-side-swiper="deck">
            <div data-side-swiper="on">
                <div class="group">
                    <div class="on-left from-top">
                        <header>
                            <h1>
                                @ViewBag.Title
                            </h1>
                        </header>
                        @Html.Partial(MVC.Establishments.Views._FormAndCards)
                    </div>
                    <aside class="on-right from-top" data-fixed-scroll="root">
                        <div data-fixed-scroll="anchor"></div>
                        <div data-fixed-scroll="content">
                            @Html.Partial(MVC.Establishments.Views._FormSideBar)
                        </div>
                    </aside>
                </div>
            </div>
            <div data-side-swiper="off" class="left" style="width: 960px;" data-bind="with: parentSearch">
                <form class="group">
                    <div class="on-left from-top">
                        <header>
                            <div style="float: right">
                                <a href="#/" class="button">Cancel</a>
                            </div>
                            <h1>
                                Choose parent establishment
                            </h1>
                        </header>
                        @Html.Partial(MVC.Establishments.Views._SearchAndResults)
                    </div>
                    <aside class="on-right from-top" data-fixed-scroll="root">
                        <div data-fixed-scroll="anchor"></div>
                        <div data-fixed-scroll="content">
                            @Html.Partial(MVC.Establishments.Views._SearchSideBar)
                        </div>
                    </aside>
                </form>
            </div>
        </div>
    </div>
</div>
