@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.PageOfDegreePublicViewModel

@* DEGREES *@
<section class="content fixed to-top">
    <div>

        @if (Model != null && Model.Items.Any())
        {
@* RESULTS *@
            <div>
                <ul style="font-size: 20px;">
                    @foreach (var degree in Model.Items)
                    {
                        <li style="margin-bottom: 1em;">
                            <strong style="display: block;">@degree.Title</strong>
                            <ul style="display: inline-block;">
                                @if (degree.Institution != null && degree.Institution.OfficialName != string.Empty)
                                {
                                    <li class="comma-list">@degree.Institution.OfficialName</li>   
                                }
                                @if (!string.IsNullOrEmpty(degree.FieldOfStudy))
                                {
                                    <li class="comma-list">@degree.FieldOfStudy</li>
                                }
                                @if (degree.YearAwarded != null)
                                {
                                    <li class="comma-list">@degree.YearAwarded</li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
@* ZERO RESULTS MESSAGE *@
            <span>
                @ViewBag.CustomBib has not yet identified any particular areas of international degrees.
            </span>
        }


    </div>
</section>
