@model UCosmic.Web.Mvc.Models.PersonEmailAddressesViewModel

@* EMAILS *@
    @if (Model != null && Model.Emails.Any())
    {
        <div>
            <ul>
                @foreach (var emailAddress in Model.Emails)
                {
                    <li>

                        @if (emailAddress.IsDefault)
                        {
                            <div @if (ViewBag.isEdit) { @Html.Raw("style='margin-bottom:12px;'")   }>
                                <strong>
                                    @if (emailAddress.IsConfirmed)
                                    {
                                        <a href='mailTo:@emailAddress.Value'>
                                            @emailAddress.Value
                                        </a>
                                    }
                                    else
                                    {
                                        @emailAddress.Value
                                    }
                                </strong>
                                @*<span style="color: #666;"> (default)</span>*@
                            </div>
                        }
                        else
                        {
                            if (ViewBag.isEdit)
                            {
                                <form method="POST" action="@Url.Action(MVC.People.DeleteEmail(emailAddress.PersonId, emailAddress.Number))">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                @if (emailAddress.IsConfirmed)
                                {
                                        <a href='mailTo:@emailAddress.Value'>
                                        @emailAddress.Value
                                        </a>
                                }
                                else
                                {
                                    @emailAddress.Value
                                }
                                <button class="link">
                                <img alt="" src="~/images/icons/minus/minus-24-red.png" title="Delete this email"
                                style="cursor: pointer; margin: 5px 0 8px 8px;" />
                                </button>
                                </form>
                            }
                            else
                            {
                                if (emailAddress.IsConfirmed)
                                {
                                    <a style="margin-top: 12px; display: block;" href='mailTo:@emailAddress.Value'>
                                        @emailAddress.Value
                                    </a>
                                }
                                else
                                {
                                    @emailAddress.Value
                                }
                            }
                        }
                    </li>
                }
            </ul>
        </div>
    }
    @if (ViewBag.isEdit)
    {

        <form method="POST" action="@Url.Action(MVC.People.Emails())">
            <input type="email" placeholder="[Enter alternate email address]" name="value" style="width:240px;" />
            <button href="#" class="button" style="margin:0;">
                <img alt="" src="~/images/icons/plus/plus-24-green-disc.png" title="Add a new email."
                     style="cursor: pointer; margin: 0" />
                <span style="font-size: 16px; display: inline-block; line-height: 20px; vertical-align: middle;">Add</span>
            </button>
        </form>
    }
