@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.LanguageExpertiseApiModel[]

@* DEGREES *@
<section class="content fixed to-top">
    <div>

        @if (Model != null && Model.Any())
        {
            @* RESULTS *@
            <div>
                <ul style="font-size: 20px;">
                                        @foreach (var language in Model)
                    {
                        <li style="margin-bottom: 1em;">
                            <strong>@language.LanguageName</strong>
                            @if (!string.IsNullOrEmpty(language.Dialect))
                            {
                                <span> - @language.Dialect</span>
                            }
                                <ul>
                                    @if (language.SpeakingProficiency > 0)
                                    {
                                        <li>
                                            Speaking -
                                            @Html.Partial(MVC.People.Views._LanguagesProficiency, language.SpeakingProficiency)
                                        </li>
                                    }
                                    @if (language.ListeningProficiency > 0)
                                    {
                                        <li>
                                            Listening -
                                            @Html.Partial(MVC.People.Views._LanguagesProficiency, language.ListeningProficiency)
                                        </li>
                                    }
                                    @if (language.ReadingProficiency > 0)
                                    {
                                        <li>
                                            Reading -
                                            @Html.Partial(MVC.People.Views._LanguagesProficiency, language.ReadingProficiency)
                                        </li>
                                    }
                                    @if (language.WritingProficiency > 0)
                                    {
                                        <li>
                                            Writing -
                                            @Html.Partial(MVC.People.Views._LanguagesProficiency, language.WritingProficiency)
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                    }
                </ul>
            </div>
        }
        else
        {
            @* ZERO RESULTS MESSAGE *@
            <p>
                This person has no known language expertise.
            </p>
        }


    </div>
</section>
