@using System.Runtime.CompilerServices
@model IEnumerable<UCosmic.Web.Mvc.Models.LanguageExpertiseViewModel>

@* LANGUAGES *@
<section class="content fixed to-top">
    <div>
        @if (Model != null && Model.Any())
        {
            @* RESULTS *@
            <div>
                <ul style="font-size: 20px; line-height: 28px;">
                    @foreach (var language in Model)
                    {
                        <li style="margin-bottom: 2em;">
                            @if (language.LanguageName != null)
                            {
                                if (language.Dialect != null)
                                {
                                    <strong>@language.LanguageName</strong><text>,</text>
                                    <strong>@language.Dialect</strong>
                                }
                                else
                                {
                                    <strong>@language.LanguageName</strong>
                                }
                            }
                            else
                            {
                                if (language.Dialect != null)
                                {
                                    <strong>@language.Other</strong><text>,</text>
                                    <strong>@language.Dialect</strong>
                                }
                                else
                                {
                                    <strong>@language.Other</strong>
                                }
                            }
                            <div id="@string.Format("chart_div_{0}", language.Id)" style="width: 100%; height: 300px;"></div>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            @* ZERO RESULTS MESSAGE *@
            <span>
                @ViewBag.CustomBib has no known language expertise.
            </span>
        }
    </div>
</section>
