@model UCosmic.Web.Mvc.Models.PersonViewModel
@using System.Globalization
@{
    var viewingUser = Session.UserImpersonating() ?? User;
}
<style>
    .yellow-affordance {
        background-color: #FBFDB3 !important;
    }

        .yellow-affordance:hover {
            background-color: #e0d1a5 !important;
        }

    .one-column {
        width: 45% !important;
    }

    .field-column-left {
        padding-left: 16px;
        padding-right: 16px;
    }

    .field-column-right {
        padding-right: 16px;
    }

    .field-table.w690-l250-v440 .field-input {
        width: 100%;
    }
</style>
<section class="person-profile clickable" data-bind="click: startEditing">
    <div class="card yellow-affordance" style="font-size: 20px;">
        @* Person *@
        <table style="margin-bottom: .5em">
            <tr>
                <td style="vertical-align: bottom;">
                    <img data-bind="attr: { src: photoSrc }" src="@Url.HttpRouteUrl(null, new { controller = "People", action = "GetPhoto", Id = Model.PersonId })" style="max-width: 100px;  margin-right: 1em" height="108" />
                </td>
                <td>
                    <div data-bind="text: displayName" style=" font-size: 24px; line-height: 28px;">@Model.DisplayName</div>
                    <div data-bind="text: preferredTitle">@Model.JobTitles</div>
                    <a style="-ms-word-break: break-all; -moz-word-break: break-all; -o-word-break: break-all; word-break: break-all;" href="mailto:@Model.EmailAddress" target="_top">@Model.EmailAddress</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="action" style="display: none" data-bind="visible: kendoHasLoaded">
        Click to edit
    </div>
    <div class="action" data-bind="visible: !kendoHasLoaded()">
        Loading editor...
    </div>
</section>

<div id="edit_personal_info_dialog" style="display: none">
    <form id="personal_info_edit_form" method="POST" data-bind="submit: saveInfo, validationOptions: { decorateElement: true, errorClass: 'error' }">
        <div class="field-table w690-l250-v440">
            <div class="field-row">
                <div class="field-column-left one-column">
                    <div class="field-label" style="padding-top: 0; float: left; width: 130px;">
                        <img src="@Url.HttpRouteUrl(null, new { controller = "MyPhoto", action = "Get", maxSide = "128", refresh = DateTime.UtcNow.ToString(CultureInfo.InvariantCulture) })"
                             alt="" data-bind="attr: { src: photoSrc }" />
                    </div>
                    <div class="field-input" style="float: right; width: 220px; height: 100px;">
                        <div>
                            <input type="file" name="photo" id="photo" />
                        </div>
                        <div style="padding-left: 4px;">
                            <div data-bind="visible: hasPhoto" style="display: none; padding-top: 4px;">
                                <input type="button" value="Delete my photo" data-bind="click: startDeletingPhoto, attr: { disabled: photoDeleteSpinner.isVisible } " />
                                <img data-bind="visible: photoDeleteSpinner.isVisible" src="~/images/icons/spinner/spinner-20-blue.gif" alt="" style="display: none;" />
                            </div>
                            <div data-bind="jqElement: '$confirmPurgeDialog'" title="Please confirm your intent" style="display: none; z-index: 10004;">
                                <div>
                                    <p>
                                        Are you sure you want to delete your profile photo?
                                    </p>
                                </div>
                            </div>
                            <div data-bind="visible: photoUploadError" style="display: none;">
                                <span class="validationMessage" data-bind="text: photoUploadError"></span>
                            </div>
                            <div data-bind="visible: photoUploadSpinner.isVisible" style="padding-top: 4px; display: none;">
                                <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" />
                                <strong>Uploading...</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-column-right one-column">
                    <div class="field-label">
                        <label>Display name</label>
                    </div>
                    <div class="field-input">
                        <input type="text" data-bind="value: displayName, valueUpdate: 'afterkeydown', attr: { disabled: isDisplayNameDerived }" />
                    </div>
                    <div class="field-input">
                        <label>
                            <input type="checkbox" data-bind="checked: isDisplayNameDerived" />
                            Automatically generate my display name based on the fields below.
                        </label>
                    </div>
                </div>
            </div>
            <div class="field-row">
                <div class="field-column-left one-column">
                    <div class="field-label">
                        <label>Salutation</label>
                    </div>
                    <div class="field-input">
                        <input type="text" placeholder="[None]" id="salutation"
                               data-bind="value: salutation, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div class="field-column-right one-column">
                    <div class="field-label">
                        <label>First Name</label>
                    </div>
                    <div class="field-input">
                        <input type="text" placeholder="[Please enter your first name here]"
                               data-bind="value: firstName, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
            </div>
            <div class="field-row">
                <div class="field-column-left one-column">
                    <div class="field-label">
                        <label>Middle Name or Initial</label>
                    </div>
                    <div class="field-input">
                        <input type="text" placeholder="[None]"
                               data-bind="value: middleName, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div class="field-column-right one-column">
                    <div class="field-label">
                        <label>Last Name</label>
                    </div>
                    <div class="field-input">
                        <input type="text" placeholder="[Please enter your last name here]"
                               data-bind="value: lastName, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
            </div>
            <div class="field-row">
                <div class="field-column-left one-column">
                    <div class="field-label">
                        <label>Suffix</label>
                    </div>
                    <div class="field-input">
                        <input type="text" placeholder="[None]" id="suffix"
                               data-bind="value: suffix, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div class="field-column-right one-column">
                    @* GENDER ROW *@
                    @if (viewingUser.IsInRole(RoleName.EmployeeProfileManager))
                    {
                        <div class="field-label">
                            <label>Gender</label>
                        </div>
                        <div class="field-input for-checkables">
                            <div>
                                <label>
                                    <input type="radio" name="genderGroup" value="@UCosmic.Domain.People.PersonGender.Male" data-bind="checked: gender" />
                                    <span>Male</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="genderGroup" value="@UCosmic.Domain.People.PersonGender.Female" data-bind="checked: gender" />
                                    <span>Female</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="genderGroup" value="@UCosmic.Domain.People.PersonGender.NonDisclosed" data-bind="checked: gender" />
                                    <span>Undisclosed</span>
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>



            <div class="field-row">
                <div class="field-column-left one-column">
                    <div class="field-label">
                        <label>My Preferred Title is</label>
                    </div>
                    <div class="field-input">
                        <textarea placeholder="[None]" rows="3"
                                  data-bind="value: preferredTitle, valueUpdate: 'afterkeydown'">
                            @Model.JobTitles
                            </textarea>
                        </div>
                    </div>
                    @if (viewingUser.IsInRole(RoleName.EmployeeProfileManager))
                    {
                        <div class="field-column-right one-column">
                            <div style="margin-top: 24px;">
                                <label>
                                    <input type="checkbox" data-bind="checked: isActive" />
                                    This profile is currently active.
                                </label>
                            </div>
                            <div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div>
                            <span style="display: inline-block; float: left; margin-bottom: 1em;"><a href="#">Request my profile be deleted</a></span>
                        </div>
                    }
                </div>

                <div class="field-row">
                    <div class="field-column-left one-column">
                        <div>
                            <input type="submit" value="Save" data-bind="attr: { disabled: saveSpinner.isVisible }" />
                            &nbsp;&nbsp;&nbsp;
                            <a href="#/cancel-profile-edit/" data-bind="click: cancelEditing">Cancel</a>
                            &nbsp;&nbsp;&nbsp;
                            <img src="~/images/icons/spinner/spinner-20-blue.gif" alt="" data-bind="visible: saveSpinner.isVisible" style="display: none;" />
                            <strong data-bind="visible: saveSpinner.isVisible" style="display: none;">Saving...</strong>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
