@* RIGHT *@
<nav class="side">
    <ul>
        <li class="@if(ViewBag.currentPage == "profile")
    {
        @Html.Raw("current");
    }" id="nav_profile">
            <a href="@Url.Action(MVC.People.Index((int)@ViewBag.personId))" class="group">
                <span class="arrow"></span>
                <span class="text">Profile</span>
            </a>
        </li>
        <li id="nav_activities">
            <a href="@Url.Action(MVC.People.Activities((int)@ViewBag.personId, null))" class="group">
                <span class="arrow"></span>
                <span class="text">Activities</span>
            </a>
        </li>
        <li class="@if(ViewBag.currentPage == "degrees")
    {
        @Html.Raw("current");
    }" id="nav_education">
            <a href="@Url.Action(MVC.People.Degrees((int)@ViewBag.personId, null))" class="group">
                <span class="arrow"></span>
                <span class="text">Formal Education</span>
            </a>
        </li>
        <li class="@if (ViewBag.currentPage == "global-expertise")
                   {
                       @Html.Raw("current")
                       ;
                   }" id="nav_global_expertise">
            <a href="@Url.Action(MVC.People.GlobalExpertises((int)@ViewBag.personId))" class="group">
                <span class="arrow"></span>
                <span class="text">Global Expertise</span>
            </a>
        </li>
        <li class="@if (ViewBag.currentPage == "languages")
                   {
                       @Html.Raw("current")
                       ;
                   }" id="nav_language_expertise">
            <a href="@Url.Action(MVC.People.Languages((int)@ViewBag.personId))" class="group">
                <span class="arrow"></span>
                <span class="text">Language Expertise</span>
            </a>
        </li>
    </ul>
</nav>


