@using UCosmic.Web.Mvc.ApiControllers
@model UCosmic.Web.Mvc.Models.PageOfActivityPublicViewModel
@{
    ViewBag.Title = "UCosmic Profile";
}
@section bib
{
    <nav class="bib hide" data-current-bib="faculty">
        @Html.Partial(MVC.Activities.Views._Bib)
    </nav>
}
@section scripts
{

    <script type="text/javascript">
        var modelData = $.parseJSON('@Html.Raw(Json.Encode(Model))');
        modelData.Keyword = '@ViewBag.keyword';
        modelData.CountryCode = '@ViewBag.countryCode';
        modelData.OrderBy = '@ViewBag.orderBy';
</script>

    @Scripts.Render("~/bundles/people/activities")

    <script type="text/javascript">
        var viewModel = new People.ViewModels.ActivityInputModel(modelData);
        ko.applyBindings(viewModel, $('#main')[0]);
    </script>

}
@section styles
{
    <style>
        body table.data td {
            border: solid 1px #fff;
            padding: 4px;
            vertical-align: top;
        }

        .same-line {
            width: auto;
            display: inline-block;
            white-space: nowrap;
            float: left;
            list-style: none;
            margin-right: 8px;
        }

        .same-line:last-child {
            margin-right: 0px;
        }

        .comma-list {
            display: inline;
        }

        .comma-list:after {
            content: ', ';
        }

        .comma-list:last-child:after {
            content: '';
        }
    </style>
}
<div class="content fixed to-top" data-current-module="employees">
    <form class="group" method="GET" action="@Url.Action(MVC.People.Activities())" data-bind="jQuery: '$form'">
        <div class="on-left from-top">
            <header>
                <h1>
                    International Activities
                </h1>
            </header>
            @Html.Action(MVC.People.GetCard())
            @Html.Partial(MVC.People.Views._Activities, Model)
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.People.Views._SearchSidebarNav, Model)
            </div>
        </aside>
    </form>
</div>

