@{
    ViewBag.Title = "UCosmic Profile";
}
@section bib
{
    <nav class="bib hide" data-current-bib="faculty">
        @Html.Partial(MVC.Employees.Views._Bib)
    </nav>
}
@section scripts
{



    <script type="text/javascript">
    </script>

}
@section styles
{
    <style>
        .comma-list {
            display: inline;
        }

        .comma-list:after {
            content: ', ';
        }

        .comma-list:last-child:after {
            content: '';
        }
    </style>
}
<div class="content fixed to-top" data-current-module="faculty">
    <form class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    UCosmic Profile
                </h1>
            </header>
            @Html.Action(MVC.People.GetCard())
            @Html.Action(MVC.People.GetAffiliations())
            @Html.Action(MVC.People.GetEmails())
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.People.Views._SidebarNav)
            </div>
        </aside>
    </form>
</div>

