@using UCosmic.Web.Mvc.Models
@{
    ViewBag.Title = "UCosmic Profile";
}
@section bib
{
    <nav class="bib">
        @Html.Partial(MVC.Employees.Views._Bib, new EmployeesBibNavModel { Custom = ViewBag.CustomBib })
    </nav>
}
@section styles
{
    <style>
        .comma-list {
            display: inline;
        }

            .comma-list:after {
                content: ', ';
            }

            .comma-list:last-child:after {
                content: '';
            }
    </style>
}
<div class="content fixed to-top" data-current-module="faculty">
    <div class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    UCosmic Profile
                </h1>
            </header>
            @Html.Action(MVC.People.GetCard((int)ViewBag.personId))
            @Html.Action(MVC.People.GetAffiliations((int)ViewBag.personId))
            <section class="content fixed to-top">
                <h2 style="font-size: 24px; padding-bottom: 1em;">Contact Information</h2>
                <div style="float:left; width: 330px;">
                    @Html.Action(MVC.People.GetEmails((int)ViewBag.personId, false))
                </div>
                <div style="float: right; width: 340px">
                    @Html.Action(MVC.People.GetUrls((int)ViewBag.personId, false))
                </div>
            </section>

        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.People.Views._SidebarNav)
            </div>
        </aside>
    </div>
</div>

