@model UCosmic.Web.Mvc.Models.PersonViewModel
@{
    ViewBag.Title = "UCosmic Profile";
}
@section bib
{
    <nav class="bib hide" data-current-bib="faculty">
        @Html.Partial(MVC.Activities.Views._Bib)
    </nav>
}
@section scripts
{
    @if (ViewBag.isOwner)
    {
    <script>
        @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.Establishments);}
        @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.Employees);}
        @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.People);}
    </script>
        <script src="~/scripts/oss/linq.js"></script>
        <script src="~/scripts/app/DataCacher.js"></script>

    <script src="~/scripts/app/FormSelect.js"></script>

    <script src="~/scripts/viewmodels/establishments/Server.js"></script>

    <script src="~/scripts/viewmodels/employees/Server.js"></script>
        <script src="~/scripts/viewmodels/people/Server.js"></script>
        
        <script type="text/javascript">
            var modelData = $.parseJSON('@Html.Raw(Json.Encode(Model))');
        </script>

        @Scripts.Render("~/bundles/people/profileEditor")

        @*<script type="text/javascript">
            var viewModel = new People.ViewModels.ProfileSpike(modelData);
            ko.applyBindings(viewModel, $('#main')[0]);
        </script*@
        <script type="text/javascript">

            $(function () {
                var profileViewModel = new People.ViewModels.ProfileSpike('@ViewBag.PersonId');
                profileViewModel.load('@ViewBag.Tab')
                    .done(function () {
                        ko.applyBindings(profileViewModel, $('#main')[0]);
                        //profileViewModel.startEditing();

                        /* KendoUI TabStrip Bug? - .select(0) does not produce a select event */
                        //if ( '@ViewBag.Tab' === '' ) {
                        //    //profileViewModel.startTab("activities");
                        //    location.href = "#/activities";
                        //} else {
                        //    //$( "#tabstrip" ).data( "kendoTabStrip" ).select( @ViewBag.Tab);
                        //    debugger;
                        //    var url = App.Routes.Mvc.My.Profile.get() + "#/" + '@ViewBag.Tab';
                        //    location.href = url;
                        //}
                    })
                    .fail(function (xhr) {
                        App.Failures.message(xhr, 'while trying to load your profile', true);
                    });
            });

        </script>
    }
}
@section styles
{
    <style>
        .comma-list {
            display: inline;
        }

            .comma-list:after {
                content: ', ';
            }

            .comma-list:last-child:after {
                content: '';
            }
    </style>
}
<div class="content fixed to-top" data-current-module="faculty">
    <div class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    UCosmic Profile
                </h1>
            </header>
            <section class="person-profile" data-bind="click: startEditing, css: { clickable: !editMode() }">
                <div class="card">
                    @Html.Action(MVC.People.GetCard())
                </div>
                <div class="action">
                    Click to edit
                </div>
            </section>
            @if (ViewBag.isOwner)
            {
                <section class="fieldset" style="display: none;" data-bind="jqElement: '$editSection', visible: editMode">
                    <fieldset class="no-sidebar" style="width:0;">
                        @*<legend>Edit @customProfileTitle</legend>*@
                        @Html.Partial(MVC.People.Views._PersonalInfo_Spike)
                    </fieldset>
                </section>
            }
            @Html.Action(MVC.People.GetAffiliations())
            @Html.Action(MVC.People.GetEmails())
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.People.Views._SidebarNav)
            </div>
        </aside>

    </div>
</div>

