@using UCosmic.Web.Mvc.Models
@model PersonViewModel
@{
    ViewBag.Title = "UCosmic Profile";
}
@section bib
{
    <nav class="bib">
        @Html.Partial(MVC.Employees.Views._Bib, new EmployeesBibNavModel { Custom = ViewBag.CustomBib })
    </nav>
}
@section scripts
{
    @if (User.Identity.Name.Equals(Model.Username, StringComparison.OrdinalIgnoreCase))
    {
        <script>
            @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.Establishments);}
            @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.Employees);}
            @{Html.RenderPartial(MVC.JavaScriptRoutes.Views.People);}
        </script>
        <script src="~/scripts/oss/linq.js"></script>
        <script src="~/scripts/app/DataCacher.js"></script>

        <script src="~/scripts/app/FormSelect.js"></script>

        <script src="~/scripts/viewmodels/establishments/Server.js"></script>

        <script src="~/scripts/viewmodels/employees/Server.js"></script>
        <script src="~/scripts/viewmodels/people/Server.js"></script>


        @Scripts.Render("~/bundles/people/profileEditor")

        <script type="text/javascript">

            $(function () {
                var affiliationsViewModel = new People.ViewModels.AffiliationsEditor('@Model.PersonId');
                ko.applyBindings(affiliationsViewModel, $('#affiliations')[0]);
                affiliationsViewModel.bindJquery();

                var model = $.parseJSON('@Html.Raw(Json.Encode(Model))');
                var personalInfoViewModel = new People.ViewModels.PersonalInfoEditor(model);
                personalInfoViewModel.load();
                ko.applyBindings(personalInfoViewModel, $('#card')[0]);
            });

        </script>
    }
}
@section styles
{
    <style>
        .comma-list {
            display: inline;
        }

            .comma-list:after {
                content: ', ';
            }

            .comma-list:last-child:after {
                content: '';
            }

        .profile-kendo-window {
            position: fixed !important;
            top: 60px !important;
            left: 100px;
        }
    </style>
}
<div class="content fixed to-top" data-current-module="faculty">
    <div class="group">
        <div class="on-left from-top">
            <header>
                <h1>
                    UCosmic Profile
                </h1>
            </header>
            @* CARD *@
            <section class="person-profile" id="card">
                <div class="card" style="padding-left: 0;">

                    @if (User.Identity.Name.Equals(Model.Username, StringComparison.OrdinalIgnoreCase))
                    {
                        Html.RenderPartial(MVC.People.Views._PersonalInfoEditor);
                        //@Html.Partial(MVC.People.Views._PersonalInfoEditor)
                    }
                    else
                    {
                        @Html.Action(MVC.People.GetCard())
                    }
                </div>
            </section>
            @* AFFILIATIONS *@
            <section class="content fixed to-top" id="affiliations">
                @if (User.Identity.Name.Equals(Model.Username, StringComparison.OrdinalIgnoreCase))
                {
                    @* EDIT AFFILIATIONS *@
                    <section>
                        @Html.Partial(MVC.People.Views._AffiliationsEditor)
                    </section>
                }
                else
                {
                    //@Html.Action(MVC.People.GetAffiliations())
                    Html.RenderAction(MVC.People.GetAffiliations());
                }
            </section>
            @* CONTACT INFORMATION *@
            <section class="content fixed to-top">
                <h2 style="font-size: 24px; padding-bottom: 1em;">Contact Information</h2>
                @Html.Action(MVC.People.GetEmails())
            </section>
        </div>
        <aside class="on-right from-top" data-fixed-scroll="root">
            <div data-fixed-scroll="anchor"></div>
            <div data-fixed-scroll="content">
                @Html.Partial(MVC.People.Views._SidebarNav)
            </div>
        </aside>

    </div>
</div>
