@model UCosmic.Web.Mvc.Models.ActivityPublicViewModel

<style>
    .yellow-affordance {
        background-color: #FBFDB3 !important;
    }
    .yellow-affordance:hover {
        background-color: #FBFD97 !important;
    }
</style>
<aside id="publicView">

    <div style="font-size: 16px;">
        @* Person *@
        <a href='@Url.Action(MVC.People.Index(Model.Person.PersonId))' style="text-decoration: none; cursor: pointer; color: inherit;" title="Click here to view profile.">
            <div style="padding: 4px; padding-bottom: .5em; margin: 0;" class="yellow-affordance">
                <table>
                    <tr>
                        <td style="vertical-align: top; padding-top: 5px;">
                            <a href='@Url.Action(MVC.People.Index(Model.Person.PersonId))' style="text-decoration: none; cursor: pointer; color: inherit;">
                                <img src="@Url.HttpRouteUrl(null, new { controller = "People", action = "GetPhoto", personId = Model.Person.PersonId })" style="max-width: 52px;  margin-right: .5em" height="48" />
                            </a>
                        </td>
                        <td>
                            <a href='@Url.Action(MVC.People.Index(Model.Person.PersonId))' style="text-decoration: none; cursor: pointer; color: inherit;">
                                <div style="font-size:20px; line-height: 24px;">@Model.Person.DisplayName</div>
                            </a>
                            <div>@Model.Person.JobTitle</div>
                            <a title="Click here send email." style="-ms-word-break: break-all; -moz-word-break: break-all; -o-word-break: break-all; word-break: break-all;" href="mailto:@Model.Person.EmailAddress" target="_top">@Model.Person.EmailAddress</a>
                        </td>
                    </tr>
                </table>
            </div>
        </a>
        @* MAP *@
        <div style="height: 200px; width: 280px;" id="map-canvas"></div>

        @* PLACES *@
        <div style="margin: 1em 0;">
            <ul style="display: inline-block;">
                @foreach (var place in Model.Places)
                {
                    <li class="same-line" style="margin-bottom: .5em;">
                        @*<a href='~/facultystaff/#/search/country/@place.PlaceName' style="text-decoration: none; color: inherit;">*@
                        <span class="badge light-transparent">
                            @place.PlaceName
                        </span>
                        @*</a>*@
                    </li>
                }
            </ul>
        </div>
    </div>
</aside>
