@model UCosmic.Web.Mvc.Models.ActivityPublicViewModel
@{
    ViewBag.Title = Model.Title;
}
@section bib
{
    <nav class="bib hide" data-current-bib="faculty">
        @Html.Partial(MVC.Activities.Views._Bib)
    </nav>
}
@section scripts
{

    <script type="text/javascript">
        var activityData = $.parseJSON('@Html.Raw(Json.Encode(Model))');
    </script>

    @Scripts.Render("~/bundles/activityPublicView")

    <script type="text/javascript">
        var viewModel = new Activities.ViewModels.PublicView(activityData);
    </script>

}
@section styles
{
    <style>
        .add-comma {
            display: inline-block;
        }

            .add-comma li:after {
                content: ",";
            }

            .add-comma li:last-child:after {
                content: "";
            }

        .same-line {
            width: auto;
            float: left;
            list-style: none;
            margin-right: 8px;
        }
    </style>
}

<div class="content fixed to-top" data-current-module="employees" id="publicView">
    <div class="group">
        <div class="on-right from-top" style="width: 280px; margin: 28px 0px 12px 12px;">
            @Html.Partial(MVC.Activities.Views._ActivitiesSide)
        </div>
        <div class="from-top" style="max-width: 950px;">
            <header>
                <h1 style="display: inherit; padding-top: 1em;">
                    @ViewBag.Title
                </h1>
            </header>
            @Html.Partial(MVC.Activities.Views._ActivitiesContent)
        </div>
    </div>
</div>
