<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <!--[if lt IE 9]>
    @Styles.Render("~/bundles/legacy/ie8")
    <![endif]-->
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="my">
        @*<input type="email" placeholder="Email address" />
        <a href="/#sign-on">Sign On</a>*@
        <div class="group">
            <a href="#/account" class="email float-left">Daniel.Ludwig@uc.edu</a>
            <a href="#/account" class="my float-left">My International</a>
            <a href="#/account" class="out float-left">Sign out</a>
        </div>
    </nav>
    <nav class="modules hide">
        <ul class="group">
            <li class="home">
                <a href="@Url.Action(MVC.Home.Index())">Home
                </a>
            </li>
            <li class="agreements">
                <a href="@Url.Action(MVC.Home.Agreements())">Agreements
                </a>
            </li>
            <li class="employees">
                <a href="@Url.Action(MVC.Home.Employees())">Faculty & Staff
                </a>
            </li>
            <li class="alumni">
                <a href="@Url.Action(MVC.Home.Alumni())">Alumni
                </a>
            </li>
            <li class="students">
                <a href="@Url.Action(MVC.Home.Students())">Students
                </a>
            </li>
            <li class="reps">
                <a href="@Url.Action(MVC.Home.Representatives())">Representatives
                </a>
            </li>
            <li class="travel">
                <a href="@Url.Action(MVC.Home.Travel())">Travel
                </a>
            </li>
            <li class="corporate">
                <a href="@Url.Action(MVC.Home.CorporateEngagement())">Corporate Engagement
                </a>
            </li>
            <li class="press">
                <a href="@Url.Action(MVC.Home.GlobalPress())">Global Press
                </a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="flasher hide" data-bind="element: 'element'">
            <a data-bind="click: dismiss">
                <div class="group">
                    <p class="float-left">
                        <span class="content" data-bind="text: text"></span>
                        <span class="dismissal">Click to dismiss (<span data-bind="text: tickCount"></span>)</span>
                    </p>
                    <i class="float-right small closer"></i>
                </div>
            </a>
        </div>
    </header>
    <nav class="bib">
        <ul class="group">
            <li>
                <a href="#1">First link
                </a>
            </li>
            <li>
                <a href="#2">Second link
                </a>
            </li>
            <li class="current">
                <a href="#3">Third link
                </a>
            </li>
            <li>
                <a href="#/flashlong">Fourth link
                </a>
            </li>
            <li>
                <a href="#/flashshort">Fifth link
                </a>
            </li>
        </ul>
    </nav>
    <div id="main" class="group">
        @RenderBody()
    </div>
    <footer>
        <div>
            This is where the footer stuff will go.
        </div>
    </footer>

    @Scripts.Render("~/bundles/layout")

    <script type="text/javascript">
        app.flasher.text('@TempData["Flasher"]');
        $(function () {
            $('nav.modules a').each(function () {
                var $a = $(this);
                $a.on('click', function () {
                    $a.parents('nav.modules').find('li').each(function () {
                        $(this).removeClass('current');
                    });
                    $a.parents('li').addClass('current');
                });
            });
            $('[data-current-module]').each(function () {
                var module = $(this).data('current-module');
                $('nav.modules li.' + module).addClass('current');
            });
            $('nav.modules').removeClass('hide');
        });

        $('a[href="#/flashlong"]').on('click', function () {
            app.flasher.flash('Here is your feedback message. What happens when this gets longer, much l on g e r, so long t h a t it wraps?');
        });

        $('a[href="#/flashshort"]').on('click', function () {
            app.flasher.flash('Here is a short feedback message.');
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
