<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <!--[if lt IE 9]>
    @Styles.Render("~/bundles/legacy/ie8")
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="modules hide">
        <ul class="group">
            <li class="home">
                <a href="@Url.Action(MVC.Home.Index())">Home
                </a>
            </li>
            <li class="agreements">
                <a href="@Url.Action(MVC.Home.Agreements())">Agreements
                </a>
            </li>
            <li class="employees">
                <a href="@Url.Action(MVC.Home.Employees())">Faculty & Staff
                </a>
            </li>
            <li class="alumni">
                <a href="@Url.Action(MVC.Home.Alumni())">Alumni
                </a>
            </li>
            <li class="students">
                <a href="@Url.Action(MVC.Home.Students())">Students
                </a>
            </li>
            <li class="reps">
                <a href="@Url.Action(MVC.Home.Representatives())">Representatives
                </a>
            </li>
            <li class="travel">
                <a href="@Url.Action(MVC.Home.Travel())">Travel
                </a>
            </li>
            <li class="corporate">
                <a href="@Url.Action(MVC.Home.CorporateEngagement())">Corporate Engagement
                </a>
            </li>
            <li class="press">
                <a href="@Url.Action(MVC.Home.GlobalPress())">Global Press
                </a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="flasher hide" data-bind="element: 'element'">
            <a data-bind="click: dismiss">
                <div class="group">
                    <p class="float-left">
                        <span class="content" data-bind="text: text">@*Here is your feedback message.
                            What happens when this gets longer, much l on g e r, so long t h a t it wraps?*@
                        </span>
                        <span class="dismissal">Click to dismiss</span>
                    </p>
                    <i class="float-right small closer"></i>
                </div>
            </a>
        </div>
    </header>
    <nav style="position: relative; background: blue; z-index: -1;">
        Here is another nav 
    </nav>
    <a href="#/doflash">Add text to flasher</a>
    <div id="main" class="group">
        @RenderBody()
    </div>
    <footer>
        <div>
            This is where the footer stuff will go.
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript" src="@Url.Content(Links.scripts.app.app_js)"></script>
    <script type="text/javascript" src="@Url.Content(Links.Models.FlasherViewModel_js)"></script>

    <script type="text/javascript">
        app.flasher.text('@TempData["Flasher"]');
        $(function () {
            $('nav.modules a').each(function () {
                var $a = $(this);
                $a.on('click', function () {
                    $a.parents('nav.modules').find('li').each(function () {
                        $(this).removeClass('current');
                    });
                    $a.parents('li').addClass('current');
                });
            });
            $('[data-current-module]').each(function () {
                var module = $(this).data('current-module');
                $('nav.modules li.' + module).addClass('current');
            });
            $('nav.modules').removeClass('hide');
        });

        $('a[href="#/doflash"]').on('click', function () {
            app.flasher.text('here is some feedback message.');
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
